<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Galleries</h1>
    <div class="row placeholders">
      <div class="col-xs-12 col-sm-12 col-md-12">
          <%= form_tag admin_galleries_path, method: :get, class: 'form-inline' do %>
          <% if current_user.cross_agency? %>
          <div class="form-group">
            <%= select_tag :agency,  content_tag(:option, "Select an Agency", value: "")+options_from_collection_for_select(Agency.all,:id,:name,params[:agency]) %>
          </div>
          <% end %>
          <div class="form-group">
            <label>Items per page: </label>
            <%= select_tag :per_page, options_for_select([10, 25, 50, 100], selected: cookies[:per_page_count_galleries] || 25) %>
          </div>
          <div class="form-group">
<!--            <%= label_tag(:q, "Search for:") %>            -->
             <%= text_field_tag(:q, params[:q], :placeholder => "Search") %>
            <%= submit_tag "Update", class: 'admin-search-submit form-group-btn' %>
          </div>
          <% end %>          
        </div>
        <div class="paginated-results">           
          <div>                
            <%= paginate @galleries %>
            <%= page_entries_info @galleries %> 
            <text>
              <%= link_to "Add a Gallery", new_admin_gallery_path, :class => "btn btn-default" %>
            </text>
          </div>
          <table class="table table-striped">
          <thead>
          <tr>
            <th>Department</th>
            <th><%= sortable "galleries.name", "Name" %></th>
            <th>Number of Social Media Accounts</th>
            <th>Number of Mobile Products</th>
            <th><%= sortable "updated_at", "Updated At:" %></th>
            <th class = "lastlinks">Actions</th>
          </tr>
          </thead>

          <tbody>
          <% @galleries.each do |gallery| %>
          	<tr class = "tablerow">
              <td class = "outlet_data">
                <ul class="table_list">
                  <% gallery.agencies.each do |agency| %>
                    <li><%= agency.name %></li>
                  <% end %>
                </ul>
              </td>
        	    <td class = "outlet_data"><%= gallery.name %></td>
              <td class = "outlet_data"><%= gallery.outlets.count %></td>
          	  <td class = "outlet_data"><%= gallery.mobile_apps.count %></td>
              <td class = "outlet_data"><%= gallery.updated_at.strftime("%B %e, %Y %H:%M") %></td>
              <td class = "outlet_data lastlinks">
                <ul class = "gly">
                  <li><%= link_to admin_gallery_path(gallery) do %> <i class = "glyphicon glyphicon-info-sign"></i> <% end %></li>
                  <li><%= link_to edit_admin_gallery_path(gallery) do %> <i class = "glyphicon glyphicon-pencil"></i> <% end %></li>
                </ul>
             </td>   
        	 </tr>
          <% end %>
          </tbody>
          </table>
          <div>
            <text>
              <%= link_to "Add a Gallery", new_admin_gallery_path, :class => "btn btn-default" %>
            </text>
            <%= paginate @galleries %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>