<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Galleries</h1>
    <div class="row placeholders">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="paginated-results">           
          <%= link_to "Export Results to CSV", "javascript:export_csv()", class: "pull-right" %>
          <table class="table table-striped" id="data-tables">
          <thead>
          <tr>
            <th>Department</th>
            <th><%= sortable "galleries.name", "Name" %></th>
            <th>Number of Social Media Accounts</th>
            <th>Number of Mobile Products</th>
            <th><%= sortable "updated_at", "Updated At:" %></th>
            <th class = "lastlinks">Actions</th>
          </tr>
          </thead>

          <tbody>
          <% @galleries.each do |gallery| %>
          	<tr class = "tablerow" id="<%= gallery.id %>">
              <td class = "outlet_data">
                <ul class="table_list">
                  <% gallery.agencies.each do |agency| %>
                    <li><%= agency.name %></li>
                  <% end %>
                </ul>
              </td>
        	    <td class = "outlet_data"><%= gallery.name %></td>
              <td class = "outlet_data"><%= gallery.outlets.count %></td>
          	  <td class = "outlet_data"><%= gallery.mobile_apps.count %></td>
              <td class = "outlet_data"><%= gallery.updated_at.strftime("%B %e, %Y %H:%M") %></td>
              <td class = "outlet_data lastlinks">
                <ul class = "gly">
                  <li><%= link_to admin_gallery_path(gallery) do %> <i class = "glyphicon glyphicon-info-sign"></i> <% end %></li>
                  <li><%= link_to edit_admin_gallery_path(gallery) do %> <i class = "glyphicon glyphicon-pencil"></i> <% end %></li>
                </ul>
             </td>   
        	 </tr>
          <% end %>
          </tbody>
          </table>
          <%= link_to "Export Results to CSV", "javascript:export_csv()", class: "pull-right" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_tag galleries_export_admin_galleries_path(format: :csv), method: :post, class: 'hidden', id: "csv_export" do %>
  <%= hidden_field_tag :ids %>
<% end %>

<% content_for :additional_javascript do %>
  <script>
    // var tags = [];
    // $("#tag_tokens").tokenInput("/admin/official_tags/tokeninput.json", {
    //   crossDomain: false,
    //   prePopulate: tags,
    //   preventDuplicates: true
    // });
    var data_tables = null;
    $(document).ready(function() {
       data_tables = $('#data-tables').DataTable({'sDom':'<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>'});
    } );


    all_ids = "";
    function export_csv(){
      rows = $("#data-tables").dataTable().$('tr', {"filter":"applied"});
      all_ids = []
      for(var i =0; i<rows.length; i++){
        all_ids.push(rows[i].id);
      }
      $('#ids').val(all_ids.join(","));
      $('#csv_export').submit();
    }

    function add_tag(id,name){
      $("#tag_tokens").tokenInput("add", {id: id, name: name});
    }    

  </script>
<% end %>