<div class = "row">
	<div class="col-sm-6">
		<h1 class="page-header">Gallery Info</h1>
		<div class="panel panel-default">
	  	<div class="panel-body">
				<%= render partial: "gallery_details", locals: { gallery: @gallery } %>	
			</div>
		</div>  
	</div>
	<div class="col-sm-6">
		<h3><i class="fa fa-clock-o fa-fw"></i> Published Gallery Info</h3>
		<div class="panel panel-default">
	  	<div class="panel-body">
	  		<% if @gallery.published %>
	  			<p>
		  			<strong>API Link</strong>
		  			<%= link_to api_v1_gallery_url(@gallery), 
		  				api_v1_gallery_url(@gallery) %>
		  		</p>
	  			<%= render partial: "gallery_details", locals: { gallery: @gallery.published } %>	
	  		<% else %>
	  			<p>No information is currently published for this gallery.</p>
	  		<% end %>
 			</div>
		</div> 
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="buttonRow">
			<%= link_to "Back to Galleries", admin_galleries_path, {:class => "fa fa-angle-double-left"} %>
			<%= link_to "Edit", edit_admin_gallery_path(@gallery), {:class => "fa fa-pencil"} %>	
			<% if current_user.admin? %>
				<%= link_to 'Publish', publish_admin_gallery_path(@gallery), {:class => "fa fa-bullhorn"} %> 
				<%= link_to 'Archive', archive_admin_gallery_path(@gallery), {:class=> "fa fa-archive"} %>  
			<% else %>
				<%= link_to 'Request Publish', request_publish_admin_gallery_path(@gallery), {:class => "fa fa-bullhorn"} %> 
				<% if @gallery.published %>
				<%= link_to 'Request Archive', request_archive_admin_gallery_path(@gallery), {:class=> "fa fa-archive"} %> 
				<% end %>
			<% end %>
		</div>
	</div>
</div>
<div class = "row">
	<div class = "col-lg-4 col-sm-12 col-md-4">
		<h3><i class="fa fa-user"></i> Contacts</h3>
		<div class="panel panel-default">
	  		<div class="panel-body">
	  			<p>This list comprises everyone listed either as a contact on this gallery.</p>
	  			<ul class="list-group">
	  				<% @gallery.users.each do |user| %>
	  					<li class="list-group-item"><%= user_list_format(user) %></li>
	  				<% end %>
	  			</ul>	  			
	  		</div>
	  	</div>		
	</div>

	<div class = "col-lg-8 col-sm-12 col-md-8">
		<h3><i class="fa fa-clock-o fa-fw"></i> Recent timeline for this Gallery</h3>
		<div class="panel panel-default">
	  		<div class="panel-body">
	  			<ul class="timeline">
	  				<%= render partial: "admin/shared/activities_feed", locals: {activities: @gallery.activities.order("created_at DESC").first(5)} %>
	  			</ul>
	  		</div>
		</div>	
	</div>
</div>
