<%= form_for([:admin,@mobile_app], html: {:class => "grid-row usa-form usa-form--large"}) do |f| %>
  <fieldset class="usa-fieldset">
<p><span class="red">*</span> denotes a required field.</p>
  <div class="form-inset">
    <% if @mobile_app.errors.any? %>
      <div class="usa-alert usa-alert--error" role="alert">
        <div class="usa-alert__body">
          <h3 class="usa-alert__heading">Error: <%= pluralize(@mobile_app.errors.count, "error") %> prohibited this mobile app from being saved</h3>
          <ul>
          <% @mobile_app.errors.full_messages.each do |message| %>
          <li class="usa-alert__text"><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <% @mobile_app.mobile_app_versions.each_with_index do |version, index|%>
      <% if version.errors.any? %>
        <div class="usa-alert usa-alert--error" role="alert">
          <div class="usa-alert__body">
            <h3 class="usa-alert__heading">Error: <%= pluralize(version.errors.count, "error") %> obile app version <%= index + 1 %> from being saved</h3>
            <ul>
            <% version.errors.full_messages.each do |message| %>
            <li class="usa-alert__text"><%= message %></li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>


    <div class="field">
      <%= f.label :name , "Name of App/Website<span class=\"red\">*</span>".html_safe, {class: 'usa-label'} %>
      <%= f.text_field :name, :class => "usa-input" %>
    </div>
    <div class="field">
      <%= f.label :short_description, "Short Description<span class=\"red\">*</span>".html_safe, {class: 'usa-label'} %> 
      <span class="red">200 Character Limit</span><br/>
      <%= f.text_field :short_description, :class => "usa-input" %>
    </div>
    <div class="field">
      <%= f.label :long_description, "Long Description", {class: 'usa-label'} %>
      <span>Should be the same or similar to your app store description</span><br/>
      <%= f.text_area :long_description, :class => "usa-input" %>
    </div>
    <div class="field">
      <%= f.label :icon_url, "Icon URL", {class: 'usa-label'} %>
       <span>Please provide the URL of the app or website’s icon</span><br/>
      <%= f.text_field :icon_url, :class => "usa-input" %>
    </div>
    <div class="field">
      <%= f.label :language, "Language<span class=\"red\">*</span>".html_safe, {class: 'usa-label'} %> 
      <%= f.select :language, options_for_select(language_select_options, @mobile_app.language),{include_blank: "Select"}, {:class => "usa-input"} %>
    </div>
    <div class="field">
      <%= f.label :tag_tokens, "Tags", {class: 'usa-label'} %> 
      <%= f.text_field :tag_tokens, {:class => "usa-input", :value => "" }%>
    </div>
    <div class="field agencies">
      <%= f.label :agency_tokens, "Sponsoring Agencies<span class=\"red\">*</span>".html_safe, {class: 'usa-label'} %> 
      <%= f.text_field :agency_tokens, {:class => "usa-input", :value => ""} %>
    </div>
    <div class="contacts">
      <div class="field">
        <%= f.label :user_tokens, "Contacts<span class=\"red\">*</span>".html_safe, {class: 'usa-label'} %> 
        <%= f.text_field :user_tokens, {:class => "usa-iput", :value => ""} %>
      </div>
    </div>
    <div class="field notes">
      <%= f.label :notes, "Additional Notes:", {class: 'usa-label'} %> 
      <span class="red">Do not include PII content in this field.</span> <br/>
      <%= f.text_area :notes, {:class => "usa-textarea", rows: 5, placeholder: "Suggestion: Include optional contact information." }%>
    </div>
    <div class="versions">
      <%= f.fields_for :mobile_app_versions do |mobile_app_version| %>
        <%= render "mobile_app_version_fields",{ f: mobile_app_version, mav: mobile_app_version } %>
      <% end %>

      <div class="buttonRow">
        <p>Is this mobile product on an additional platform? If yes, Click 'Add Platform Details'</p>
        <%= link_to_add_association "Add Platform Details", f, :mobile_app_versions , {:class => "fa fa-plus"} %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit :class => "usa-button" %>
      <%= link_to 'Cancel', admin_mobile_apps_path, :class => "usa-button usa-button--secondary" %>
    </div>
  </div>
</fieldset>
<% end %>


<% content_for :additional_javascript do %>
  <script>
    $("#mobile_app_agency_tokens").tokenInput("/admin/agencies/tokeninput.json", {
      crossDomain: false,
      prePopulate: <%= raw @mobile_app.agencies.map(&:attributes).to_json %>,
      preventDuplicates: true
    });
    <% user_json = []
      @mobile_app.users.each do |user|
        user_json << {id: user.id, name: user_list_format(user)}
      end%>
    $("#mobile_app_user_tokens").tokenInput("/admin/users/tokeninput.json", {
      crossDomain: false,
      prePopulate: <%= raw user_json.to_json %>,
      preventDuplicates: true
    });

    var tags = [];
    var official_tags = <%= raw @mobile_app.official_tags.to_json %>;
    for(var i =0; i< official_tags.length; i++){
      tags.push({id: official_tags[i]["tag_text"], name: official_tags[i]["tag_text"]})
    }
    $("#mobile_app_tag_tokens").tokenInput("/admin/official_tags/tokeninput.json", {
      crossDomain: false,
      prePopulate: tags,
      preventDuplicates: true
    });

    $('form ').on('click','.version-details',function(e){
      e.preventDefault();
      version_parent = $(this).parent().parent();
      store_url = version_parent.find("input[name$='store_url]']").val();
      version_parent.find(".version-retrieving").removeClass('hidden');
      $.get('/admin/mobile_apps/version_details_for_url',
        { store_url: store_url },
        function(data){
          populate_version_details(data,version_parent);
          version_parent.find(".version-retrieving").addClass('hidden');
        }
      );
    });

    function populate_version_details(data, el){
      if(data["platform"]){
        el.find("[name$='platform]']").val(data["platform"]);
      }
      if(data["version"]){
        el.find("[name$='version_number]']").val(data["version"]);
      }
      // if(data["language"]){
      //   el.find("[name$='language]']").val(data["language"]);
      // }
      if(data["average_rating"]){
        el.find("[name$='average_rating]']").val(data["average_rating"]);
      }
      if(data["number_of_ratings"]){
        el.find("[name$='number_of_ratings]']").val(data["number_of_ratings"]);
      }
      if(data["screenshot"]){
        el.find("[name$='screenshot]']").val(data["screenshot"]);
      }
      if(data["publish_day"]){
        el.find("[name$='publish_date(3i)]']").val(data["publish_day"]);
      }
      if(data["publish_month"]){
        el.find("[name$='publish_date(2i)]']").val(data["publish_month"]);
      }
      if(data["publish_year"]){
       el.find("[name$='publish_date(1i)]']").val(data["publish_year"]);
      }
      if(!data["platform"]){
        if(data["amazon"]){
           version_parent.find(".version-messages").text("Can not pull data from amazon app store, please fill in below.")
        }else{
          version_parent.find(".version-messages").text("No details found for given URL.")
        }
      }
      else{
        version_parent.find(".version-messages").text("Updated retrieved attributes.")
      }
    }


    $('#mobile_app_primary_contact_id').selectize({
        create: false,
        sortField: 'text',
        placeholder: "Select a Contact"
    });

    $('#mobile_app_secondary_contact_id').selectize({
        create: false,
        sortField: 'text',
        placeholder: "Select a Contact"
    });

     $('#mobile_app_primary_agency_id').selectize({
        create: false,
        sortField: 'text',
        placeholder: "Select an Agency"
    });

    $('#mobile_app_secondary_agency_id').selectize({
        create: false,
        sortField: 'text',
        placeholder: "Select an Agency"
    });
  </script>
<% end %>
