<div class="nested-fields">
    <fieldset>
      <legend>Version</legend>
      <div class="field">
        <%= f.label :store_url, "Store URL / Location" %> </br>
        <%= f.text_field :store_url, :class => "form-control formwidth" %>
      </div>
     <div class="field">
          <%= f.label :platform %> </br>
          <%= f.select :platform, options_for_select(MobileAppVersion.all.pluck(:platform).uniq,f.object.platform),{include_blank: "Select"}, {:class => "form-control formwidth"} %>
      </div>
      <div class="field">
        <%= f.label :version_number %> </br>
        <%= f.text_field :version_number, :class => "form-control formwidth" %>
      </div>
      <div class="field">
        <%= f.label :publish_date %> </br>
        <%= f.datetime_field :publish_date, :class => "form-control formwidth" %>
      </div>
      <div class="field">
        <%= f.label :description %> </br>
        <%= f.text_area :description, :class => "form-control formwidth" %>
      </div>
      <div class="field">
        <%= f.label :whats_new %> </br>
        <%= f.text_area :whats_new, :class => "form-control formwidth" %>
      </div>
      <div class="field">
        <%= f.label :screenshot %> </br>
        <%= f.text_area :screenshot, :class => "form-control formwidth" %>
      </div>
      <div class="field">
        <%= f.label :device %> </br>
        <%= f.text_field :device, :class => "form-control formwidth" %>
      </div>
      <div class="field">
          <%= f.label :language %> </br>
          <%= f.select :language, options_for_select([["English","English"],["Spanish","Spanish"]]),{include_blank: "Select"}, {:class => "form-control formwidth"} %>
      </div>
      <div class="field">
        <%= f.label :average_rating %> </br>
        <%= f.text_field :average_rating, :class => "form-control formwidth" %>
      </div>
      <div class="field">
        <%= f.label :number_of_ratings %> </br>
        <%= f.text_field :number_of_ratings, :class => "form-control formwidth" %>
      </div>
      <div class="buttonRow"><%= link_to_remove_association "Remove", f, {:class => "fa fa-times"}  %></div>
  </fieldset>
</div>