<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Mobile Product Registrations</h1>
      <div class="row placeholders">
        <div class="col-xs-12 col-sm-3 col-md-2 verticalTabsWrap">
          <div class="list-group verticalTabs">
            <%= link_to admin_mobile_apps_path, {class: "list-group-item verticalTabs-item #{"active" if params[:platform].nil? }"} do %>
              All
            <%end%>
            <% @platform_counts.each do |key, value| %>
              <%= link_to admin_mobile_apps_path(platform: key), {class: "list-group-item verticalTabs-item #{"active" if key==params[:platform]}"} do %>
                <%= key %>
                <span class="count pull-right"><%= value %></span></br>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 col-md-10 tbldisplay">
          <div>
            <%= paginate @mobile_apps %>
            <%= page_entries_info @mobile_apps %>
            <text>
              <%= link_to "Add a Mobile App", new_admin_mobile_app_path,:class=> "btn btn-default" %>
              Download: <%= link_to "CSV", admin_mobile_apps_path(format: "csv") %> 
            </text>
          </div>
          <table class="table table-striped">
          <thead>
          <tr>
            <th>Agency</th>
            <th><%= sortable "name", "Name" %></th>
            <th>Short Description</th>
            <th>Tags</th>
            <th><%= sortable "status", "Status" %></th>
            <th><%= sortable "updated_at", "Updated At" %></th>
            <th class = "lastlinks">Actions</th>
          </tr>
          </thead>

          <tbody>
          <% @mobile_apps.each do |app| %>
          	<tr class = "tablerow">
              <td class = "table_data"><%= app.agencies.map(&:name).join(', ').upcase %></td>
          	  <td class = "table_data"><%= app.name %></td>
              <td class = "table_data"><%= app.short_description %></td>
              <td class = "table_data"><%= app.official_tags.map(&:to_s).join(', ') %></td>
              <td class = "table_data"><%= app.status.titleize %></td>
              <td class = "table_data"><%= app.updated_at.strftime("%B %e, %Y %H:%M") %></td>
              <td class = "table_data lastlinks">
                <ul class = "gly">
                  <li><%= link_to admin_mobile_app_path(app) do %> <i class = "glyphicon glyphicon-info-sign"></i> <% end %></li>
                  <li><%= link_to edit_admin_mobile_app_path(app) do %> <i class = "glyphicon glyphicon-pencil"></i> <% end %></li>
                  <li class = "destroy"><%= link_to admin_mobile_app_path(app), method: :delete, :class => "delete", confirm: 'Are you certain you want to delete this?' do %><i class = "glyphicon glyphicon-remove"></i> <% end %> </li>
                </ul>
              </td>   
          	</tr>
          <% end %>
          </tbody>
          </table>
          <div>
            <text>
              <%= link_to "Add a Mobile App", new_admin_mobile_app_path,:class=> "btn btn-default" %>
              Download: <%= link_to "CSV", admin_mobile_apps_path(format: "csv") %> 
            </text>
            <%= paginate @mobile_apps %>
          </div>
        </div>
    </div>
  </div>
</div>