<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <%= content_for :page_title do %>Mobile Products<% end %>
    <h1 class="page-header">Mobile Products</h1>
      <div class="row placeholders">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-right: 0;">
          <%= link_to "Export Results to CSV", "javascript:export_csv()", class: "btn btn-default pull-right export" %>
          <%= link_to "Add a Mobile Product", new_admin_mobile_app_path, class: "btn btn-default pull-right" %>
          <%= form_for admin_mobile_apps_path, method: :post, html: { class: 'row', id: 'table-controls'} do %>
          <div class="col-sm-12">
            <%= label :agency_selector, "Agency" %>
            <%= select_tag :agency_selector, options_for_select([["All",""]]+Agency.all.pluck(:name).sort.collect{|agency| [agency,agency]},params[:agency_selector]) %>
          </div>
          <div class="col-sm-6">
            <%= label :platform_selector, "Platform" %>
            <%= select_tag :platform_selector, options_for_select([["All",""],
            ["Android","Android"],
              ["Blackberry","Blackberry"],
              ["iOS","iOS"],
              ["Mobile Web","Mobile Web"],
              ["Windows","Windows"]],params[:platform]) %>
          </div>
          <div class="col-sm-6">
            <% if current_user.admin? %>
            <%= label :status_selector, "Status Selector" %>
            <%= select_tag :status_selector, options_for_select([["All",""]]+Outlet.statuses.collect{|item| [item[0].humanize,item[0].humanize]},params[:status]) %>
            <% else %>
            <%= label :status_selector, "Status Selector", :class => "hidden" %>
            <%= select_tag :status_selector, options_for_select([["All",""]]+Outlet.statuses.collect{|item| [item[0].humanize,item[0].humanize]},"Published"), :class=> "hidden" %>
            <% end %>
          </div>
        <% end %>
          <table class="table table-striped" id="data-tables">
          <thead>
          <tr>
            <th>Agency</th>
            <th>Contacts</th>
            <th>Name</th>
            <th>Last Updated</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
          </table>
          <%= link_to "Export Results to CSV", "javascript:export_csv()", class: "btn btn-default  pull-right export" %>
          <%= link_to "Add a Mobile Product", new_admin_mobile_app_path, class: "btn btn-default pull-right" %>
         </div>
      </div>
    </div>
  </div>
</div>

<%= form_tag admin_mobile_apps_path(format: :csv), method: :post, class: 'hidden', id: "csv_export" do %>
  <%= hidden_field_tag :platform, params[:platform] %>
  <%= hidden_field_tag :ids %>
    <%= hidden_field_tag :agency, params[:agency] %>
  <%= hidden_field_tag :status, params[:status] %>
<% end %>
<% content_for :additional_javascript do %>
<style>
.dataTables_filter{
  display:none;
}
.dataTables_scrollHeadInner{
  padding-left: 0px !important;
}
</style>
  <script>
    var data_tables = null;

     $('#agency_selector').on('change',function(){
      $('#agency').val($('#agency_selector').val());
    });
    $('#status_selector').on('change',function(){
      $('#status').val($('#status_selector').val());

    });
    $('#platform_selector').on('change',function(){
      $('#platform').val($('#platform_selector').val());

    });
    $('#platform_selector, #status_selector, #agency_selector').on('change',function(){
        data_tables.fnFilter($('.dataTables_filter input').val());
     });
    $(document).ready(function() {
       data_tables = $('#data-tables').dataTable({
        "bProcessing": true,
        "serverSide" : true,
        "sAjaxSource" : "/admin/mobile_apps.json",
        "scrollY": "400px",
        "fnServerParams": function ( aoData ) {
          aoData.push( { "name": "platform", "value": $("#platform").val() });
          aoData.push( { "name": "agency", "value" : $('#agency_selector').val()});
          aoData.push( { "name": "status", "value" : $('#status_selector').val()});
        }, 
        "columns": [
          { "data" : "agencies"},
          { "data" : "contacts"},
          { "data" : "name" },
          { "data" : "updated_at"},
          { "data" : "status"}
        ],
        "columnDefs": [
          {
            "render": function(data,type,row){
              return '<a href="/admin/mobile_apps/'+row.DT_RowId+'">'+data+'</a>';
            }, "targets":[2]
          }
        ],
        "order": [[ 3, "desc" ]],
        "initComplete": function(settings, json) {
          $('.export').show();
          $('.dataTables_filter').show();
        },
        'sDom':'<"row"<"col-sm-12"lf>><"row"<"col-sm-12"ip>>rt<"row"<"col-sm-12"ip>><"row"<"col-sm-12"lf>>'});
    });

    all_ids = "";
    function export_csv(){
      rows = $("#data-tables").dataTable().$('tr', {"filter":"applied"});
      all_ids = []
      for(var i =0; i<rows.length; i++){
        all_ids.push(rows[i].id);
      }
      $('#ids').val(all_ids.join(","));
      $('#csv_export').submit();
    }

    function add_tag(name){
      data_tables.fnFilter(name);
    }

  </script>
<% end %>
