<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <%= content_for :page_title do %>Mobile Product Registrations<% end %>
    <h1 class="page-header">Mobile Product Registrations</h1>
      <div class="row placeholders">
        <div class="col-xs-12 col-sm-3 col-md-2 verticalTabsWrap">
          <div class="list-group verticalTabs">
            <%= link_to admin_mobile_apps_path, {class: "list-group-item verticalTabs-item #{"active" if params[:platform].nil? }"} do %>
              All
            <%end%>
            <% @platform_counts.each do |key, value| %>
              <%= link_to admin_mobile_apps_path(platform: key), {class: "list-group-item verticalTabs-item #{"active" if key==params[:platform]}"} do %>
                <%= key %>
                <span class="count pull-right"><%= value %></span></br>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">   
          <%= link_to "Export Results to CSV", "javascript:export_csv()", class: "pull-right export" %>      
          <table class="table table-striped" id="data-tables">
          <thead>
          <tr>
            <th>Department</th>
            <th>Name</th>
            <th>Tags</th>
            <th>Status</th>
            <th>Updated At</th>
            <th class = "lastlinks">Actions</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
          </table>
          <%= link_to "Export Results to CSV", "javascript:export_csv()", class: "pull-right export" %>  
         </div>
      </div>
    </div>
  </div>
</div>

<%= form_tag mobile_apps_export_admin_mobile_apps_path(format: :csv), method: :post, class: 'hidden', id: "csv_export" do %>
  <%= hidden_field_tag :platform, params[:platform] %>
  <%= hidden_field_tag :ids %>
<% end %>
<% content_for :additional_javascript do %>
  <script>
    var data_tables = null;
    $(document).ready(function() {
       data_tables = $('#data-tables').dataTable({
        "ajax" : {
          "url":"/admin/mobile_apps.json",
          "data": function(d){
            d.platform = $('#platform').val();
          }
        },
        "scrollY":        "400px",
        "columns": [
          { "data" : "agencies[, ]"},
          { "data" : "name"},
          { "data" : "tags[, ]"},
          { "data" : "status"},
          { "data" : "updated_at"},
          { "data" : "DT_RowId"}
        ],
        "columnDefs": [
          {
            "render": function(data,type,row){
              return '<a href="/admin/mobile_apps/'+data+'"><i class = \"glyphicon glyphicon-info-sign\"></i></a><a href="/admin/mobile_apps/'+data+'/edit"><i class = \"glyphicon glyphicon-pencil\"></i></a>';
            }, "targets":[5]
          }
        ],
        "order": [[ 5, "desc" ]],
        "initComplete": function(settings, json) {
          $('.export').show();
        },
        'sDom':'<"row"<"col-sm-12"lf>><"row"<"col-sm-12"ip>>rt<"row"<"col-sm-12"ip>><"row"<"col-sm-12"lf>>'});
    });

    all_ids = "";
    function export_csv(){
      rows = $("#data-tables").dataTable().$('tr', {"filter":"applied"});
      all_ids = []
      for(var i =0; i<rows.length; i++){
        all_ids.push(rows[i].id);
      }
      $('#ids').val(all_ids.join(","));
      $('#csv_export').submit();
    }

    function add_tag(name){
      data_tables.fnFilter(name);
    }    

  </script>
<% end %>





