<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Mobile Product Registrations</h1>
      <div class="row placeholders">
        <div class="col-xs-12 col-sm-3 col-md-2 verticalTabsWrap">
          <div class="list-group verticalTabs">
            <%= link_to admin_mobile_apps_path, {class: "list-group-item verticalTabs-item #{"active" if params[:platform].nil? }"} do %>
              All
            <%end%>
            <% @platform_counts.each do |key, value| %>
              <%= link_to admin_mobile_apps_path(platform: key), {class: "list-group-item verticalTabs-item #{"active" if key==params[:platform]}"} do %>
                <%= key %>
                <span class="count pull-right"><%= value %></span></br>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">   
          <%= link_to "Export Results to CSV", "javascript:export_csv()", class: "pull-right" %>      
          <table class="table table-striped" id="data-tables">
          <thead>
          <tr>
            <th> Department</th>
            <th><%= sortable "name", "Name" %></th>
            <th>Tags</th>
            <th><%= sortable "status", "Status" %></th>
            <th><%= sortable "updated_at", "Updated At" %></th>
            <th class = "lastlinks">Actions</th>
          </tr>
          </thead>
          <tbody>
          <% @mobile_apps.each do |app| %>
          	<tr id="<%= app.id%>" class = "tablerow">
              <td class = "table_data">
                <ul class="table_list">
                  <% app.agencies.each do |agency| %>
                    <li><%= agency.name %></li>
                  <% end %>
                </ul>
              </td>
          	  <td class = "table_data"><%= app.name %></td>
              <td class = "table_data">
                <ul class="table_list">
                <% app.official_tags.each do |tag| %>
                  <li><%= link_to tag.tag_text, "javascript:add_tag(#{tag.id},\"#{tag.tag_type.humanize}: #{tag.tag_text}\")" %></li>
                <% end %>
                </ul>
              </td>              
              <td class = "table_data"><%= app.status.titleize %></td>
              <td class = "table_data"><%= app.updated_at.strftime("%B %e, %Y %H:%M") %></td>
              <td class = "table_data lastlinks">
                <ul class = "gly">
                  <li><%= link_to admin_mobile_app_path(app) do %> <i class = "glyphicon glyphicon-info-sign"></i> <% end %></li>
                  <li><%= link_to edit_admin_mobile_app_path(app) do %> <i class = "glyphicon glyphicon-pencil"></i> <% end %></li>
                </ul>
              </td>   
          	</tr>
          <% end %>
          </tbody>
          </table>
          <%= link_to "Export Results to CSV", "javascript:export_csv()", class: "pull-right" %>  
         </div>
      </div>
    </div>
  </div>
</div>

<%= form_tag mobile_apps_export_admin_mobile_apps_path(format: :csv), method: :post, class: 'hidden', id: "csv_export" do %>
  <%= hidden_field_tag :ids %>
<% end %>
<% content_for :additional_javascript do %>
  <script>
    var data_tables = null;
    $(document).ready(function() {
       data_tables = $('#data-tables').DataTable({'sDom':'<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>'});
    } );


    all_ids = "";
    function export_csv(){
      rows = $("#data-tables").dataTable().$('tr', {"filter":"applied"});
      all_ids = []
      for(var i =0; i<rows.length; i++){
        all_ids.push(rows[i].id);
      }
      $('#ids').val(all_ids.join(","));
      $('#csv_export').submit();
    }

  </script>
<% end %>





