<section class="usa-section" id="resources_featured">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row">

      <div class="grid-col-12">
        <%= content_for :page_title do %>Mobile Products<% end %>
        <h1 class="page-header">Mobile Products</h1>
          <div class="grid-row placeholders">
            <div class="grid-col-12">
            <%= form_for admin_mobile_apps_path, method: :post, html: { class: 'grid-row', id: 'table-controls'} do %>
              <div class="grid-col-10 grid-offset-1">
                <p style="margin:0; font-size: .9em; width: 100%; max-width: 100%;">Search for mobile apps using the filters below.  Agency names are based found using keywords from their title, for example "Census" for "Bureau of the Census" to find their exact name in the system. Agencies only appear once they have an account published in the system. The search box below is best used for short terms from the entry in the table, for example "GSA" or an email address. </p>
              </div>
              <div class="grid-col-5 grid-offset-1">
                <%= label :agency_selector, "Agency", {class: 'usa-label'} %>
                <%= select_tag :agency_selector, options_for_select([["All",""]]+Agency.where("published_mobile_app_count > 0").pluck(:name).sort.collect{|agency| [agency,agency]},params[:agency_selector]), {class: 'usa-input'} %>
              </div>
               <div class="grid-col-5 grid-offset-1">
                <%= label :sSearch_selector, "Search by Keywords", {class: 'usa-label'} %>
                <%= text_field_tag :sSearch_selector, params[:sSearch],{class: 'usa-input'} %>
              </div>
              <div class="grid-col-5 grid-offset-1">
                <%= label :platform_selector, "Platform", {class: 'usa-label'} %>
                <%= select_tag :platform_selector, options_for_select([["All",""],
                ["Android","Android"],
                  ["Blackberry","Blackberry"],
                  ["iOS","iOS"],
                  ["Mobile Web","Mobile Web"],
                  ["Windows","Windows"]],params[:platform]), {class: 'usa-input'} %>
              </div>
              <div class="grid-col-5 grid-offset-1">
                <% if current_user.admin? || params[:status] %>
                <%= label :status_selector, "Status Selector", {class: 'usa-label'} %>
                <%= select_tag :status_selector, options_for_select([["All",""],["Published","Published"],["Archived","Archived"]],params[:status]), {class: 'usa-input usa-select'} %>
                <% else %>
                <%= label :status_selector, "Status Selector", {class: 'usa-label'} %>
                <%= select_tag :status_selector, options_for_select([["All",""],["Published","Published"],["Archived","Archived"]],"Published"), {class: 'usa-input usa-select'} %>
                <% end %>
              </div>
              <div class="grid-col-5 grid-offset-1"><br/>
                <%= link_to "Export Results to CSV", "javascript:export_csv()", class: "btn btn-default export" %>
                <p style="margin:0; font-size: .9em; width: 100%; max-width: 100%;">A maximum of 1000 records can be exported at a time. </p>
              </div>
            <% end %>
              <table class="table table-striped" id="data-tables">
              <thead>
              <tr>
                <th>Agency</th>
                <th>Contacts</th>
                <th>Name</th>
                <th>Last Updated</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
              </table>
             </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<%= form_tag mobile_apps_export_admin_mobile_apps_path(format: :csv), method: :post, class: 'hidden', id: "csv_export" do %>
  <%= hidden_field_tag :platform, params[:platform] %>
  <%= hidden_field_tag :ids %>
  <%= hidden_field_tag :agency, params[:agency] %>
  <%= hidden_field_tag :sSearch, params[:sSearch] %>
  <%= hidden_field_tag :status, params[:status] %>
<% end %>
<% content_for :additional_javascript do %>
<style>
.dataTables_filter{
  display:none;
}
.dataTables_scrollHeadInner{
  padding-left: 0px !important;
}
</style>
  <script>
    var data_tables = null;
    $('#agency_selector').selectize({
        sortField: 'text'
    });
    $('#agency_selector').on('change',function(){
      $('#agency').val($('#agency_selector').val());
    });
    $('#status_selector').on('change',function(){
      $('#status').val($('#status_selector').val());

    });
    $('#sSearch_selector').on('change',function(){
      $('#sSearch').val($('#sSearch_selector').val());

    });
    $('#platform_selector').on('change',function(){
      $('#platform').val($('#platform_selector').val());

    });
    $('#platform_selector, #status_selector, #agency_selector').on('change',function(){
        data_tables.fnFilter($('.dataTables_filter input').val());
     });
    $('#sSearch_selector').on('keyup',function(){
       data_tables.fnFilter($('.dataTables_filter input').val());
    });
    $(document).ready(function() {
       data_tables = $('#data-tables').dataTable({
        "bProcessing": true,
        "serverSide" : true,
        "sAjaxSource" : "/admin/mobile_apps.json",
        "fnServerParams": function ( aoData ) {
          aoData.push( { "name": "platform", "value": $("#platform_selector").val() });
          aoData.push( { "name": "agency", "value" : $('#agency_selector').val()});
          aoData.push( { "name": "status", "value" : $('#status_selector').val()});
           aoData.push( { "name": "sSearch", "value" : $('#sSearch_selector').val()});
        },
        "columns": [
          { "data" : "agencies"},
          { "data" : "contacts"},
          { "data" : "name" },
          { "data" : "updated_at"},
          { "data" : "status"}
        ],
        "columnDefs": [
          {
            "render": function(data,type,row){
              return '<a href="/admin/mobile_apps/'+row.DT_RowId+'">'+data+'</a>';
            }, "targets":[2]
          }
        ],
        "order": [[ 3, "desc" ]],
        "initComplete": function(settings, json) {
          $('.export').show();
          $('.dataTables_filter').show();
        },
        'sDom':'<"grid-row"<"grid-col-5 grid-offset-1"l>><"grid-row"<"grid-col-10 grid-offset-1"pi>>rt<"grid-row"<"grid-col-10 grid-offset-1"ip>><"grid-row"<"grid-col-10 grid-offset-1">>'});
    });

    all_ids = "";
    function export_csv(){
      rows = $("#data-tables").dataTable().$('tr', {"filter":"applied"});
      all_ids = []
      for(var i =0; i<rows.length; i++){
        all_ids.push(rows[i].id);
      }
      $('#ids').val(all_ids.join(","));
      $('#csv_export').submit();
    }

    function add_tag(name){
      data_tables.fnFilter(name);
    }

  </script>
<% end %>
