<div class = "row">
	<div class="col-sm-6">
		<h1 class="page-header">Mobile Product Info</h1>
		<div class="panel panel-default">
	  	<div class="panel-body">
				<%= render partial: "mobile_app_details", locals: { mobile_app: @mobile_app } %>	
			</div>
		</div>  
	</div>
	<div class="col-sm-6">
		<h3><i class="fa fa-clock-o fa-fw"></i> Published Mobile Product Info</h3>
		<div class="panel panel-default">
	  	<div class="panel-body">
	  		<% if @mobile_app.published %>
	  			<p>
		  			<strong>API Link</strong>
		  			<%= link_to api_v1_mobile_app_url(@mobile_app), 
		  				api_v1_mobile_app_url(@mobile_app) %>
		  		</p>
	  		<%= render partial: "mobile_app_details", locals: { mobile_app: @mobile_app.published } %>	
	  		<% else %>
	  			<p>No information is currently published for this mobile product.</p>
	  		<% end %>
 			</div>
		</div> 
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="buttonRow">
			<%= link_to "Back to Mobile Products", admin_mobile_apps_path, {:class => "fa fa-angle-double-left"} %>		
			<%= link_to "Edit", edit_admin_mobile_app_path(@mobile_app), {:class => "fa fa-pencil"} %>
			<%#= link_to "History", history_admin_mobile_app_path(@mobile_app), {:class => "fa fa-history "} %>
			<% if current_user.admin? %>
				<%= link_to 'Publish', publish_admin_mobile_app_path(@mobile_app), {:class => "fa fa-bullhorn"} %> 
				<%= link_to 'Archive', archive_admin_mobile_app_path(@mobile_app), {:class=> "fa fa-archive"} %>  
			<% else %>
				<%= link_to 'Request Publish', request_publish_admin_mobile_app_path(@mobile_app), {:class => "fa fa-bullhorn"} %> 
				<% if @mobile_app.published %>
					<%= link_to 'Request Archive', request_archive_admin_mobile_app_path(@mobile_app), {:class=> "fa fa-archive"} %>  
				<% end %>
    	<% end %>
		</div>
	</div>
</div>
<div class = "row container">
	<div class="col-lg-4 col-sm-12 col-md-4">
    <h3><i class="fa fa-user"></i> Contacts</h3>
		<div class="panel panel-default">
	  	<div class="panel-body">
	  		<p>This list comprises everyone listed either as a contact on this mobile app.</p>
	  		<ul class="list-group">
	  			<% @mobile_app.users.each do |user| %>
	  					<li class="list-group-item"><%= user_list_format(user) %></li>
	  			<% end %>
	  		</ul>
	  	</div>
		</div>
	</div>
	<div class="col-lg-8 col-sm-12 col-md-8">
    <h3><i class="fa fa-clock-o fa-fw"></i> Recent timeline for this Mobile Product</h3>
		<div class="panel panel-default">
	  	<div class="panel-body">
	  		<ul class="timeline">
	  			<%= render partial: "admin/shared/activities_feed", locals: {activities: @mobile_app.activities.order("created_at DESC").first(5)} %>
	  		</ul>
	  	</div>
		</div>
	</div>
</div>
