<div class = "row">
	<div class="col-sm-12 col-md-12 main">
		<h3><i class="fa fa-clock-o fa-fw"></i> Mobile App Info</h3>
		<div class="panel panel-default">
	  		<div class="panel-body">
				<p>
				  <strong>Name:</strong>
				  <%= @mobile_app.name %>
				</p>

				<p>
				  <strong>Short Description:</strong>
				  <%= @mobile_app.short_description %>
				</p>

				<p>
				  <strong>Long Description:</strong>
				  <%= @mobile_app.long_description %>
				</p>
 				<div class="buttonRow">
					<%= link_to "Back to Mobile Apps", admin_mobile_apps_path, {:class => "fa fa-angle-double-left"} %>		
					<%= link_to "Edit", edit_admin_mobile_app_path(@mobile_app), {:class => "fa fa-pencil"} %>
					<%= link_to "History", history_admin_mobile_app_path(@mobile_app), {:class => "fa fa-history "} %>
					<% if !@mobile_app.published? %>
						<%= link_to 'Publish', publish_admin_mobile_app_path(@mobile_app), {:class => "fa fa-bullhorn"} %> 
					<% end %>
					<% if !@mobile_app.archived? %>
						<%= link_to 'Archive', archive_admin_mobile_app_path(@mobile_app), {:class=> "fa fa-archive"} %>  
	      	<% end %>
    		</div>
			</div>
      
		</div>
       
	</div>
</div>

<div class = "row container col-sm-12 col-md-12">
	<div class="col-lg-4 col-sm-12 col-md-4">
    <h3><i class="fa fa-user"></i> Contacts</h3>
		<div class="panel panel-default">
	  	<div class="panel-body">
	  		<p>This list comprises everyone listed either as a contact on this mobile app.</p>
	  		<ul class="list-group">
	  			<% @mobile_app.users.each do |user| %>
	  					<li class="list-group-item"><%= user_list_format(user) %></li>
	  			<% end %>
	  		</ul>
	  	</div>
		</div>
	</div>
	<div class="col-lg-8 col-sm-12 col-md-8">
    <h3><i class="fa fa-clock-o fa-fw"></i> Recent timeline for this Mobile App</h3>
		<div class="panel panel-default">
	  	<div class="panel-body">
	  		<ul class="timeline">
	  			<%= render partial: "admin/shared/activities_feed", locals: {activities: @mobile_app.activities.order("created_at DESC").first(5)} %>
	  		</ul>
	  	</div>
		</div>
	</div>
</div>
