<%= content_for :page_title do  %> U.S. Digital Registry - Facebook Stats <% end %>

<style>
  .list-group-item{
    padding: 5px;
    font-size: 12px;
  }
</style>
<h1 class="page-title">U.S. Digital Registry - Facebook Stats</h1>
<div class="row">
  <div class="col-sm-6">
    <p>Total Followers: <%=  number_with_delimiter(Outlet.where(service: "facebook").where("draft_id IS NOT NULL").sum(:facebook_followers), :delimiter => ',') %> </p>
  </div>
  <div class="col-sm-6">
    <p>Average Followers: <%=  number_with_delimiter(Outlet.where(service: "facebook").where("draft_id IS NOT NULL").average(:facebook_followers), :delimiter => ',') %> </p>
  </div>
</div>
<!-- <div class="row">
  <div class="col-sm-6">
    <p>Total Likes: <%=  number_with_delimiter(Outlet.where(service: "facebook").where("draft_id IS NOT NULL").sum(:facebook_likes), :delimiter => ',') %> </p>
  </div>
  <div class="col-sm-6">
    <p>Average Likes: <%=  number_with_delimiter(Outlet.where(service: "facebook").where("draft_id IS NOT NULL").average(:facebook_likes), :delimiter => ',') %> </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <p>Total Posts: <%=  number_with_delimiter(Outlet.where(service: "facebook").where("draft_id IS NOT NULL").sum(:facebook_posts), :delimiter => ',') %> </p>
  </div>
  <div class="col-sm-6">
    <p>Average Posts: <%=  number_with_delimiter(Outlet.where(service: "facebook").where("draft_id IS NOT NULL").average(:facebook_posts), :delimiter => ',') %> </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <p>Total Interactions: <%=  number_with_delimiter(Outlet.where(service: "facebook").where("draft_id IS NOT NULL").sum(:facebook_interactions), :delimiter => ',') %> </p>
  </div>
  <div class="col-sm-6">
    <p>Average Interactions: <%=  number_with_delimiter(Outlet.where(service: "facebook").where("draft_id IS NOT NULL").average(:facebook_interactions), :delimiter => ',') %> </p>
  </div>
</div> -->
<div class="row">
  <div class="col-sm-6">
    <h2>Most Followers</h2>
    <ul class="list-group smaller">
      <% index = 1
       Outlet.where(service: "facebook").where("draft_id IS NOT NULL").order('facebook_followers desc').first(5).each do |outlet| %>
      <li class="list-group-item"><%= "#{index}. #{outlet.organization} - #{outlet.facebook_followers}" %></li>
      <% index = index + 1
      end %>
    </ul>
    
  </div>
  <div class="col-sm-6">
    <h2>Least Followers</h2>
    <ul class="list-group smaller">
      <% index = 1
       Outlet.where(service: "facebook").where("draft_id IS NOT NULL").order('facebook_followers asc').first(5).each do |outlet| %>
      <li class="list-group-item"><%= "#{index}. #{outlet.organization} - #{outlet.facebook_followers}" %></li>
      <% index = index + 1
      end %>
    </ul>
  </div>
</div>
<div class="row">
  <h2>Facebook Accounts</h2>
  <div class="col-sm-12">
    <table id="facebook-data">
      <thead>
        <tr>
          <th>Name</th>
          <th>Facebook Followers</th>
      <!--     <th>Facebook Likes</th> -->
         <!--  <th>Facebook Posts</th>
          <th> Facebook Interactions</th>-->
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Facebook Followers</th>
          <!-- <th>Facebook Likes</th>
          <th>Facebook Posts</th>
          <th>Facebook Interactions</th> -->
        </tr>
      </tfoot>
      <tbody>
        <% Outlet.where(service: "facebook").where("draft_id IS NOT NULL").all.each do |outlet| %>
        <tr>
          <td><%= link_to outlet.organization, outlet.service_url, :target => "_blank" %></td>
          <td><%= outlet.facebook_followers %></td>
        <!--   <td><%= outlet.facebook_likes %></td>
          <td><%= outlet.facebook_posts %></td>
          <td><%= outlet.facebook_interactions %></td> -->
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

  
<div style="clear:both;"></div>


<% content_for :additional_javascript do %>
  <script type="text/javascript">
  $(document).ready(function() {
      $('#facebook-data').DataTable( {
        "order": [[ 1, "desc" ]]
    } );
  } );
</script>
<% end %>