<div class="page-header">
  <h2><%= @page_title %></h2>
</div>

<div class="row">
  <div class="span11">
    <% if @agency %>
    <h5>Social Media Accounts Managed by the <%= @agency.name %></h5>
    <% else %>
    <!-- <h4>Social Media Accounts Managed by the U.S. Federal Government</h4> -->
    <% end %>
  
    <% if @agency && @outlets.empty? %>
    <div class="no_results">
      <p class="label label-warning">No Registered Social Media Accounts</p>
      <p>No one has registered any social media accounts managed by the <%= @agency.name %>.</p>
      <p>If you know of any social media accounts managed by the <%= @agency.name %> and have a .gov or .mil email address, you can add them to the Social Media Registry.
      <p>Enter your email address and phone number below and we will send you a link to add them.</p>
    </div>

    <%= form_tag({:controller => "howto_tokens", :action => "create"}) do %>
      <fieldset>
        <label for="email">Email:</label>
        <%= text_field_tag('email', '', :class => "span5") %>
        <label for="phone">Phone:</label>
        <%= text_field_tag('phone', '', :class => "span5") %><br>
        <input type="submit" class="btn" value="Submit">
      </fieldset>
    </form>
    <hr>

    <% end %>

    <% elsif @agency %>

    <% if flash[:alert] %>

    <p class="span10 alert alert-warning">
      <%= flash[:alert] %>
    </p>
  
    <% elsif flash[:notice] %>
  
    <p class="span10 alert">
      <strong><%= flash[:shortnotice] %></strong> <%= flash[:notice] %>
    </p>
  
    <% end %>
  
    <%= paginate @outlets, :param_name => :page_number %>

    <table class="table">
      <thead>
      <tr>
        <th>Account URL</th>
        <th>Managing Organization</th>
        <th>Last Updated</th>
        <% if current_token %>
        <th>Actions</th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @outlets.each do |outlet| %>
        <tr>
          <td><a href="<%= outlet.service_url %>" target="_blank"><%= outlet.service_url %></a></td>
          <td>
          <% if outlet.info_url.present? %>
          <a href="<%= outlet.info_url %>"><%= outlet.organization %></a>
          <% else %>
          <%= outlet.organization %>
          <% end %>
          </td>
          <td><%= outlet.updated_at.to_s(:human) %></td>
          <% if current_token %>
          <td><a class="btn" href="<%= howto_add_outlet_path :service_url => outlet.service_url, :auth_token => current_token.token   %>" target="_blank">Edit</a></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
    
    <%= paginate @outlets, :param_name => :page_number %>

    <% unless current_token %>
    
    <div>  
      <p>If you have a .gov or .mil email address, you can make changes to these listings. Enter your email address and phone number below and we will send you a link to edit them.</p>
    
      <%= form_tag({:controller => "howto_tokens", :action => "create"}) do %>
    
      <div class="clearfix">
          <label for="email">Email:</label>
          <div class="input">
              <%= text_field_tag('email', '', :class => "span5") %>
          </div>
      </div>
    
      <div class="clearfix">
          <label for="phone">Phone:</label>
          <div class="input">
              <%= text_field_tag('phone', '', :class => "span5") %>
          </div>
      </div>
    
      <%= hidden_field_tag('goto', 'browse') %>
      <%= hidden_field_tag('agency_id', params[:agency_id]) %>
    
      <div class="actions">
          <input type="submit" class="btn" value="Submit">
      </div>
      <% end %> <!-- form -->
    </div>
    
    <hr>
    <% end %> <%# end unless current_token %>
      
    <% end %> <%# end if @agency %>
  
    <form action="" method="GET" class="form-inline">
      <fieldset>
        <label for="agency_id">Select an<%= @agency ? 'other' : '' %> agency to see its social media accounts:</label>
        <%= select_tag "agency_id", options_from_collection_for_select(@agencies, "shortname", "name_with_count", [params[:agency_id]]), :class => "span8", :tabindex => "1" %>
        
        <% if current_token %>
        <%= hidden_field_tag 'auth_token', current_token.token %>
        <% end %>

        <button class="btn" type="submit">Look Up Social Media Accounts</button>
      </fieldset>
  </div>
</div>