<div class="span14">
    <% if @outlet %>
        
    <% if flash[:notice] %>
    <div class="span14 alert-message block-message success">
        <p>
            <strong><%= flash[:shortnotice] %></strong> <%= flash[:notice] %>
        </p>
    </div>
    <% end %>

    <% if @outlet.verified? %>
    <div class="row">
    <table class="span12 table">
        <thead>
            <tr><th colspan="4">Information about <a href="<%= @outlet.service_url %>"><%= @outlet.service_info.display_name %></a></th></tr>
        </thead>
        <tbody>
            <tr><td class="span6">Organization or Program:</td><td><strong><%= @outlet.organization %></strong></td></tr>
            <tr><td>Website URL:</td><td><strong><%= link_to @outlet.info_url, @outlet.info_url %></strong></td></tr>
            <tr><td>Sponsoring top-level <%= pluralize_word(@outlet.agencies.count, 'Agency') %>:</td><td><strong><%= @outlet.agencies.join(", ") %></strong></td></tr>
            <tr><td>Tags:</td><td><strong><%= @outlet.tag_list.join(", ") %></strong></td></tr>
            <tr><td>Language:</td><td><strong><%= @outlet.language %></strong></td></tr>
            <tr><td>Last updated by:</td><td><strong><%= @outlet.masked_updated_by %></strong></td></tr>
            <tr><td>Last updated on:</td><td><strong><%= @outlet.updated_at.to_s(:human) %></strong></td></tr>    
        </tbody>
    </table>
	</div>
    <hr>
    
<% if @current_token %>
		<div role="search" id="verify-another">
			<%= form_tag({:action => "add"}, :method => :get, :class => 'form-stacked') do %>
			<p><label for="service-url">To register another social media account, please paste its complete URL here:</label></p>
			<input id="service-url" name="service_url" class="verify-url-field span8" type="text" value="<%= params[:service_url] %>">
			<%= hidden_field_tag('auth_token', @current_token.token) %>
			<button class="verify-button btn primary" type="submit">Look Up</button>
			<p class="help-block">Example: http://twitter.com/whitehouse</p>
			<% end %>
		</div>

<% else %>
    <div>
        
        <p>If you have a .gov or .mil email address, you can make changes to this listing. Enter your email address and phone number below and we will send you a link to edit it.</p>

        <%= form_tag({:controller => "auth_tokens", :action => "create"}) do %>

        <div class="clearfix">
            <label for="email">Email:</label>
            <div class="input">
                <%= text_field_tag('email', '', :class => "span5") %>
            </div>
        </div>

        <div class="clearfix">
            <label for="phone">Phone:</label>
            <div class="input">
                <%= text_field_tag('phone', '', :class => "span5") %>
            </div>
        </div>

        <%= hidden_field_tag('service_url', @outlet.service_url) %>

        <div class="actions">
            <input type="submit" class="btn" value="Submit">
        </div>
        <% end %>
    </div>
    
<% end %>

    <% else %>

    <div class="row">
        <p class="span14 alert-message warning">
            <a href="<%= @outlet.service_url %>"><%= @outlet.service_url %></a> has <strong>not</strong> been registered as an official U.S. government account.
        </p>
    </div>

    <hr>
    
<% if @current_token %>

	<div role="search" id="verify-another">
    <%= form_tag({:action => "add"}, :method => :get, :class => 'form-stacked') do %>
		<p><label for="service-url">To register a social media account, please paste its complete URL here:
		</label></p>
		
		<input id="service-url" name="service_url" class="verify-url-field span8" type="text" value="<%= params[:service_url] %>">
        <%= hidden_field_tag('auth_token', @current_token.token) %>
        <button class="verify-button btn primary" type="submit">Look Up</button>
		<p class="help-block">Example: http://twitter.com/whitehouse</p>
    <% end %>
	</div>

<% else %>
    <div class="span8">
        <p>If you know that <em><%= @outlet.service_info.display_name %></em> is an official U.S. federal government social media account, you can add it to this registry. Enter your official government (.gov or .mil) email address and phone number below and we'll send you a link so you can add it to the registry.</p>
        
        <%= form_tag({:controller => "auth_tokens", :action => "create"}) do %>

        <div class="clearfix">
            <label for="email">Official Government Email Address:</label>
            <div class="input">
                <%= text_field_tag('email', '', :class => "span5") %>
            </div>
        </div>

        <div class="clearfix">
            <label for="phone">Phone:</label>
            <div class="input">
                <%= text_field_tag('phone', '', :class => "span5") %>
            </div>
        </div>

        <%= hidden_field_tag('service_url', @outlet.service_url) %>

        <div class="actions">
                <p><span class="label important">Important!</span> Important! You should only add accounts managed by federal agencies (including elected officials and Cabinet members) into the USA.gov Social Media Registry.</p>
                <p><strong>Do not register any accounts that represent non-government organizations or individual people, even if they are government employees.</strong></p>

            <input type="submit" class="btn" value="Submit">
        </div>

        <% end %>
    </div>
<% end %>
<% end %>

<% else %>
<h3>Register official U.S. government social media accounts</h3>
<div class="span8">
<p>Social media tools like Twitter, Facebook, and YouTube are now standard tools used by the government to connect with people and communicate official  information. Because of this, it is important to know if a social media account is really managed by the government or not.</p>
<p>This service is designed to make it easy for you to register a social media account as officially managed by the U.S. government.</p>
</div>
</div>
</div>

<hr>

<% if flash[:alert] %>

  <p class="span10 alert-message warning">
    <%= flash[:alert] %>
  </p>

<% end %>


<div class="row">
    <div class="span14">
        <p><b>To see if a social media account is listed in the official registry, please paste its complete URL here:</b></p>
        <%= form_tag({:action => "verify"}, :method => :get) do %>
            <input type="text" name="service_url" class="span5" value="<%= params[:service_url] %>">
            <button class="btn primary" type="submit">Look up</button>
        <% end %>
        <p>Example: http://twitter.com/whitehouse</p>
    </div>
    <div class="span4 offset1">
        <p><b>Types of accounts we can register:</b></p>
        <%= render "shared/services_list" %>
    </div>
</div>
<% end %>

</div>