<%= content_for :page_title do  %> U.S. Digital Registry - YouTube Stats <% end %>

<style>
  .list-group-item{
    padding: 5px;
    font-size: 12px;
  }
</style>
<h1 class="page-title">U.S. Digital Registry - YouTube Stats</h1>
<div class="row">
  <div class="col-sm-6">
    <p>Total Subscribers: <%=  number_with_delimiter(Outlet.where(service: "youtube").where("draft_id IS NOT NULL").sum(:youtube_subscribers), :delimiter => ',') %> </p>
  </div>
  <div class="col-sm-6">
    <p>Average Subscribers: <%=  number_with_delimiter(Outlet.where(service: "youtube").where("draft_id IS NOT NULL").average(:youtube_subscribers), :delimiter => ',') %> </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <p>Total Videos: <%=  number_with_delimiter(Outlet.where(service: "youtube").where("draft_id IS NOT NULL").sum(:youtube_video_count), :delimiter => ',') %> </p>
  </div>
  <div class="col-sm-6">
    <p>Average Videos: <%=  number_with_delimiter(Outlet.where(service: "youtube").where("draft_id IS NOT NULL").average(:youtube_video_count), :delimiter => ',') %> </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <p>Total Views: <%=  number_with_delimiter(Outlet.where(service: "youtube").where("draft_id IS NOT NULL").sum(:youtube_view_count), :delimiter => ',') %> </p>
  </div>
  <div class="col-sm-6">
    <p>Average Views: <%=  number_with_delimiter(Outlet.where(service: "youtube").where("draft_id IS NOT NULL").average(:youtube_view_count), :delimiter => ',') %> </p>
  </div>
</div> 
<div class="row">
  <div class="col-sm-6">
    <p>Total Comments: <%=  number_with_delimiter(Outlet.where(service: "youtube").where("draft_id IS NOT NULL").sum(:youtube_comment_count), :delimiter => ',') %> </p>
  </div>
  <div class="col-sm-6">
    <p>Average Comments: <%=  number_with_delimiter(Outlet.where(service: "youtube").where("draft_id IS NOT NULL").average(:youtube_comment_count), :delimiter => ',') %> </p>
  </div>
</div> 
<div class="row">
  <div class="col-sm-6">
    <h2>Most Followers</h2>
    <ul class="list-group smaller">
      <% index = 1
       Outlet.where(service: "youtube").where("draft_id IS NOT NULL").order('youtube_subscribers desc').first(5).each do |outlet| %>
      <li class="list-group-item"><%= "#{index}. #{outlet.organization} - #{outlet.youtube_subscribers}" %></li>
      <% index = index + 1
      end %>
    </ul>
    
  </div>
  <div class="col-sm-6">
    <h2>Least Followers</h2>
    <ul class="list-group smaller">
      <% index = 1
       Outlet.where(service: "youtube").where("draft_id IS NOT NULL").order('youtube_subscribers asc').first(5).each do |outlet| %>
      <li class="list-group-item"><%= "#{index}. #{outlet.organization} - #{outlet.youtube_subscribers}" %></li>
      <% index = index + 1
      end %>
    </ul>
  </div>
</div>
<div class="row">
  <h2>All YouTube Accounts</h2>
  <div class="col-sm-12">
    <table id="youtube-data">
      <thead>
        <tr>
          <th>Name</th>
          <th>YouTube Subscribers</th>
          <th>YouTube Videos</th>
          <th>YouTube Views</th>
          <th>YouTube Comments</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>YouTube Subscribers</th>
          <th>YouTube Videos</th>
          <th>YouTube Views</th>
          <th>YouTube Comments</th>
        </tr>
      </tfoot>
      <tbody>
        <% Outlet.where(service: "youtube").where("draft_id IS NOT NULL").all.each do |outlet| %>
        <tr>
          <td><%= link_to outlet.organization, "https://youtube.com/#{outlet.account}", :target=> "_blank" %></td>
          <td><%= outlet.youtube_subscribers %></td>
          <td><%= outlet.youtube_video_count %></td>
          <td><%= outlet.youtube_view_count %></td>
          <td><%= outlet.youtube_comment_count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

  
<div style="clear:both;"></div>


<% content_for :additional_javascript do %>
  <script type="text/javascript">
  $(document).ready(function() {
      $('#youtube-data').DataTable( {
        "order": [[ 1, "desc" ]]
    } );
  } );
</script>
<% end %>