
<%= form_for([:admin,@outlet]) do |f| %>
  <p><span class="red">*</span> denotes a required field.</p>
  <div class="form-inset">
     
    <% if @outlet.errors.any? %>
      <div id="error_explanation">

        <div class="error"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span><%= pluralize(@outlet.errors.count, "error") %> prohibited this social media account from being saved</div>

        <ul class="inlineErrorMsgs">
        <% @outlet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="field">
      <%= f.label :service, "Account Platform" %><span class="red">*</span> </br>
      <% if @outlet.try(:service).try(:archived?) %>
        <%= f.select :service, options_for_select(Admin::Service.every.map{|item| [item.longname.humanize,item.shortname,{"data-format-helper" =>item.service_url_example}]}, selected: @outlet.service),{include_blank: "Select"}, {:class => "form-control formwidth"} %>
      <% else %>
        <%= f.select :service, options_for_select(Admin::Service.unarchived.map{|item| [item.longname,item.shortname,{"data-format-helper" =>item.service_url_example}]}, selected: @outlet.service),{include_blank: "Select"}, {:class => "form-control formwidth"} %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :service_url, "Account URL" %><span class="red">*</span> Format Help - <span id="format-help">pick an account type for format help</span></br>
      <%= f.text_field :service_url, :class => "form-control formwidth" %>
      <%= f.hidden_field :account %>
    </div>
    <div class="field">
      <%= f.label :organization, "Account Name" %><span class="red">*</span>  </br>
      <%= f.text_field :organization, :class => "form-control formwidth" %>
    </div>

    <div class="field">
      <%= f.label :short_description, "Short Description" %> <span class="red">*</span></br>
      <%= f.text_field :short_description, :class => "form-control formwidth" %>
    </div>
    <div class="field">
      <%= f.label :long_description, "Long Description"  %> </br>
      <%= f.text_area :long_description, :class => "form-control formwidth" %>
    </div>
    <div class="field">
      <%= f.label :language, "Language" %><span class="red">*</span>  </br>
      <%= f.select :language, options_for_select(language_select_options, @outlet.language), {include_blank: "Select"}, {:class => "form-control formwidth"} %>
    </div>
    <div class="field">
      <%= f.label :tag_tokens, "Tags" %> </br>
      <%= f.text_field :tag_tokens, {:class => "form-control formwidth", :value => "" }%>
    </div>
    <div class="field contacts">
      <%= f.label :primary_agency_id, "Primary Agency" %><span class="red">*</span> </br>
      <%= f.select :primary_agency_id, Agency.all.collect {|p| [ "#{p.name} #{p.shortname}", p.id ] }, {:class => "form-control formwidth", :value => "",:prompt => "Select an Agency" }%>
    </div>
    <div class="field contacts">
      <%= f.label :secondary_agency_id, "Secondary Agency" %><span class="red">*</span> </br>
      <%= f.select :secondary_agency_id, Agency.all.collect {|p| [ "#{p.name} #{p.shortname}", p.id ] },{:class => "form-control formwidth", :value => "",:prompt => "Select an Agency" }%>
    </div>
    <div class="field agencies">
      <%= f.label :agency_tokens, "Additional Agencies" %><span class="red">*</span> </br>
      <%= f.text_field :agency_tokens, {:class => "form-control formwidth agencies", :value => ""} %>
    </div>
    <div class="field contacts">
      <%= f.label :primary_contact_id, "Primary Contact" %><span class="red">*</span> </br>
      <%= f.select :primary_contact_id, User.all.collect {|p| [ "#{p.first_name} #{p.last_name} - #{p.email}", p.id ] }, {:class => "form-control formwidth", :value => "",:prompt => "Select a Contact" }%>
    </div>
    <div class="field contacts">
      <%= f.label :secondary_contact_id, "Secondary Contact" %><span class="red">*</span> </br>
      <%= f.select :secondary_contact_id, User.all.collect {|p| [ "#{p.first_name} #{p.last_name} - #{p.email}", p.id ] },{:class => "form-control formwidth", :value => "",:prompt => "Select a Contact" }%>
    </div>
    <div class="field contacts">
      <%= f.label :user_tokens, "Additional Contacts" %>
      <%= f.text_field :user_tokens, {:class => "form-control formwidth", :value => "" }%>
    </div>
    <div class="field notes">
      <%= f.label :notes, "Additional Notes:" %> <span class="red">Do not include any PII in this field</span><br/>
      <%= f.text_area :notes, {:class => "form-control formwidth", :value => "", rows: 5 }%>
    </div>
    <br/>
    <div class="actions">
      <%= f.submit :class => "btn btn-primary" %>
      <%= link_to 'Cancel', admin_outlets_path, {:class=>"btn btn-default", role: "button"} %>
    </div>
  </div>

<% end %>

<% content_for :additional_javascript do %>
  <style>
  .form-control{
    padding: 0 !important;
    margin: 0 !important;
  }
  .selectize-dropdown-content{
    background-color: white;
  }
  fieldset{
    padding: 2px;
    margin: 2px;
  }
  </style>
  <script>
    $("#outlet_agency_tokens").tokenInput("/admin/agencies/tokeninput.json", {
      crossDomain: false,
      prePopulate: <%= raw @outlet.agencies.map(&:attributes).to_json %>,
      preventDuplicates: true
    });


    var tags = [];
    var official_tags = <%= raw @outlet.official_tags.to_json %>;
    for(var i =0; i< official_tags.length; i++){
      tags.push({id: official_tags[i]["tag_text"], name: official_tags[i]["tag_text"]})
    }
    $("#outlet_tag_tokens").tokenInput("/admin/official_tags/tokeninput.json", {
      crossDomain: false,
      prePopulate: tags,
      preventDuplicates: true
    });
    <% user_json = []
      @outlet.users.each do |user|
        user_json << {id: user.id, name: user_list_format(user)}
      end
    %>
    $("#outlet_user_tokens").tokenInput("/admin/users/tokeninput.json", {
      crossDomain: false,
      prePopulate: <%= raw user_json.to_json %>,
      preventDuplicates: true
    });

    $('#outlet_service').on("change",function(item){
      if(typeof $('#outlet_service option:selected').data("format-helper") === 'undefined'){
        $('#format-help').html("Pick a service for format help");
      }else{
        $('#format-help').html($('#outlet_service option:selected').data("format-helper"));
      }
    });
     if(!(typeof $('#outlet_service option:selected').data("format-helper") === 'undefined')){
        $('#format-help').html($('#outlet_service option:selected').data("format-helper"));
     }
    $('#outlet_service_url').on("change",function(item){
      $.get("/admin/social_media/account_for_url",{
          url: $('#outlet_service_url').val()
        },function(data){
          if(data.account){
            $('#outlet_account').val(data.account);
          }
          if(data.service){
            $('#outlet_service').val(data.service);
          }
      });
    });

    $('#outlet_primary_contact_id').selectize({
        create: false,
        sortField: 'text',
        placeholder: "Select a Contact - must be OMB MAX account holder"
    });

    $('#outlet_secondary_contact_id').selectize({
        create: false,
        sortField: 'text',
        placeholder: "Select a Contact - must be OMB MAX account holder"
    });

     $('#outlet_primary_agency_id').selectize({
        create: false,
        sortField: 'text',
        placeholder: "Select an Agency"
    });

    $('#outlet_secondary_agency_id').selectize({
        create: false,
        sortField: 'text',
        placeholder: "Select an Agency"
    });
  </script>

<% end %>
