
<%= form_for([:admin,@outlet], html: {:class => "grid-row usa-form usa-form--large"}) do |f| %>
  <fieldset class="usa-fieldset">
    <p><span class="red">*</span> denotes a required field.</p>
    <% if @outlet.errors.any? %>
      <div class="usa-alert usa-alert--error" role="alert">
        <div class="usa-alert__body">
          <h3 class="usa-alert__heading">Error: <%= pluralize(@outlet.errors.count, "error") %> prohibited this social media account from being saved</h3>
          <ul>
          <% @outlet.errors.full_messages.each do |message| %>
          <li class="usa-alert__text"><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>


    <div class="field">
      <%= f.label :service, "Account Platform<span class=\"red\">*</span>".html_safe, {class: 'usa-label'} %>
      <% if @outlet.try(:service).try(:archived?) %>
        <%= f.select :service, options_for_select(Admin::Service.every.map{|item| [item.longname.humanize,item.shortname,{"data-format-helper" =>item.service_url_example}]}, selected: @outlet.service),{include_blank: "Select"}, {:class => "usa-input"} %>
      <% else %>
        <%= f.select :service, options_for_select(Admin::Service.unarchived.map{|item| [item.longname,item.shortname,{"data-format-helper" =>item.service_url_example}]}, selected: @outlet.service),{include_blank: "Select"}, {:class => "usa-input"} %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :service_url, "Account URL<span class=\"red\">*</span>".html_safe, {class: 'usa-label'} %> Format Help - <span id="format-help">pick an account type for format help</span></br>
      <%= f.text_field :service_url, :class => "usa-input" %>
      <%= f.hidden_field :account %>
    </div>
    <div class="field">
      <%= f.label :organization, "Account Name<span class=\"red\">*</span>".html_safe, {class: 'usa-label'} %>
      <%= f.text_field :organization, :class => "usa-input" %>
    </div>

    <div class="field">
      <%= f.label :short_description, "Short Description<span class=\"red\">*</span>".html_safe, {class: 'usa-label'} %> <span class="red">200 Character Limit</span><br/>
      <%= f.text_field :short_description, :class => "usa-input" %>
    </div>
    <div class="field">
      <%= f.label :long_description, "Long Description", {class: 'usa-label'}  %>
      <%= f.text_area :long_description, :class => "usa-textarea" %>
    </div>
    <div class="field">
      <%= f.label :language, "Language<span class=\"red\">*</span>".html_safe, {class: 'usa-label'} %>
      <%= f.select :language, options_for_select(language_select_options, @outlet.language), {include_blank: "Select"}, {:class => "usa-input"} %>
    </div>
    <div class="field">
      <%= f.label :tag_tokens, "Tags", {class: 'usa-label'} %>
      <%= f.text_field :tag_tokens, {:class => "usa-input", :value => "" }%>
    </div>
    <div class="field agencies">
      <%= f.label :agency_tokens, "Sponsoring Agencies<span class=\"red\">*</span>".html_safe, {class: 'usa-label'} %>
      <%= f.text_field :agency_tokens, {:class => "usa-input", :value => ""} %>
    </div>
    <div class="field contacts">
      <%= f.label :user_tokens, "Contacts<span class=\"red\">*</span>".html_safe, {class: 'usa-label'} %>
      <%= f.text_field :user_tokens, {:class => "usa-input", :value => "" }%>
    </div>
    <div class="field notes">
      <%= f.label :notes, "Additional Notes:", {class: 'usa-label'} %> (<span class="red">Do not include PII content in this field.</span>)
      <%= f.text_area :notes, {:class => "usa-textarea", rows: 5, placeholder: "Suggestion: Include optional contact information."  }%>
    </div>
    <br/>
    <div class="actions">
      <%= f.submit :class => "usa-button" %>
      <%= link_to 'Cancel', admin_outlets_path, {:class=>"usa-button usa-button", role: "button"} %>
    </div>
  </fieldset>

<% end %>

<% content_for :additional_javascript do %>
  <style>
  .form-control{
    padding: 5px !important;
    margin: 0 !important;
  }
  .selectize-dropdown-content{
    background-color: white;
  }
  fieldset{
    padding: 2px;
    margin: 2px;
  }
  </style>
  <script>
    $("#outlet_agency_tokens").tokenInput("/admin/agencies/tokeninput.json", {
      crossDomain: false,
      prePopulate: <%= raw @outlet.agencies.map(&:attributes).to_json %>,
      preventDuplicates: true,
      hintText: "Search for Agencies"
    });


    var tags = [];
    var official_tags = <%= raw @outlet.official_tags.to_json %>;
    for(var i =0; i< official_tags.length; i++){
      tags.push({id: official_tags[i]["tag_text"], name: official_tags[i]["tag_text"]})
    }
    $("#outlet_tag_tokens").tokenInput("/admin/official_tags/tokeninput.json", {
      crossDomain: false,
      prePopulate: tags,
      preventDuplicates: true,
      hintText: "Search for Tags"
    });
    <% user_json = []
      @outlet.users.each do |user|
        user_json << {id: user.id, name: user_list_format(user)}
      end
    %>
    $("#outlet_user_tokens").tokenInput("/admin/users/tokeninput.json", {
      crossDomain: false,
      prePopulate: <%= raw user_json.to_json %>,
      preventDuplicates: true,
      hintText: "Search for Contacts"
    });

    $('#outlet_service').on("change",function(item){
      if(typeof $('#outlet_service option:selected').data("format-helper") === 'undefined'){
        $('#format-help').html("Pick a service for format help");
      }else{
        $('#format-help').html($('#outlet_service option:selected').data("format-helper"));
      }
    });
     if(!(typeof $('#outlet_service option:selected').data("format-helper") === 'undefined')){
        $('#format-help').html($('#outlet_service option:selected').data("format-helper"));
     }
    $('#outlet_service_url').on("change",function(item){
      $.get("/admin/social_media/account_for_url",{
          url: $('#outlet_service_url').val()
        },function(data){
          if(data.account){
            $('#outlet_account').val(data.account);
          }
          if(data.service){
            $('#outlet_service').val(data.service);
          }
      });
    });

  </script>
  <style>
    .selectize-control{
      padding: 0 !important;
    }
  </style>
<% end %>
