<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Social Media Accounts</h1>
    <div class="row placeholders">
      <div class="col-xs-12 col-sm-3 col-md-2 verticalTabsWrap">
        <div class="list-group verticalTabs">
          <%= link_to admin_outlets_path, {class: "list-group-item verticalTabs-item #{"active" if params[:service].nil? }"} do %>
            All         
          <%end%>
          <% @services.each do |key, value| %>
            <%= link_to admin_outlets_path(service: key), {class: "list-group-item verticalTabs-item #{"active" if key==params[:service]}"} do %>
              <%= Service.find_by_shortname(key).longname %>
              <span class="count pull-right"><%= value %></span>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-10 tbldisplay">
        <div>
          <%= paginate @outlets %>
          <%= page_entries_info @outlets %>
          <text>
            <%= link_to "Add an Account", new_admin_outlet_path, :class => "btn btn-default" %>
            Download: <%= link_to "CSV", admin_outlets_path(format: "csv", params: params.except(:action, :controller, :page, :page_size)) %> 
          </text>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Agency</th>
              <th><%= sortable "service_url", "Service" %></th>
              <th><%= sortable "organization", "Social Media Account " %></th>
              <th> Tags</th>
              <th><%= sortable "status", "Status" %></th>
              <th><%= sortable "updated_at", "Updated at" %></th>
              <th class = "lastlinks">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @outlets.each do |outlet| %>
          	<tr class = "tablerow">
              <td class = "table_data"><%= outlet.agencies.map(&:name).join(', ').upcase%>
          		<td class = "table_data"><%= outlet.service %></td>
              <td class = "table_data"><%= link_to outlet_organization_name(outlet), outlet.service_url, {target: "_blank"} %></td>
              <td class = "table_data"><%= outlet.tags.map(&:to_s).join(', ')%></td>
              <td class="table_data"><%= outlet.status.titleize %></td>
              <td class = "table_data"><%= outlet.updated_at.strftime("%B %e, %Y %H:%M") %></td>
              <td class = "table_data lastlinks">
                <%= link_to admin_outlet_path(outlet) do %> <i class = "glyphicon glyphicon-info-sign"></i> <% end %>
                <%= link_to edit_admin_outlet_path(outlet) do %> <i class = "glyphicon glyphicon-pencil"></i> <% end %>
              </td>   
          	</tr>
            <% end %>
          </tbody>
        </table>
        <div>
          <text>
            <%= link_to "Add an Account", new_admin_outlet_path, :class => "btn btn-default" %>
            Download: <%= link_to "CSV", admin_outlets_path(format: "csv", params: params.except(:action, :controller, :page, :page_size)) %> 
          </text>
          <%= paginate @outlets %>
        </div>
      </div>
    </div>
  </div>
</div>