<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Social Media Accounts</h1>
    <div class="row placeholders">
      <div class="col-xs-12 col-sm-12 col-md-2 verticalTabsWrap">
        <div class="list-group verticalTabs">
          <%= link_to admin_outlets_path, {class: "list-group-item verticalTabs-item #{"active" if params[:service].nil? }"} do %>
            All         
          <%end%>
          <% @services.each do |key, value| %>
            <%= link_to admin_outlets_path(service: key), {class: "list-group-item verticalTabs-item #{"active" if key==params[:service]}"} do %>
              <%= Service.find_by_shortname(key).longname %>
              <span class="count pull-right"><%= value %></span>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <%= link_to "Export Results to CSV", "javascript:export_csv()", class: "pull-right" %>
        <table class="table table-striped" id="data-tables">
          <thead>
            <tr>
              <th><%= sortable "agencies.name", "Department"%></th>
              <th><%= sortable "outlets.service_url", "Service" %></th>
              <th><%= sortable "outlets.organization", "Social Media Account " %></th>
              <th><%= sortable "official_tags.tag_text", "Tags"%></th>
              <th><%= sortable "outlets.updated_at", "Updated at" %></th>
              <th class = "lastlinks">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @outlets.each do |outlet| %>

            <tr id="<%=outlet.id%>" class="tablerow">
              <td class = "table_data">
                  
                  <ul class="table_list">
                    <% outlet.agencies.each do |agency| %>
                      <li><%= agency.name %></li>
                    <% end %>
                  </ul>
              </td>
              <td class = "table_data"><%= outlet.service %></td>
              <td class = "table_data"><%= outlet.organization %></td>
              <td class = "table_data">
                <ul class="table_list">
                <% outlet.official_tags.each do |tag| %>
                  <li><%= link_to tag.tag_text, "javascript:add_tag(#{tag.id},\"#{tag.tag_type.humanize}: #{tag.tag_text}\")" %></li>
                <% end %>
                </ul>
              </td>
              <td class = "table_data"><%= outlet.updated_at.strftime("%B %e, %Y %H:%M") %></td>

              <td class = "table_data lastlinks">
                <%= link_to admin_outlet_path(outlet) do %> <i class = "glyphicon glyphicon-info-sign"></i> <% end %>
                <%= link_to edit_admin_outlet_path(outlet) do %> <i class = "glyphicon glyphicon-pencil"></i> <% end %>
              </td>   
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to "Export Results to CSV", "javascript:export_csv()", class: "pull-right" %>
      </div>
    </div>
  </div>
</div>
<%= form_tag social_media_export_admin_outlets_path(format: :csv), method: :post, class: 'hidden', id: "csv_export" do %>
  <%= hidden_field_tag :ids %>
<% end %>

<% content_for :additional_javascript do %>
  <script>
    // var tags = [];
    // $("#tag_tokens").tokenInput("/admin/official_tags/tokeninput.json", {
    //   crossDomain: false,
    //   prePopulate: tags,
    //   preventDuplicates: true
    // });
    var data_tables = null;
    $(document).ready(function() {
       data_tables = $('#data-tables').DataTable();
    } );


    all_ids = "";
    function export_csv(){
      rows = $("#data-tables").dataTable().$('tr', {"filter":"applied"});
      all_ids = []
      for(var i =0; i<rows.length; i++){
        all_ids.push(rows[i].id);
      }
      $('#ids').val(all_ids.join(","));
      $('#csv_export').submit();
    }

    function add_tag(id,name){
      $("#tag_tokens").tokenInput("add", {id: id, name: name});
    }    

  </script>
<% end %>