<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <%= content_for :page_title do %>Social Media Accounts<% end %>
    <h1 class="page-header">Social Media Accounts</h1>
    <div class="row placeholders">
      <div class="col-xs-12 col-sm-12 col-md-2 verticalTabsWrap">
        <div class="list-group verticalTabs">
          <%= link_to admin_outlets_path, {class: "list-group-item verticalTabs-item #{"active" if params[:service].nil? }"} do %>
            All         
          <%end%>
          <% @services.each do |key, value|
              if  !Service.find_by_shortname(key).archived? %>

            <%= link_to admin_outlets_path(service: key), {class: "list-group-item verticalTabs-item #{"active" if key==params[:service]}"} do %>
              <%= Service.find_by_shortname(key).longname %>
              <span class="count pull-right"><%= value %></span>
            <% end
            end %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <%= link_to "Export Results to CSV", "javascript:export_csv()", class: "pull-right export" %>
        <table class="table table-striped" id="data-tables">
          <thead>
            <tr>
              <th>Department</th>
              <th>Service</th>
              <th>Social Media Account</th>
              <th>Tags</th>
              <th>Status</th>
              <th>Updated At</th>
              <th class = "lastlinks">Actions</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <%= link_to "Export Results to CSV", "javascript:export_csv()", class: "pull-right export" %>
      </div>
    </div>
  </div>
</div>
<%= form_tag social_media_export_admin_outlets_path(format: :csv), method: :post, class: 'hidden', id: "csv_export" do %>
  <%= hidden_field_tag :service, params[:service] %>
  <%= hidden_field_tag :ids %>
<% end %>

<% content_for :additional_javascript do %>
  <script>
    var data_tables = null;
   $(document).ready(function() {
       data_tables = $('#data-tables').dataTable({
        "ajax" : {
          "url":"/admin/social_media.json",
          "data": function(d){
            d.service = $('#service').val();
          }
        },
        "scrollY":        "400px",
        "columns": [
          { "data" : "agencies[, ]"},
          { "data" : "service"},
          { "data" : "account_name"},
          { "data" : "tags[, ]"},
          { "data" : "status"},
          { "data" : "updated_at"},
          { "data" : "DT_RowId"}
        ],
        "columnDefs": [
          {
            "render": function(data,type,row){
              return '<a href="/admin/social_media/'+data+'"><i class = \"glyphicon glyphicon-info-sign\"></i></a><a href="/admin/social_media/'+data+'/edit"><i class = \"glyphicon glyphicon-pencil\"></i></a>';
            }, "targets":[6]
          }
        ],
        "order": [[ 5, "desc" ]],
        "initComplete": function(settings, json) {
          $('.export').show();
        },
        'sDom':'<"row"<"col-sm-12"lf>><"row"<"col-sm-12"ip>>rt<"row"<"col-sm-12"ip>><"row"<"col-sm-12"lf>>'
      });
    } );

    all_ids = "";
    function export_csv(){
      rows = $("#data-tables").dataTable().$('tr', {"filter":"applied"});
      all_ids = []
      for(var i =0; i<rows.length; i++){
        all_ids.push(rows[i].id);
      }
      $('#ids').val(all_ids.join(","));
      $('#csv_export').submit();
    }

    function add_tag(name){
      data_tables.fnFilter(name);
    }    

  </script>
<% end %>