<section class="usa-section" id="resources_featured">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row">

      <div class="grid-col-12">
        <%= content_for :page_title do %>Social Media Accounts<% end %>
        <h1 class="page-header">Social Media Accounts</h1>
        <div class="grid-row placeholders">
          <div class="grid-col-12">

            <%= form_for admin_outlets_path, method: :post, html: { class: 'grid-row', id: 'table-controls'} do %>
              <div class="grid-col-10 grid-offset-1">
                 <p style="margin:0; font-size: .9em; width: 100%; max-width: 100%;">Search for social media accounts using the filters below.  Agency names are based found using keywords from their title, for example "Census" for "Bureau of the Census" to find their exact name in the system. Agencies only appear once they have an account published in the system. The search box below is best used for short terms from the entry in the table, for example "GSA" or an email address. </p>
              </div>

              <div class="grid-col-5 grid-offset-1">
                <%= label :agency_selector, "Search Agency", {class: 'usa-label'} %>
                <%= select_tag :agency_selector, options_for_select([["All",""]]+Agency.where("published_outlet_count > 0").order("name ASC").collect{|agency| [agency.name+" (#{agency.published_outlet_count})",agency.name]},params[:agency_selector]), {class: 'usa-input'} %>

              </div>

              <div class="grid-col-5 grid-offset-1">
                <%= label :sSearch_selector, "Search by Keywords", {class: 'usa-label'} %>
                <%= text_field_tag :sSearch_selector, params[:sSearch],{class: 'usa-input'} %>
              </div>
              <div class="grid-col-5 grid-offset-1">
                <%= label :service_selector, "Account Platform", {class: 'usa-label'} %>
                <%= select_tag :service_selector, options_for_select([["All",""]]+@services.collect{|k,v| ["#{k.humanize}",k]},params[:service]), {class: 'usa-input'} %>
              </div>

              <div class="grid-col-5 grid-offset-1">
                <% if current_user.admin? || params[:status] %>
                <%= label :status_selector, "Status Selector", {class: 'usa-label'}%>
                <%= select_tag :status_selector, options_for_select([["All",""],["Published","Published"],["Archived","Archived"]],params[:status]), {class: 'usa-input usa-select' } %>
                <% else %>
                <%= label :status_selector, "Status Selector", {class: 'usa-label'} %>
                <%= select_tag :status_selector, options_for_select([["All",""],["Published","Published"],["Archived","Archived"]],"Published"), {class: 'usa-input usa-select'} %>
                <% end %>
              </div>
              <div class="grid-col-5 grid-offset-1"><br/>
                <%= link_to "Export Results to CSV", "javascript:export_csv()", class: "usa-button export" %>
                 <p style="margin:0; font-size: .9em; width: 100%; max-width: 100%;">A maximum of 1000 records can be exported at a time. </p>
               </div>
            <% end %>
            <div class="grid-row">
              <div class="grid-col-12">

                <table class="table table-striped" id="data-tables" style="width:100% !important">
                  <thead>
                    <tr>
                      <th>Agency</th>
                      <th>Contacts</th>
                      <th>Account Platform</th>
                      <th>Account Name</th>
                      <th>User Name</th>
                      <th>Last Updated</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= form_tag social_media_export_admin_outlets_path(format: :csv), method: :post, class: 'hidden', id: "csv_export" do %>
  <%= hidden_field_tag :service, params[:service] %>
  <%= hidden_field_tag :agency, params[:agency] %>
  <%= hidden_field_tag :sSearch, params[:sSearch] %>
  <%= hidden_field_tag :status, params[:status] %>
  <%= hidden_field_tag :ids %>
<% end %>

<% content_for :additional_javascript do %>
  <script>
    var data_tables = null;
    $('#agency_selector').selectize({
        sortField: 'text'
    });
    $('#agency_selector').on('change',function(){
      $('#agency').val($('#agency_selector').val());
    });
    $('#status_selector').on('change',function(){
      $('#status').val($('#status_selector').val());

    });
    $('#sSearch_selector').on('change',function(){
      $('#sSearch').val($('#sSearch_selector').val());
    });
    $('#service_selector').on('change',function(){
      $('#service').val($('#service_selector').val());
    });

     $('#service_selector, #status_selector, #agency_selector').on('change',function(){
        data_tables.fnFilter($('.dataTables_filter input').val());
     });
     $('#sSearch_selector').on('keyup',function(){
       data_tables.fnFilter($('.dataTables_filter input').val());
    });
   $(document).ready(function() {

       data_tables = $('#data-tables').dataTable({
        "serverSide" : true,
        "sAjaxSource" : "/admin/social_media.json",
        "fnServerParams": function(aoData) {
          aoData.push( { "name":"service", "value" : $('#service_selector').val() } ) ;
          aoData.push( { "name": "agency", "value" : $('#agency_selector').val()});
          aoData.push( { "name": "status", "value" : $('#status_selector').val()});
          aoData.push( { "name": "sSearch", "value" : $('#sSearch_selector').val()});
        },
        "columns": [
          { "data" : "agencies" },
          { "data" : "contacts" },
          { "data" : "service" },
          { "data" : "account_name" },
          { "data" : "account" },
          { "data" : "updated_at" },
          { "data" : "status" }
        ],
        "columnDefs": [
          {
            "render": function(data,type,row){
              return '<a href="/admin/social_media/'+row.DT_RowId+'">'+data+'</a>';
            }, "targets":[3]
          }
        ],
        "order": [[ 5, "desc" ]],
        "init" : function(settings,json){
        },
        "initComplete": function(settings, json) {
          $('.export').show();
          $('.dataTables_filter').show();
        },
        'sDom':'<"grid-row"<"grid-col-5 grid-offset-1"l>><"grid-row"<"grid-col-10 grid-offset-1"pi>>rt<"grid-row"<"grid-col-10 grid-offset-1"ip>><"grid-row"<"grid-col-10 grid-offset-1">>'
      });
    } );

    all_ids = "";
    function export_csv(){
      rows = $("#data-tables").dataTable().$('tr', {"filter":"applied"});
      all_ids = []
      for(var i =0; i<rows.length; i++){
        all_ids.push(rows[i].id);
      }
      $('#ids').val(all_ids.join(","));
      $('#csv_export').submit();
    }

    function add_tag(name){
      data_tables.fnFilter(name);
    }

  </script>
<% end %>
