<div class="row">
  <div class="col-sm-6 col-md-6">
  	<%= content_for :page_title do %>Social Media Account Info<% end %>
    <h1 class="page-header">Social Media Account Info</h1>
		<div class="panel panel-default">
	  	<div class="panel-body">
	  		<%= render partial: "outlet_details", locals: {outlet: @outlet} %>
	  	</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6">
    <div class="row">
			<div class="col-sm-12">
				<br/>
        <%= link_to ' Back to Social Media', admin_outlets_path, {:class => "btn btn-default fa fa-angle-double-left"} %>
        <%= link_to ' Edit', edit_admin_outlet_path(@outlet), {:class => "btn btn-default fa fa-pencil"} %>
    <!-- 		<%#= link_to 'History', history_admin_outlet_path(@outlet), {:class=> "fa fa-history"} %> -->
          <%= link_to ' Publish', publish_admin_outlet_path(@outlet), {:class => "btn btn-default fa fa-bullhorn"} %>
          <%= link_to ' Archive', archive_admin_outlet_path(@outlet), {:class=> "btn btn-default fa fa-archive"} %>
      </div>
      <div class="col-sm-12">
        <h3><i class="fa fa-clock-o fa-fw"></i> Published Social Media Account Info</h3>
    		<div class="panel panel-default">
    	  	<div class="panel-body">
    	  		<% if @outlet.published %>
    	  			<p>
    		  			<strong>API Link</strong>
    		  			<%= link_to api_v1_social_medium_url(id:@outlet),
    		  				api_v1_social_medium_url(id: @outlet) %>
    		  		</p>
    	  		<%= render partial: "outlet_details", locals: {outlet: @outlet.published } %>
    	  		<% else %>
    	  			<p>No information is currently published for this social media account</p>
    	  		<% end %>
    	    </div>
    	  </div>
      </div>
    </div>
	</div>
</div>
<div class = "row">
	<div class="col-lg-4 col-sm-12 col-md-4">
    <h3><i class="fa fa-user"></i> Contacts</h3>
		<div class="panel panel-default">
	  	<div class="panel-body">
	  		<p>This list comprises everyone listed either as a contact on this account, or as a contact for a connected agency</p>
	  		<ul class="list-group">
	  			<% @outlet.users.each do |contact| %>
	  					<li class="list-group-item"><%= user_list_format(contact) %></li>
	  			<% end %>
	  		</ul>
	  	</div>
		</div>
    <h3><i class="fa fa-user"></i> Related Policies</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>These are policies that apply to accounts under this social media account type.</p>
        <ul class="list-group">
          <% RelatedPolicy.where(service: @outlet.service).each do |policy| %>
              <li class="list-group-item"><%= link_to policy.title, policy.url, {:target => "_blank" } %><br/> <%= policy.description%></li>
          <% end %>
        </ul>
      </div>
    </div>
	</div>
	<div class="col-lg-8 col-sm-12 col-md-8">
    <h3><i class="fa fa-clock-o fa-fw"></i> Recent timeline for this Social Media Account</h3>
		<div class="panel panel-default">
	  	<div class="panel-body">
	  		<ul class="timeline">
	  			<%= render partial: "admin/shared/activities_feed", locals: {activities: @outlet.activities.order("created_at DESC").first(5)} %>
	  		</ul>
	  	</div>
		</div>
	</div>
</div>
