<div class="row">

  <div class="col-sm-12 col-md-12">
  	<%= content_for :page_title do %>Social Media Account Info<% end %>
    <h1 class="page-header">Social Media Account Info</h1>
	<div class="panel panel-default">
	  	<div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                   <%= link_to '<< Back to Social Media', admin_outlets_path, {:class => "btn btn-default"} %>
                    <%= link_to ' Edit', edit_admin_outlet_path(@outlet), {:class => "btn btn-default"} %>
                    <%= link_to ' Publish', publish_admin_outlet_path(@outlet), {:class => "btn btn-default "} %>
                    <%= link_to ' Archive', archive_admin_outlet_path(@outlet), {:class=> "btn btn-default"} %>
                        
                    <p>Note: Archiving removes accounts from public visibility</p>
                </div>
            </div>
	  		<%= render partial: "outlet_details", locals: {outlet: @outlet} %>
	  	  <p>
          <strong>API Link</strong>
          <%= link_to digital_registry_v1_social_medium_url(id:@outlet),
            digital_registry_v1_social_medium_url(id: @outlet) %>
        </p>
      </div>
		</div>
	</div>
</div>
<div class = "row">
	<div class="col-lg-4 col-sm-12 col-md-4">
    <h3><i class="fa fa-user"></i> Contacts</h3>
		<div class="panel panel-default">
	  	<div class="panel-body">
	  		<p>This list comprises everyone listed either as a contact on this account, or as a contact for a connected agency</p>
	  		<ul class="list-group">
	  			<% @outlet.users.each do |contact| %>
	  					<li class="list-group-item"><%= user_list_format(contact) %></li>
	  			<% end %>
	  		</ul>
	  	</div>
		</div>
	</div>
	<div class="col-lg-8 col-sm-12 col-md-8">
    <h3><i class="fa fa-clock-o fa-fw"></i> Recent timeline for this Social Media Account</h3>
		<div class="panel panel-default">
	  	<div class="panel-body">
	  		<ul class="timeline">
	  			<%= render partial: "admin/shared/activities_feed", locals: {activities: @outlet.activities.order("created_at DESC").first(5)} %>
	  		</ul>
	  	</div>
		</div>
	</div>
</div>
