<div class="row">
  <div class="col-sm-12 entry widget-wrap">
    <%= content_for :page_title do %>Search Social Media Accounts<% end %>
    <h1 class=""> Search Social Media Accounts</h1>

    <form class="navbar-form navbar-left" role="search" id="social-media-search">
      <div class="row">
        <div class="col-sm-12">
          <label for="search-social-text">Text: </label>
          <%= text_field_tag "search-social-text" %>
          <label for="search-social-language">Language: </label>
          <%= select_tag "language", options_for_select([ ["Select a Language", ""], ["English", "English"], ["Spanish", "Spanish"]], class: "test", id: "social-media-language") %></br>
          <label for="search-social-box">Agency: </label>
          <%= select_tag "agency", options_from_collection_for_select(Agency.all.order(published_outlet_count: :desc, name: :asc), "id", "name_and_social_media_count"), include_blank: 'Select an Agency', class: "test" , id: "social-media-agency" %></br>
          <label for="search-social-platform">Service: </label>
          <%= select_tag "service", options_from_collection_for_select(Admin::Service.where(archived: :false).order(longname: :asc), :shortname, :longname), include_blank: 'Select a Service', class: "test", id: "social-media-service" %>
          <label for="search-social-page-size">Page Size: </label>
          <input type="text" class="form-control" id="search-social-page-size" placeholder="25" value="25">
          <label for="search-social-page">Page: </label>
          <input type="text" class="form-control" id="search-social-page" placeholder="1" value="1">
         </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" class="button">Submit</button>
          <button id="previousPage" class="button">Previous Page</button>
          <button id="nextPage" class="button">Next Page</button>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-sm-12">
        <div id="metadata-results">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <table class="table table-striped" id="data-tables">
          <thead>
            <tr>
              <th>Agency</th>
              <th>Account Type</th>
              <th>Account Name</th>
              <th>Last Updated</th>
            </tr>
          </thead>
          <tbody id="social-media-collection">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<% content_for :additional_javascript do %>
<script>
$(document).ready(function(){
  $('#previousPage').click(function(e){
    e.preventDefault();
    page_int = parseInt($('#search-social-page').val(),10);
    if(page_int > 1){
      $('#search-social-page').val(page_int - 1);
    }else{
      $('#search-social-page').val(1)
    } 
    submit_form();
  });
  $('#nextPage').click(function(e){
    e.preventDefault();
    var page_int = parseInt($('#search-social-page').val(),10);
    if(page_int){
      $('#search-social-page').val(page_int + 1);
    }else{
      $('#search-social-page').val(1)
    }
    submit_form();
  });
});
</script>
<script id="social-media-template" type="text/x-handlebars-template">
  <tr>
    <td>{{#each agencies}}
        {{name}}
      {{/each}}</td>
    <td>{{service_display_name}}</td>
    <td><a href="{{service_url}}" target="_"><h4 class="media-heading">
      {{#if organization}}
        {{organization}}
      {{else}}
        {{service_display_name}}:{{service_url}}
      {{/if}}
      </h4></a></td>
    <td>{{updated_at}}</td>
  </tr>
</script>

<script id="metadata-template" type="text/x-handlebars-template">
  <div class="metadata-results">
    <p>Displaying {{page_size}} results on page {{page}} of {{pages}} total pages. Total results: {{ count}}</p>
  </div>
</script>

<script id="token-input-li-template" type="text/x-handlebars-template">
  <div id="social-li-{{id}}" data-id="{{id}}">
  {{name}}
  <span class="badge">{{count}}</span>
  <a href="javascript:remove_token('{{id}}');" class="pull-right"><i class="fa fa-times"></i></a>
  </div>
</script>
  <script>  
    var source_social_media_template   = $("#social-media-template").html();
  var social_media_template = Handlebars.compile(source_social_media_template); 
  var source_social_media_li_template   = $("#token-input-li-template").html();
  var social_media_li_template = Handlebars.compile(source_social_media_li_template); 

  var source_metadata_template = $('#metadata-template').html();
  var metadata_template = Handlebars.compile(source_metadata_template);
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      $('.flex-active').toggleClass('flex-active');
      e.currentTarget.className = "flex-active";
    })

    $('#social-media-search').submit(function(e){
      e.preventDefault();
      submit_form();
      
  });

    function submit_form(){
      $('#social-media-collection').empty();
      $.get("<%= ENV['REGISTRY_API_HOST'] %>/api/v1/social_media.json",{
        agencies: $('#social-media-agency').val(),
        services: $('#social-media-service').val(),
        language: $('#language').val(),
        page_size: $('#search-social-page-size').val(),
        page: $('#search-social-page').val(),
        q: $('#search-social-text').val()
      }, function(data){
        $('#metadata-results').html(metadata_template(data.metadata));
        $('#social-media-collection').html('');
        for(var i =0; i<data.results.length; i++){
          $('#social-media-collection').append(social_media_template(data.results[i]));
        }
      });
    }
    submit_form();
  </script>
<% end %>
