<div class="span7">
    <% if @outlet %>
    
    <% if flash[:notice] %>
    <div class="row">
        <p class="span7 alert-message block-message info">
            <strong><%= flash[:shortnotice] %></strong> <%= flash[:notice] %>
        </p>
    </div>
    <% end %>

    <% if @outlet.verified? %>
    <div id="verified-account">
        <p>
            <strong>Yes!</strong> <a href="<%= @outlet.service_url %>"><%= @outlet.service_url %></a> is an official U.S. government account.
        </p>
    </div>
    
    <table>
        <thead>
            <tr><th colspan="2">Information about this account</th></tr>
        </thead>
        <tbody>
            <tr><td class="first-column">Organization or Program:</td><td><%= @outlet.organization %></td></tr>
            <tr><td>Program URL:</td><td><%= link_to @outlet.info_url, @outlet.info_url %></td></tr>
            <tr><td>Sponsoring <%= pluralize_word(@outlet.agencies.count, 'Agency') %>:</td><td><%= @outlet.agencies.join(", ") %></td></tr>
            <!-- <tr><td>Location:</td><td><%= @outlet.location_name %></td></tr> -->
            <tr><td>Tags:</td><td><%= @outlet.tag_list.join(", ") %></td></tr>
            <tr><td>Language:</td><td><%= @outlet.language %></td></tr>
            <tr><td>Last updated by:</td><td><%= @outlet.updated_by.gsub(/(\w)\w+@/, '\1*****@') %></td></tr>
            <tr><td>Last updated on:</td><td><%= @outlet.updated_at.to_s(:human) %></td></tr>    
        </tbody>
    </table>

    <hr>
    
    <div>
        
        <p>If you have a .gov or .mil email address, you can make changes to this listing. Enter your email address and phone number below and we will send you a link to edit it.</p>

        <%= form_tag({:controller => "embed_tokens", :action => "create"}) do %>

        <div class="clearfix">
            <label for="email">Email:</label>
            <div class="input">
                <%= text_field_tag('email', '', :class => "span5") %>
            </div>
        </div>

        <div class="clearfix">
            <label for="phone">Phone:</label>
            <div class="input">
                <%= text_field_tag('phone', '', :class => "span5") %>
            </div>
        </div>

        <%= hidden_field_tag('service_url', @outlet.service_url) %>

        <div class="actions">
            <input type="submit" class="btn" value="Submit">
        </div>
        <% end %>
		
		<div role="search" id="verify-another">
			<p><label for="service-url">To look up another social media account, please paste its complete URL here:
			<p class="quiet">Example: http://twitter.com/whitehouse</p>
			</label></p>
		</div>
		
	    <%= form_tag({:action => "verify"}, :method => :get) do %>
			<input id="service-url" name="service_url" class="verify-url-field" type="text" value="">
	        <button class="verify-button" type="submit">Look Up</button>
	    <% end %>
		
    </div>

    <% else %>

    <div id="not-verified-account">
        <p>
            <a href="<%= @outlet.service_url %>"><%= @outlet.service_url %></a> is <strong>not</strong> registered as an official U.S. government account.
        </p>
    </div>

    
    <div>
        <p>If you know that <em><%= @outlet.service_info.display_name %></em> is an official U.S. government social media account and you have a .gov or .mil email address, you can add it to this registry. Enter your email address and phone number below and we will send you a link to add it.</p>
        
        <%= form_tag({:controller => "embed_tokens", :action => "create"}) do %>

        <div class="clearfix">
            <label for="email">Email:</label>
            <div class="input">
                <%= text_field_tag('email', '', :class => "span5") %>
            </div>
        </div>

        <div class="clearfix">
            <label for="phone">Phone:</label>
            <div class="input">
                <%= text_field_tag('phone', '', :class => "span5") %>
            </div>
        </div>

        <%= hidden_field_tag('service_url', @outlet.service_url) %>

        <div class="actions">
                <p><span class="label important">Important!</span> The USA.gov Social Media Registry should only include accounts that represent official U.S. government agencies, organizations, or programs.</p>
                <p><strong>Do not register any accounts that represent non-government organizations or individual people, even if they are government employees.</strong></p>

            <input type="submit" class="btn" value="Submit">
        </div>
        <% end %>

    </div>
	<div role="search" id="verify-another">
		<p><label for="service-url">To look up another social media account, please paste its complete URL here:
		<p class="quiet">Example: http://twitter.com/whitehouse</p>
		</label></p>
	</div>
		
    <%= form_tag({:action => "verify"}, :method => :get) do %>
		<input id="service-url" name="service_url" class="verify-url-field" type="text" value="">
        <button class="verify-button" type="submit">Look Up</button>
    <% end %>

<% end %>

<% else %>

<% if flash[:alert] %>
<div class="row">
  <p class="span10 alert-message warning">
    <%= flash[:alert] %>
  </p>
</div>
<% end %>


    <div>
		<p>Social media tools like Twitter, Facebook, and YouTube are now standard tools used by the government to connect with people and communicate official  information. Because of this, it is important to know if a social media account is really managed by the government or not.</p>
		<p>This service is designed to make it easy for you to register social media accounts that are officially managed by the U.S. federal government.</p>
		
		<div role="search">
			<p><label for="service-url"><strong>To register an account, first check to see if it's already listed. Please paste the URL of the account you'd like to register here:</strong>
			<p class="quiet">Example: http://twitter.com/whitehouse</p>
			</label></p>
		</div>
		
        <%= form_tag({:action => "verify"}, :method => :get) do %>
			<input id="service-url" name="service_url" class="verify-url-field" type="text" value="<%= params[:service_url] %>">
            <button class="verify-button" type="submit">Verify</button>
        <% end %>
        <h4>Types of accounts we can verify:</h4>
        <%= render "shared/services_list" %>
    </div>
<% end %>

</div>