  <%= content_for :page_title do  %> U.S. Digital Registry <% end %>


  <h1 class="page-title">U.S. Digital Registry</h1>
  <h2>What is the U.S. Digital Registry?</h2>
  <p><%= image_tag "top_banner_public", alt: "image of hand holding a mobile phone", id: "top-banner" %></p>
  <p>Whether for access to emergency, financial or education public services, users need to trust they are engaging with official U.S. government digital accounts.</p>
  <p>The U.S. Digital Registry serves as the authoritative resource for agencies, citizens and developers to confirm the official status of social media and public-facing collaboration accounts, mobile apps and mobile websites, and help prevent exploitation from unofficial sources, phishing scams or malicious entities.</p>
  <h2>How to Access the U.S. Digital Registry</h2>
  <p><a class="button" href="https://usdigitalregistry.digitalgov.gov/admin">Register and Manage Accounts</a></p>
  <p>Accessing the U.S. Digital&nbsp;Registry requires an OMB Max ID, which is available to federal government employees and contractors with a valid .gov, .mil, or .fed.us email address. <a href="https://max.omb.gov/maxportal/registrationForm.action" onclick="__gaTracker('send', 'event', 'outbound-article', 'https://max.omb.gov/maxportal/registrationForm.action', 'Register for an OMB Max ID');">Register for an OMB Max ID</a> if you need one.</p>
  <h2>Browse and Export the U.S. Digital Registry</h2>
  <p>Please browse or export data on accounts currently authenticated by federal agencies using the U.S. Digital Registry by:</p>
  <ul>
    <li>Federal Agency</li>
    <li>English or Spanish language</li>
    <li>Platform, such a Github, Facebook and Yelp</li>
    <li>Tags, as self-identified by agencies</li>
  </ul>
  <p>For customer service on accounts, please contact their programs directly. </p>
  
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#search_social" aria-controls="home" role="tab" data-toggle="tab">Search Social Media Accounts</a></li>
      <li role="presentation"><a href="#search_mobile" aria-controls="messages" role="tab" data-toggle="tab">Search Mobile Products</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="search_social">
        <form class="navbar-form navbar-left row" role="search" id="social-media-search">
          <div class="col-sm-12">
            <div class="row form-inner">
              <div class="col-sm-12">
              <label for="search-social-box">Agency: </label>
              <%= select_tag "agency", options_from_collection_for_select(Agency.all.order(published_outlet_count: :desc, name: :asc), "id", "name_and_social_media_count"), include_blank: 'Select an Agency', class: "test form-control" , id: "social-media-agency" %>
              </div>
            </div>
            <div class="row form-inner">
              <div class="col-sm-4">
                <label for="search-social-language">Language: </label>
                <%= select_tag "language", options_for_select([ ["Select a Language", ""], ["English", "English"], ["Spanish", "Spanish"]] ),  class: "form-control"  %>
              </div>
              <div class="col-sm-4">
                <label for="search-social-platform">Platforms: </label>
                <%= select_tag "service", options_from_collection_for_select(Admin::Service.where(archived: :false).order(longname: :asc), :shortname, :longname), include_blank: 'Select a Platform', class: "form-control test", id: "social-media-service" %>
                 </div>
              <div class="col-sm-4">
                <label for="search-social-tags">Tags: </label>
                <%= select_tag "tags", options_from_collection_for_select(OfficialTag.all.order(published_outlet_count: :desc), :id, :text_and_social_count), :class => "form-control col-sm-3", :prompt => "Select a Tag" %>
              </div>
            </div>
            <div class="row form-inner">
              <div class="col-sm-6">
                <label for="search-social-page-size">Page Size: </label>
                <input type="text" class="form-control" id="search-social-page-size" placeholder="10" value="10">
              </div>
              <div class="col-sm-6">
                <label for="search-social-page">Page: </label>
                <input type="text" class="form-control" id="search-social-page" placeholder="1" value="1">
              </div>
            </div>
            <div class="row form-inner">
              <div class="col-sm-12">
                <button type="submit" class="button">Submit</button>
                <button id="previousPage" class="button">Previous Page</button>
                <button id="nextPage" class="button">Next Page</button>
                <button id="export" class="button">Export CSV</button>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-12">
            <div id="metadata-results">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
              <table class="table table-striped">
              <thead>
                <tr>
                  <th>Agency</th>
                  <th>Account Type</th>
                  <th>Account Name</th>
                  <th>Tags</th>
                  <th>Last Updated</th>
                </tr>
              </thead>
              <tbody id="social-media-collection">
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="search_mobile">
        <div class="row">
          <div class="col-sm-12">
            <form class="navbar-form navbar-left row" role="search" id="mobile-search">
              <div class="col-sm-12">
                <div class="row form-inner">
                  <div class="col-sm-12">
                  <label for="search-mobile-box">Agency: </label>
                  <%= select_tag "agency", options_from_collection_for_select(Agency.all.order(published_mobile_app_count: :desc, name: :asc), "id", "name_and_mobile_count"), include_blank: 'Select an Agency', class: "test form-control" , id: "mobile-agency" %>
                  </div>
                </div>
                <div class="row form-inner">
                  <div class="col-sm-6">
                    <label for="search-mobile-language">Language: </label>
                    <%= select_tag "mobile-language", options_for_select([ ["Select a Language", ""], ["English", "English"], ["Spanish", "Spanish"]] ),  class: "form-control", id: "mobile-language"  %>
                  </div>
                  <div class="col-sm-6">
                    <label for="search-mobile-tags">Tags: </label>
                    <%= select_tag "mobile-tags", options_from_collection_for_select(OfficialTag.all.order(published_mobile_app_count: :desc), :id, :text_and_mobile_count), :class => "form-control col-sm-3", :prompt => "Select a Tag" %>
                  </div>
                </div>
                <div class="row form-inner">
                  <div class="col-sm-6">
                    <label for="search-mobile-page-size">Page Size: </label>
                    <input type="text" class="form-control" id="mobile-page-size" placeholder="10" value="10">
                  </div>
                  <div class="col-sm-6">
                    <label for="search-mobile-page">Page: </label>
                    <input type="text" class="form-control" id="mobile-page" placeholder="1" value="1">
                  </div>
                </div>
                <div class="row form-inner">
                  <div class="col-sm-12">
                    <button type="submit" class="button">Submit</button>
                    <button id="mobilePreviousPage" class="button">Previous Page</button>
                    <button id="mobileNextPage" class="button">Next Page</button>
                    <button id="mobileExport" class="button">Export CSV</button>
                  </div>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-12">
                <div id="mobile-metadata-results">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                  <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Agency</th>
                      <th>Platforms</th>
                      <th>Name</th>
                      <th>Tags</th>
                      <th>Last Updated</th>
                    </tr>
                  </thead>
                  <tbody id="mobile-collection">
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
    
  
  <h2>What's "Official"?</h2>
  <p>The U.S. Digital Registry only includes accounts that represent official U.S. government agencies, organizations, or programs — the collection grows daily. You can register accounts managed by federal agencies, heads of agencies or members of the President’s Cabinet. <b>Do not enter personal, employee, or other types of accounts.</b></p>
  <h2>For Developers: Using and Improving the API</h2>
  <p>Access the <a href="#swagger-api-docs">U.S. Digital Registry API</a> or its <a href="https://github.com/ctacdev/social-media-registry" onclick="__gaTracker('send', 'event', 'outbound-article', 'https://github.com/ctacdev/social-media-registry', 'GitHub repo');">GitHub repo</a> to test, evaluate, improve and use it.</p>
  <h2>Feedback</h2>
  <p>If you have questions, comments or ideas on how to use or improve the U.S. Digital&nbsp;Registry, please contact us <a href="mailto:socialmediaregistry@gsa.gov">via email</a>.</p>

<div style="clear:both;"></div>
  <h2 id="swagger-api-docs" style="padding-top: 50px;">API Documentation</h2>
  <p>The API documentation below serves as both a way to learn how to use the API, but to also test it directly in your browser. All API calls should be performed against the base url https://api.gsa.gov/systems/digital-registry/.  For example: https://api.gsa.gov/systems/digital-registry/v1/social_media.json </p>


<div style="clear:both;"></div>

<div class="swagger-section">
  <div id='header'>
    <div class="swagger-ui-wrap">
       <form id='api_selector' class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <!-- <div class='input'><input placeholder="http://example.com/api" id="input_baseUrl" name="baseUrl" type="text"/></div>
          <div class='input'><input placeholder="api_key" id="input_apiKey" name="apiKey" type="text"/></div>
          <div class='input'><a id="explore" href="#">Explore</a></div> -->
        </div>
      </form>
    </div>
  </div>
  <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</div>

<%= form_tag export_social_media_path(format: :csv), method: :post, class: 'hidden', id: "csv_export" do %>
  <%= hidden_field_tag :hidden_agencies %>
  <%= hidden_field_tag :hidden_services %>
  <%= hidden_field_tag :hidden_tags %>
  <%= hidden_field_tag :hidden_languages %>
<% end %>

<%= form_tag export_mobile_app_path(format: :csv), method: :post, class: 'hidden', id: "mobile_csv_export" do %>
  <%= hidden_field_tag :hidden_mobile_agencies %>
  <%= hidden_field_tag :hidden_mobile_tags %>
  <%= hidden_field_tag :hidden_mobile_languages %>
<% end %>

<% content_for :additional_javascript do %>
  <style>
    .tab-pane{
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }
    .metadata-results{
      margin: 5px;
    }
  </style>
  <script type="text/javascript">
    $(function () {
      window.swaggerUi = new SwaggerUi({
        url: "<%= ENV['REGISTRY_API_HOST'] %>/digital-registry/v1/swagger_docs/api-docs.json",
        dom_id: "swagger-ui-container",
        supportedSubmitMethods: ['get'],
        onComplete: function(swaggerApi, swaggerUi){

          if(typeof initOAuth == "function") {
            /*
            initOAuth({
              clientId: "your-client-id",
              realm: "your-realms",
              appName: "your-app-name"
            });
            */
          }
          $('pre code').each(function(i, e) {
            hljs.highlightBlock(e)
          });
        },
        onFailure: function(data) {
          console.log("Unable to Load SwaggerUI");
        },
        docExpansion: "list",
        sorter : "alpha"
      });

      $('#input_apiKey').change(function() {
        var key = $('#input_apiKey')[0].value;
        console.loglog("key: " + key);
        if(key && key.trim() != "") {
          console.log("added key " + key);
          window.authorizations.add("key", new ApiKeyAuthorization("api_key", key, "query"));
        }
      })
      window.swaggerUi.load();
    });
  </script>
<script id="social-media-template" type="text/x-handlebars-template">
  <tr>
    <td>{{#each agencies}}
        {{name}}
      {{/each}}</td>
    <td>{{service_display_name}}</td>
    <td><a href="{{service_url}}" target="_"><h4 class="media-heading">
      {{#if organization}}
        {{organization}}
      {{else}}
        {{service_display_name}}:{{service_url}}
      {{/if}}
      </h4></a></td>
    <td>{{#tagoutput}}{{tags}},{{/tagoutput}}</td>
    <td>{{#formatDate}}{{updated_at}}{{/formatDate}}</td>
  </tr>
</script>

<script id="mobile-template" type="text/x-handlebars-template">
  <tr>
    <td>{{#each agencies}}
        {{name}}&nbsp;
      {{/each}}</td>
    <td>{{#each versions}}
        <a href="{{store_url}}" target="_">{{platform}}</a>
      {{/each}}</td>
    <td>{{name}}</td>
    <td>{{#tagoutput}}{{tags}},{{/tagoutput}}</td>
    <td>{{#formatDate}}{{updated_at}}{{/formatDate}}</td>
  </tr>
</script>
<script id="metadata-template" type="text/x-handlebars-template">
  <div class="metadata-results">
    <p>Displaying {{page_size}} results on page {{page}} of {{pages}} total pages. Total results: {{ count}}</p>
  </div>
</script>


  <script>  
  Handlebars.registerHelper('formatDate', function(date){
    if(date.data.root){
      var d = new Date(date.data.root.updated_at);
      return d.toDateString();
    }
    return '';
  });

  Handlebars.registerHelper('tagoutput', function(item){
    var array_of_text = []
    if(item.data.root){
      for(var i = 0 ; i<item.data.root.tags.length; i++){
        array_of_text.push(item.data.root.tags[i].tag_text);
      }
    }
    return array_of_text.join(", ");
  });
  
  var source_social_media_template   = $("#social-media-template").html();
  var social_media_template = Handlebars.compile(source_social_media_template); 


  var source_mobile_template   = $("#mobile-template").html();
  var mobile_template = Handlebars.compile(source_mobile_template); 

  var source_metadata_template = $('#metadata-template').html();
  var metadata_template = Handlebars.compile(source_metadata_template);
    

  $(document).ready(function(){
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      $('.flex-active').toggleClass('flex-active');
      e.currentTarget.className = "flex-active";
    });

    $('#social-media-search').submit(function(e){
      e.preventDefault();
      submit_social_media_form();
      
    });
    $('#previousPage').click(function(e){
      e.preventDefault();
      page_int = parseInt($('#search-social-page').val(),10);
      if(page_int > 1){
        $('#search-social-page').val(page_int - 1);
      }else{
        $('#search-social-page').val(1)
      } 
      submit_social_media_form();
    });
    $('#nextPage').click(function(e){
      e.preventDefault();
      var page_int = parseInt($('#search-social-page').val(),10);
      if(page_int){
        $('#search-social-page').val(page_int + 1);
      }else{
        $('#search-social-page').val(1)
      }
      submit_social_media_form();
    });

    $('#export').click(function(e){
       e.preventDefault();
       export_csv();
    });

    $('#mobileNextPage').click(function(e){
      e.preventDefault();
      var page_int = parseInt($('#mobile-page').val(),10);
      if(page_int){
        $('#mobile-page').val(page_int + 1);
      }else{
        $('#mobile-page').val(1)
      }
      submit_mobile_form();
    });
    $('#mobilePreviousPage').click(function(e){
       e.preventDefault();
      var page_int = parseInt($('#mobile-page').val(),10);
      if(page_int){
        $('#mobile-page').val(page_int - 1);
      }else{
        $('#mobile-page').val(1)
      }
      submit_mobile_form();
    });

    $('#mobileExport').click(function(e){
       e.preventDefault();
       export_mobile_csv();
    });

    $('#mobile-search').submit(function(e){
      e.preventDefault();
      submit_mobile_form();
    });
  });

    function submit_social_media_form(){
      $('#social-media-collection').empty();
      $.get("https://api.gsa.gov/systems/digital-registry/v1/social_media.json",{
        agencies: $('#social-media-agency').val(),
        services: $('#social-media-service').val(),
        language: $('#language').val(),
        page_size: $('#search-social-page-size').val(),
        page: $('#search-social-page').val(),
        tags: $('#tags').val()
      }, function(data){
        $('#metadata-results').html(metadata_template(data.metadata));
        $('#social-media-collection').html('');
        for(var i =0; i<data.results.length; i++){
          $('#social-media-collection').append(social_media_template(data.results[i]));
        }
      });
    }

    function submit_mobile_form(){
      $('#mobile-collection').empty();
      $.get("https://api.gsa.gov/systems/digital-registry/v1/mobile_apps.json",{
        agencies: $('#mobile-agency').val(),
        language: $('#mobile-language').val(),
        page_size: $('#mobile-page-size').val(),
        page: $('#mobile-page').val(),
        tags: $('#mobile-tags').val()
      }, function(data){
        $('#mobile-metadata-results').html(metadata_template(data.metadata));
        $('#mobile-collection').html('');
        for(var i =0; i<data.results.length; i++){
          $('#mobile-collection').append(mobile_template(data.results[i]));
        }
      });
    }


    function export_csv(){
      $('#hidden_agencies').val($('#social-media-agency').val());
      $('#hidden_services').val($('#social-media-service').val());
      $('#hidden_tags').val($('#tags').val());
      $('#hidden_languages').val($('#language').val());
      $('#csv_export').submit();
    }

    function export_mobile_csv(){
      $('#hidden_mobile_agencies').val($('#mobile-agency').val());
      $('#hidden_mobile_tags').val($('#mobile-tags').val());
      $('#hidden_mobile_languages').val($('#mobile-language').val());
      $('#mobile_csv_export').submit();
    }
    submit_social_media_form();
    submit_mobile_form();
  </script>
<% end %>