<div class="row">
  <div class="span11">
    <% if @outlet %>
    
    <% if flash[:notice] %>
    <p class="alert alert-success">
      <strong><%= flash[:shortnotice] %></strong> <%= flash[:notice] %>
    </p>
    <% end %>

    <% if @outlet.verified? %>
    
    <h3>
      Information about <a href="<%= @outlet.service_url %>" target="_top"><%= @outlet.service_info.display_name %></a>
    </h3>
    <table class="table">
      <tbody>
        <tr><td class="span6">Organization or Program:</td><td><strong><%= @outlet.organization %></strong></td></tr>
        <tr><td>Website URL:</td><td><strong><%= link_to @outlet.info_url, @outlet.info_url %></strong></td></tr>
        <tr><td>Sponsoring top-level <%= pluralize_word(@outlet.agencies.count, 'Agency') %>:</td><td><strong><%= @outlet.agencies.join(", ") %></strong></td></tr>
        <tr><td>Tags:</td><td><strong><%= @outlet.tag_list.join(", ") %></strong></td></tr>
        <tr><td>Language:</td><td><strong><%= @outlet.language %></strong></td></tr>
        <tr><td>Last updated by:</td><td><strong><%= @outlet.masked_updated_by %></strong></td></tr>
        <tr><td>Last updated on:</td><td><strong><%= @outlet.updated_at.to_s(:human) %></strong></td></tr>    
      </tbody>
    </table>
  
    <hr>
    
    <% if @current_token %>
    
    <div role="search" id="verify-another">
	  <%= form_tag({:action => "add"}, :method => :get, :class => 'form-stacked') do %>
	  <p><label for="service-url">To register another social media account, please paste its complete URL here:<br><br>
	  <span class="help-block">Example: http://twitter.com/whitehouse</span>
	  </label></p>
	  <input id="service-url" name="service_url" class="verify-url-field span8" type="text" value="<%= params[:service_url] %>">
	  <%= hidden_field_tag('auth_token', @current_token.token) %>
	  <button class="verify-button btn primary" type="submit">Look Up</button>
	  <% end %>
	</div>
    
    <% else %>
       
    <p>If you have a .gov or .mil email address, you can make changes to this listing. Enter your email address and phone number below and we will send you a link to edit it.</p>

    <%= form_tag({:controller => "howto_tokens", :action => "create"}) do %>

    <div class="clearfix">
      <label for="email">Email:</label>
      <div class="input">
        <%= text_field_tag('email', '', :class => "span5") %>
      </div>
    </div>
    <div class="clearfix">
      <label for="phone">Phone:</label>
      <div class="input">
        <%= text_field_tag('phone', '', :class => "span5") %>
      </div>
    </div>
    <%= hidden_field_tag('service_url', @outlet.service_url) %>
    <div class="actions">
      <input type="submit" class="btn" value="Submit">
    </div>
    <% end %>

    <% end %>

    <% else %>

    <p class="alert alert-warning">
      <%= @outlet.service_url %> has <strong>not</strong> been registered as an account managed by the U.S. federal government.
    </p>

    <hr>
    
    <% if @current_token %>

	<div role="search" id="verify-another">
    <%= form_tag({:action => "add"}, :method => :get, :class => 'form-stacked') do %>
      <p>
        <label for="service-url">To register a social media account, please paste its complete URL here:<br><br>
          <span class="help-block">Example: http://twitter.com/whitehouse</span>
        </label>
      </p>
		
      <input id="service-url" name="service_url" class="verify-url-field span8" type="text" value="<%= params[:service_url] %>">
      <%= hidden_field_tag('auth_token', @current_token.token) %>
      <button class="verify-button btn primary" type="submit">Look Up</button>
    <% end %>
	</div>

    <% else %>
    
    <p>If you know that <em><%= @outlet.service_info.display_name %></em> is an official U.S. federal government social media account, you can add it to this registry. Enter your official government (.gov or .mil) email address and phone number below and we'll send you a link so you can add it to the registry.</p>
        
    <%= form_tag({:controller => "howto_tokens", :action => "create"}) do %>
    <div class="clearfix">
      <label for="email">Your Official Government Email Address:</label>
      <div class="input">
        <%= text_field_tag('email', '', :class => "emailfield") %>
      </div>
    </div>

    <div class="clearfix">
      <label for="phone">Phone:</label>
      <div class="input">
        <%= text_field_tag('phone', '', :class => "span5") %>
      </div>
    </div>

    <%= hidden_field_tag('service_url', @outlet.service_url) %>

    <div class="actions">
      <p><span class="label important">Important!</span> Important! You should only add accounts managed by federal agencies (including elected officials, heads of agencies, and Cabinet members) into the USA.gov Social Media Registry.</p>
      <p><strong>Do not register any accounts that represent non-government organizations or individual people, even if they are government employees.</strong></p>
      <input type="submit" class="btn" value="Submit">
    </div>

    <% end %>
    
    <% end %>
    <% end %>

    <% else %>

    <h3>Register social media accounts managed by the U.S. federal government</h3>
    
    <p>Many people now use tools like Twitter, Facebook and YouTube to receive news and information. This registry identifies social media accounts managed by the federal government, to help the public know which accounts they can trust to provide factual government information.</p>

    <p>If you work for the U.S. federal government and have a .gov or .mil email address, use this tool to register social media accounts managed by federal agencies (including accounts for elected officials, heads of agencies or Cabinet members). Any registered accounts should have been created under federal-compatible Terms of Service (TOS). If they weren’t, contact your agency Point of Contact, who can help you to bring these accounts into compliance with federal law.</p>

    <p>To register an account, enter the account URL in the field below and click “Look Up”</p>

    <ul>
      <li>If it&rsquo;s not yet registered, you can add it</li>
      <li>If it&rsquo;s already in the system, you can update it, if needed</li>
    </ul>
    
    <hr>

    <% if flash[:alert] %>
    <p class="alert alert-warning">
     <%= flash[:alert] %>
    </p>
    
    <% end %>

    <%= form_tag({:action => "verify"}, :class => 'form-stacked', :method => :get) do %>
    <p>
      <label for="service-url">
        <b>To see if a social media account is listed in the official registry, please paste its complete URL here:</b><br><br>
        <span class="help-block">Example: http://twitter.com/whitehouse</span>
      </label>
    </p>
    <input type="text" id="service-url" name="service_url" class="span5" value="<%= params[:service_url] %>">
    <button class="btn primary" type="submit">Look up</button>
    <% end %>

    <h3>Types of accounts we can register:</h3>
    <%= render "shared/services_list" %>
    <% end %>
  </div>
</div>