<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Tags</h1>

    <div class="row placeholders">
      <div class="col-xs-12 col-sm-12 col-md-2 verticalTabsWrap">
        <div class="list-group verticalTabs">
          <%= link_to admin_official_tags_path, {class: "list-group-item verticalTabs-item #{"active" if params[:type].nil? }"} do %>
            All
            <span class="count pull-right"><%= @total_tags %></span>
          <%end%>
          <% @types.each do |key, value| %>
            <%= link_to admin_official_tags_path(type: key), {class: "list-group-item verticalTabs-item #{"active" if key==params[:type]}"} do %>
              <%= OfficialTag.tag_types.invert[key].humanize %>
              <span class="count pull-right"><%= value %></span>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 tbldisplay">
        <table id="data-tables" class=" table table-striped">
          <thead>
            <tr = "users_row">
              <th>Tag</th>
              <th>Type</th>
              <th># Social Accounts</th>
              <th># Mobile Apps</th>
              <th># Galleries</th>
              <th class = "lastlinks">Actions</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </dvi>
    </div>
  </div>
</div>
<%= form_tag admin_official_tags_path(format: :json), method: :post, class: 'hidden', id: "json_export" do %>
  <%= hidden_field_tag :type, params[:type] %>
<% end %>
<% content_for :additional_javascript do %>
  <script>
    var data_tables = null;
    $(document).ready(function() {
       data_tables = $('#data-tables').dataTable({
        "ajax" : {
          "url":"/admin/official_tags.json",
          "data": function(d){
            d.type = $('#type').val();
          }
        },
        "scrollY":        "400px",
        "columns": [
          { "data" : "tag_text"},
          { "data" : "tag_type"},
          { "data" : "outlet_counts"},
          { "data" : "mobile_counts"},
          { "data" : "gallery_counts"},
          { "data" : "DT_RowId"}
        ],
        "columnDefs": [
          {
            "render": function(data,type,row){
              return '<a href="/admin/official_tags/'+data+'"><i class = \"glyphicon glyphicon-info-sign\"></i></a><a href="/admin/official_tags/'+data+'/edit"><i class = \"glyphicon glyphicon-pencil\"></i></a>';
            }, "targets":[5]
          }
        ],
        'sDom':'<"row"<"col-sm-12"lf>><"row"<"col-sm-12"ip>>rt<"row"<"col-sm-12"ip>><"row"<"col-sm-12"lf>>'});
    } );


  </script>
<% end %>