<%= content_for :page_title do  %> U.S. Digital Registry - Twitter Stats <% end %>

<style>
  .list-group-item{
    padding: 5px;
    font-size: 12px;
  }
</style>
<h1 class="page-title">U.S. Digital Registry - Twitter Stats</h1>
<div class="row">
  <div class="col-sm-6">
    <p>Total Followers: <%=  number_with_delimiter(Outlet.where(service: "twitter").where("draft_id IS NOT NULL").sum(:twitter_followers), :delimiter => ',') %> </p>
  </div>
  <div class="col-sm-6">
    <p>Average Followers: <%=  number_with_delimiter(Outlet.where(service: "twitter").where("draft_id IS NOT NULL").average(:twitter_followers), :delimiter => ',') %> </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <p>Total Posts: <%=  number_with_delimiter(Outlet.where(service: "twitter").where("draft_id IS NOT NULL").sum(:twitter_posts), :delimiter => ',') %> </p>
  </div>
  <div class="col-sm-6">
    <p>Average Posts: <%=  number_with_delimiter(Outlet.where(service: "twitter").where("draft_id IS NOT NULL").average(:twitter_posts), :delimiter => ',') %> </p>
  </div>
</div>
<!-- <div class="row">
  <div class="col-sm-6">
    <p>Total Interactions: <%=  number_with_delimiter(Outlet.where(service: "twitter").where("draft_id IS NOT NULL").sum(:twitter_interactions), :delimiter => ',') %> </p>
  </div>
  <div class="col-sm-6">
    <p>Average Interactions: <%=  number_with_delimiter(Outlet.where(service: "twitter").where("draft_id IS NOT NULL").average(:twitter_interactions), :delimiter => ',') %> </p>
  </div>
</div> -->
<div class="row">
  <div class="col-sm-6">
    <h2>Most Followers</h2>
    <ul class="list-group smaller">
      <% index = 1
       Outlet.where(service: "twitter").where("draft_id IS NOT NULL").order('twitter_followers desc').first(5).each do |outlet| %>
      <li class="list-group-item"><%= "#{index}. #{outlet.organization} - #{outlet.twitter_followers}" %></li>
      <% index = index + 1
      end %>
    </ul>
    
  </div>
  <div class="col-sm-6">
    <h2>Least Followers</h2>
    <ul class="list-group smaller">
      <% index = 1
       Outlet.where(service: "twitter").where("draft_id IS NOT NULL").order('twitter_followers asc').first(5).each do |outlet| %>
      <li class="list-group-item"><%= "#{index}. #{outlet.organization} - #{outlet.twitter_followers}" %></li>
      <% index = index + 1
      end %>
    </ul>
  </div>
</div>
<div class="row">
  <h2>All Twitter Accounts</h2>
  <div class="col-sm-12">
    <table id="twitter-data">
      <thead>
        <tr>
          <th>Name</th>
          <th>Twitter Followers</th>
          <th>Twitter Posts</th>
          <!-- <th>Twitter Interactions</th> -->
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Twitter Followers</th>
          <th>Twitter Posts</th>
          <!-- <th>Twitter Interactions</th> -->
        </tr>
      </tfoot>
      <tbody>
        <% Outlet.where(service: "twitter").where("draft_id IS NOT NULL").all.each do |outlet| %>
        <tr>
          <td><%= link_to "#{outlet.organization.blank? ? "https://twitter.com/#{outlet.account}" : outlet.organization}" , "https://twitter.com/#{outlet.account}", :target=> "_blank" %></td>
          <td><%= outlet.twitter_followers %></td>
          <td><%= outlet.twitter_posts %></td>
          <!-- <td><%= outlet.twitter_interactions %></td> -->
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

  
<div style="clear:both;"></div>


<% content_for :additional_javascript do %>
  <script type="text/javascript">
  $(document).ready(function() {
      $('#twitter-data').DataTable( {
        "order": [[ 1, "desc" ]]
    } );
  } );
</script>
<% end %>