<% if @outlet %>
<div class="span14">

<% if @outlet.verified? %>
<div class="row">
    <div class="span14 alert-message block-message success">
        <p><a href="<%= @outlet.service_url %>"><%= @outlet.service_url %></a> is registered as an account managed by the U.S. government.</p>
		<p>You can make changes to this listing using the form below.</p>
    </div>
</div>
<% else %>

<div class="row">
    <div class="span14 alert-message block-message warning">
        <p><a href="<%= @outlet.service_url %>"><%= @outlet.service_url %></a> has <strong>not</strong> been registered as an account managed by the U.S. government.</p>
		<p>You can add it to the social media registry using the form below.</p>
    </div>

        
</div>
<% end %>

<div class="row span8">
<%= form_tag({:action => "update"}, :class => "validate form-stacked") do %>

<%= render 'shared/error_messages', :object => @outlet %>

<div class="clearfix">
<label for="organization">Organization or program name:</label>
<div class="input">
<%= text_field_tag('organization', @outlet.organization || @outlet.service_info.profile_name, :class => "span8", :tabindex => "1") %>
</div>
</div>

<div class="clearfix">
<label for="info_url">Website URL:</label>
<div class="input">
	<%= url_field_tag('info_url', @outlet.info_url || @outlet.service_info.info_url, :class => "span8", :tabindex => "2") %>
</div>
</div>

<div class="clearfix">
<label for="agency_id">Sponsoring Top-Level Agency:</label>
<div class="input">
<%= select_tag "agency_id", options_from_collection_for_select(@agencies, "shortname", "name", @selected_agencies), :multiple => true, :class => "span8 chzn-select", :tabindex => "3", 'data-placeholder' => " " %>
</div>
</div>

<div class="clearfix">
<label for="tags">Tags:</label>
<div class="input">
<%= text_field_tag('tags', @outlet.tag_list.join(", "), :class => "span8", :tabindex => "4") %>
<p class="help-block">Separate tags with commas</p>
</div>
</div>

<div class="clearfix">
<label for="language">Primary language of account:</label>
<div class="input">
<%= text_field_tag('language', @outlet.language, :class => "span8", :tabindex => "5") %>
</div>
</div>

<%= hidden_field_tag('service_url', @outlet.service_url) %>
<%= hidden_field_tag('auth_token', @current_token.token) %>

<div class="actions">
<% if @outlet.verified? %>
  <input type="submit" class="btn primary" tabindex="6" value="Save changes">
<% else %>
  <input type="submit" class="btn primary" tabindex="6" value="Add to registry">
<% end %>
<a href="<%= url_for :action => 'verify', :auth_token => @current_token.token, :service_url => @outlet.service_url %>" class="btn">Cancel</a>
</div>

</div>
<% end %>

<% if @outlet.verified? %>
	<div class="pull-right">
	<%= form_tag({:action => "remove"}) do %>
		<%= hidden_field_tag('service_url', @outlet.service_url) %>
		<%= hidden_field_tag('auth_token', @current_token.token) %>

		<button type="submit" class="btn danger small" data-confirm="Do you really want to remove (<%= @outlet.service_info.display_name %>) from the registry?">Remove this account</button>
  <% end %>
	</div>
<% end %>

</div>

<% else %>


<% if flash[:alert] %>
  <p class="span10 alert-message warning">
    <%= flash[:alert] %>
  </p>
<div class="row">
<% end %>


<div class="span14">

    <p class="span7"><b>To see if a social media account is managed by the U.S. government, please type or paste its complete URL here:</b><br><br>
	    <span class="quiet">Example: http://twitter.com/whitehouse</span>
	</p>

<%= form_tag({:action => "add"}, :method => :get) do %>
<%= hidden_field_tag('auth_token', @current_token.token) %>
<input type="text" name="service_url" class="span7" value="<%= params[:service_url] %>">


<button class="btn" type="submit">Look Up</button>
<% end %>


</div>

<% end %>
