<% if @outlet %>
<div class="span14">

<p>Update registry information for:<p>
<h1><a href="<%= @outlet.service_url %>"><%= @outlet.service_info.display_name %></a></h1>

<% if @outlet.service_info.profile_image %>
<p><img src="<%= @outlet.service_info.profile_image %>" alt="profile image for <%= @outlet.service_info.display_name %>" title="profile image for <%= @outlet.service_info.display_name %>"></p>
<% end %>

<% if @outlet.verified? %>
<p>[<%= link_to "Remove this account from the registry", "/outlets/#{@outlet.service}/#{@outlet.account}", :method => :delete,
    :confirm => "Do you really want to remove (#{@outlet.account} on #{@outlet.service}) from the registry?" %>]</p>
<% end %>

<h2>Information about this account:</h2>

<%= form_tag({:action => "update"}) do %>
<form action="update" method="POST">

<%= render 'shared/error_messages', :object => @outlet %>

<div class="clearfix">
<label for="organization">Organization or Program:</label>
<div class="input">
<%= text_field_tag('organization', @outlet.organization || @outlet.service_info.profile_name, :class => "span8") %>
</div>
</div>

<div class="clearfix">
<label for="info_url">Information URL:</label>
<div class="input">
<%= url_field_tag('info_url', @outlet.info_url || @outlet.service_info.info_url) %>
</div>
</div>

<div class="clearfix">
<label for="agency_id">Sponsoring Agency:</label>
<div class="input">
<%= select_tag "agency_id", options_from_collection_for_select(@agencies, "shortname", "name", @selected_agencies), :multiple => true %>
</div>
</div>

<div class="clearfix">
<label for="tags">Tags:</label>
<div class="input">
<input type="text" disabled id="tags" value="not yet implemented">
</div>
</div>

<div class="clearfix">
<label for="language">Language:</label>
<div class="input">
<%= text_field_tag('language', @outlet.language) %>
</div>
</div>

<div class="clearfix">
<label for="location">Location:</label>
<div class="input">
<input type="text" disabled id="location" value="not yet implemented">
</div>
</div>

<%= hidden_field_tag('service_url', @outlet.service_url) %>

<div class="actions">
  <input type="submit" class="btn primary" value="Save changes">&nbsp;<button type="reset" class="btn">Cancel</button>
</div>

<% end %>
</div>

<% else %>

<div class="span14">

<p>Paste or type the full URL of your official social media account here:</p>
<form action="verify" method="GET">
<input type="text" name="service_url" class="span7">
<button class="btn" type="submit">Look Up</button>
</form>

</div>

<% end %>
