<% if @outlet %>
<div class="span14">

<%= form_tag({:action => "update"}, :class => "validate form-stacked") do %>

<%= render 'shared/error_messages', :object => @outlet %>

<div class="clearfix">
<label for="organization">Organization or program name:</label>
<div class="input">
<%= text_field_tag('organization', @outlet.organization || @outlet.service_info.profile_name, :class => "span8") %>
<p class="help-block">TODO: needs help text</p>
</div>
</div>

<div class="clearfix">
<label for="info_url">Information URL:</label>
<div class="input">
<%= url_field_tag('info_url', @outlet.info_url || @outlet.service_info.info_url) %>
<p class="help-block">TODO: needs help text</p>
</div>
</div>

<div class="clearfix">
<label for="agency_id">Sponsoring Agency:</label>
<div class="input">
<%= select_tag "agency_id", options_from_collection_for_select(@agencies, "shortname", "name", @selected_agencies), :multiple => true, :class => "span8 chzn-select" %>
<p class="help-block">Choose sponsoring agency by typing its name</p>
</div>
</div>

<div class="clearfix">
<label for="tags">Tags:</label>
<div class="input">
<%= text_field_tag('tags', @outlet.tag_list.join(", "), :class => "span8") %>
<p class="help-block">Separate tags with commas</p>
</div>
</div>

<div class="clearfix">
<label for="language">Language:</label>
<div class="input">
<%= text_field_tag('language', @outlet.language, :class => "span8") %>
<p class="help-block">Specify the primary language</p>
</div>
</div>

<%= hidden_field_tag('service_url', @outlet.service_url) %>
<%= hidden_field_tag('auth_token', @current_token.token) %>

<div class="actions">
  <input type="submit" class="btn primary" value="Save changes">
</div>

<% end %>

<% if @outlet.verified? %>
	<div class="pull-right">
	<%= form_tag({:action => "remove"}) do %>
		<%= hidden_field_tag('service_url', @outlet.service_url) %>
		<%= hidden_field_tag('auth_token', @current_token.token) %>

		<button type="submit" class="btn danger small" data-confirm="Do you really want to remove (<%= @outlet.service_info.display_name %>) from the registry?">Remove this account</button>
  <% end %>
	</div>
<% end %>

</div>

<% else %>


<% if flash[:alert] %>
  <p class="span10 alert-message warning">
    <%= flash[:alert] %>
  </p>
</div>
<div class="row">
<% end %>


<div class="span14">

    <p class="span7"><b>To see if a social media account is an official U.S. government account, please type or paste its complete URL here:</b></p>
    <p>Example: http://twitter.com/whitehouse</p>

<%= form_tag({:action => "add"}, :method => :get) do %>
<%= hidden_field_tag('auth_token', @current_token.token) %>
<input type="text" name="service_url" class="span7" value="<%= params[:service_url] %>">


<button class="btn" type="submit">Look Up</button>
<% end %>

</div>

<% end %>
