<% if @outlet %>
<div class="span14">

<% end %>

<%= form_tag({:action => "update"}) do %>

<%= render 'shared/error_messages', :object => @outlet %>

<div class="clearfix">
<label for="organization">Organization or program name:</label>
<div class="input">
<%= text_field_tag('organization', @outlet.organization || @outlet.service_info.profile_name, :class => "span8") %>
</div>
</div>

<div class="clearfix">
<label for="info_url">Information URL:</label>
<div class="input">
<%= url_field_tag('info_url', @outlet.info_url || @outlet.service_info.info_url) %>
</div>
</div>

<div class="clearfix">
<label for="agency_id">Sponsoring Agency:</label>
<div class="input">
<%= select_tag "agency_id", options_from_collection_for_select(@agencies, "shortname", "name", @selected_agencies), :multiple => true %>
</div>
</div>

<div class="clearfix">
<label for="tags">Tags:</label>
<div class="input">
<%= text_field_tag('tags', @outlet.tag_list.join(", ")) %>
</div>
</div>

<div class="clearfix">
<label for="language">Language:</label>
<div class="input">
<%= text_field_tag('language', @outlet.language) %>
</div>
</div>

<div class="clearfix">
<label for="location_id">Location ID:</label>
<div class="input">
<%= text_field_tag('location_id', @outlet.location_id) %>
</div>
</div>

<%= hidden_field_tag('service_url', @outlet.service_url) %>
<%= hidden_field_tag('auth_token', @current_token.token) %>

<div class="actions">
  <input type="submit" class="btn primary" value="Save changes">&nbsp;<button type="reset" class="btn">Cancel</button>
</div>

<% end %>

<% if @outlet.verified? %>
	<div class="pull-right">
	<%= form_tag({:action => "remove"}) do %>
		<%= hidden_field_tag('service_url', @outlet.service_url) %>
		<%= hidden_field_tag('auth_token', @current_token.token) %>

		<button type="submit" class="btn danger small" data-confirm="Do you really want to remove (<%= @outlet.service_info.display_name %>) from the registry?">Remove this account</button>
	</div>
<% end %>

</div>

<% else %>

<div class="span14">

    <p class="span7"><b>To see if a social media account is an official U.S. government account, please type or paste its complete URL here:</b></p>
    <p>Example: http://twitter.com/whitehouse</p>

<% if @current_token.token %>
<form action="/outlets/add" method="GET">
<%= hidden_field_tag('auth_token', @current_token.token) %>
<% else %>
<form action="/outlets/verify" method="GET">
<% end %>
<input type="text" name="service_url" class="span7">


<button class="btn" type="submit">Look Up</button>
</form>

</div>

<% end %>
