<div class="span12">

  <form action="/accounts" method="GET">
    <label for="service_id">Service:</label>
    <div class="input">
      <input type="text" id="service_id" name="service_id" value="<%= params[:service_id] %>" class="span7">
    </div>
    <label for="agency_id">Agency:</label>
    <div class="input">
      <input type="text" id="agency_id" name="agency_id" value="<%= params[:agency_id] %>" class="span7">
    </div>
    <label for="agency_id">Tag:</label>
    <div class="input">
      <input type="text" id="tag" name="tag" value="<%= params[:tag] %>" class="span7">
    </div>
    <label for="agency_id">Language:</label>
    <div class="input">
      <input type="text" id="language" name="language" value="<%= params[:language] %>" class="span7">
    </div>
    <div class="actions">
      <button class="btn" type="submit">Find</button>
    </div>
  </form>

<%= paginate @outlets, :param_name => :page_number %>

<table class="table table-hover table-condensed">
  <colgroup class="col1" />
  <colgroup class="col2" />
  <colgroup class="col3" />
  <colgroup class="col4" />
  <colgroup class="col5" />
  <thead>
    <tr>
      <th>Service URL</th>
      <th>Organization</th>
      <th>Service</th>
      <th>Account</th>
      <th>Agencies</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
  <% @outlets.each do |outlet| %>
    <tr>
      <td><a href="<%= show_outlet_path(:service => outlet.service, :account => outlet.account) %>"><%= outlet.service_url %></a></td>
      <td><%= outlet.organization %></td>
      <td><%= outlet.service %></td>
      <td><%= outlet.account %></td>
      <td><%= outlet.agencies.map {|a| a.name}.join(", ") %></td>
      <td><%= outlet.tags.join(", ") %></td>
    </tr>
  <% end %>
  </tbody>
</table>


</div>
