<div class="span14">
    <% if @outlet %>
    
    <ul class="breadcrumb">
      <li><a href="verify">Verify an account</a> <span class="divider">/</span></li>
      <li class="active"><%= @outlet.service_url %></li>
    </ul>
    
    <% if flash[:notice] %>
    <div class="row">
        <p class="span7 alert-message block-message info">
            <strong><%= flash[:shortnotice] %></strong> <%= flash[:notice] %>
        </p>
    </div>
    <% end %>

    <% if @outlet.verified? %>
    <div class="row">
        <p class="span7 alert-message block-message success">
            <strong>Yes!</strong> <a href="<%= @outlet.service_url %>"><%= @outlet.service_url %></a> is managed by the U.S. federal government.
        </p>
    </div>
    
	<h3>
		Information about <a href="<%= @outlet.service_url %>"><%= @outlet.service_info.display_name %></a>
	</h3>

    <table class="span8 condensed-table">
        <tbody>
            <tr><td class="span5">Organization or Program:</td><td><%= @outlet.organization %></td></tr>
            <tr><td>Program URL:</td><td><%= link_to @outlet.info_url, @outlet.info_url %></td></tr>
            <tr><td>Sponsoring <%= pluralize_word(@outlet.agencies.count, 'Agency') %>:</td><td><%= @outlet.agencies.join(", ") %></td></tr>
        </tbody>
    </table>

    <hr>
    
    <div class="span8">
        
        <p>If you have a .gov or .mil email address, you can <a href="http://www.howto.gov/social-media/social-media-registry/register-accounts" target="_top">make changes to this listing</a> on HowTo.gov.
    </div>

    <% else %>

    <div class="row">
        <p class="span7 alert-message warning">
            <a href="<%= @outlet.service_url %>"><%= @outlet.service_url %></a> has <strong>not</strong> been registered as an account managed by the U.S. federal government.
        </p>
    </div>

    <hr>
    
    <div class="span8">
        <p>If you know that <em><%= @outlet.service_info.display_name %></em> is an account managed by the U.S. federal government and you have a .gov or .mil email address, you can <a href="http://www.howto.gov/social-media/social-media-registry/register-accounts" target="_top">add it to this registry</a> on HowTo.gov.</p>

    </div>
<% end %>

<% else %>
<h3>Verify social media accounts managed by the U.S. federal government</h3>
<div class="span8">
<p>The government uses social media tools like Twitter, Facebook and YouTube to connect with people and communicate official information, so it’s important to know if a social media account is really managed by the government.</p>

<p>This tool lets you verify if a social media account is managed by the U.S. federal government.</p>

<p>You can look up accounts managed by federal agencies, elected officials, heads of agencies or members of the President&rsquo;s Cabinet.</p>
</div>
</div>
</div>

<hr>

<% if flash[:alert] %>
<div class="row">
  <p class="span10 alert-message warning">
    <%= flash[:alert] %>
  </p>
</div>
<% end %>


<div class="row">
    <div class="span7">
        <p><b>To see if a social media account is managed by the U.S. federal government, please paste its complete URL here:</b><br><br>
        <span class="quiet">Example: http://twitter.com/whitehouse</span>
		</p>
        <%= form_tag({:action => "verify"}, :method => :get) do %>
            <input type="text" name="service_url" class="span5" value="<%= params[:service_url] %>">
            <button class="btn primary" type="submit">Verify</button>
        <% end %>
    </div>
    <div class="span4 offset1">
        <h3>Types of accounts we can verify:</h3>
        <%= render "shared/services_list" %>
    </div>
</div>
<% end %>

</div>