<div class="span14">

<% if @outlet %>
<h1><a href="<%= @outlet.service_url %>"><%= @outlet.service_info.display_name %></a></h1>
<% if @outlet.verified? %>
<p>is registered in the USA.gov Social Media Registry.</p>

<% if @outlet.service_info.profile_image %>
<p><img src="<%= @outlet.service_info.profile_image %>" alt="profile image for <%= @outlet.service_info.display_name %>" title="profile image for <%= @outlet.service_info.display_name %>"></p>
<% end %>

<p><a href="verify">look up another account</a></p>

<h2>Information about this account:</h2>

<p>Organization or Program: <%= @outlet.organization %></p>

<p>Information URL: <%= link_to @outlet.info_url, @outlet.info_url %></p>

<p>Sponsoring <%= pluralize_word(@outlet.agencies.count, 'Agency') %>:
<ul>
<% @outlet.agencies.each do |agency| %>
  <li><%= agency.name %></li>
<% end %>
</ul>

<p>Tags: <%= @outlet.tag_list.join(", ") %></p>

<p>Language: <%= @outlet.language %></p>

<p>Location: <%= @outlet.location_name %></p>

<p>Last updated by: <%= @outlet.updated_by.gsub(/(\w)\w+@/, '\1*****@') %><br>
Last updated on: <%= @outlet.updated_at.to_s(:human) %>
</p>



<% else %>
<p>is not registered in the USA.gov Social Media Registry.</p>

<p><a href="verify">look up another account</a></p>

<% end %>

<p>To make changes to this listing, provide your .gov or .mil email address below. You will receive a link that will allow editing for 60 minutes from the time the email is sent.</p>

<%= form_tag({:controller => "auth_tokens", :action => "create"}) do %>

<div class="clearfix">
<label for="email">Email:</label>
<div class="input">
<%= text_field_tag('email', '', :class => "span8") %>
</div>
</div>

<div class="clearfix">
<label for="phone">Phone:</label>
<div class="input">
<%= text_field_tag('phone', '', :class => "span8") %>
</div>
</div>

<%= hidden_field_tag('service_url', @outlet.service_url) %>

<div class="actions">
  <input type="submit" class="btn primary" value="Submit">
</div>

<% end %>

<% else %>

<p>Paste or type the full URL of a social media account here:</p>
<form action="/outlets/verify" method="GET">
<input type="text" name="service_url" class="span7">
<button class="btn" type="submit">Look Up</button>
</form>

<% end %>

</div>