<%= form_for([:admin,@outlet]) do |f| %>
  <% if @outlet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outlet.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% @outlet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :service %> </br>
    <%= f.select :service, options_from_collection_for_select(Service.all,:shortname,:longname,@outlet.service), {include_blank: "Select"}, {:class => "form-control formwidth"} %>
  </div>
  <div class="field"> 
    <%= f.label :service_url %> We should look into making some of this driven by javascript from the service url</br>
    <%= f.text_field :service_url, :class => "form-control formwidth" %>
  </div>
  <div class="field">
    <%= f.label :account %> </br>
    <%= f.text_field :account, {:class => "form-control formwidth" } %>
  </div>
  <div class="field">
    <%= f.label :organization, "Social Media Account Name" %> </br>
    <%= f.text_field :organization, :class => "form-control formwidth" %>
  </div>
  <div class="field">
    <%= f.label :agencies, "Sponsoring Agencies" %> </br>
    <%= f.select :agencies, options_from_collection_for_select(Agency.all,:id,:name,{:selected => @outlet.agencies.map(&:id)}),
        {}, {:class => "form-control formwidth", :multiple => true} %>
  </div>
  <div class="field">
    <%= f.label :info_url %> </br>
    <%= f.text_field :info_url, :class => "form-control formwidth" %>
  </div>
  <div class="field">
    <%= f.label :language %> </br>
    <%= f.select :language, options_for_select([["English","English"],["Spanish","Spanish"]], @outlet.language), {include_blank: "Select"}, {:class => "form-control formwidth"} %>
  </div>
  <div class="field">
    <%= f.label :tag_list %> </br>
    <%= f.text_field :tag_list, :class => "form-control formwidth" %>
  </div>
  <br/>
  <% content_for :additional_form_links do %>
    <%= f.submit :class => "btn btn-primary" %>
  <% end %>

<% end %>
