<%= form_for([:admin,@outlet]) do |f| %>
  <% if @outlet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outlet.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% @outlet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :service %> </br>
    <%= f.text_field :service, :class => "form-control formwidth" %>
  </div>
  </br>
  <div class="field"> 
    <%= f.label :service_url %> </br>
    <%= f.text_field :service_url, :class => "form-control formwidth" %>
  </div>
  </br> 
  <div class="field">
    <%= f.label :account %> </br>
    <%= f.text_field :account, :class => "form-control formwidth" %>
  </div>
  </br>
  <div class="field">
    <%= f.label :organization %> </br>
    <%= f.text_field :organization, :class => "form-control formwidth" %>
  </div>
  </br>
  <div class="field">
    <%= f.label :info_url %> </br>
    <%= f.text_field :info_url, :class => "form-control formwidth" %>
  </div>
  </br>
  <div class="field">
    <%= f.label :language%> </br>
    <%= f.text_field :language, :class => "form-control formwidth" %>
  </div>
  </br>
  <div class="field">
    <%= f.label :tag_list %> </br>
    <%= f.text_field :tag_list, :class => "form-control formwidth" %>
  </div>
  </br>
  <div class="actions">
    <%= f.submit :class => "btn btn-default" %>
  </div>

<% end %>
