<%= form_for([:admin,@outlet]) do |f| %>
  <% if @outlet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outlet.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% @outlet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :service %> </br>
    <%= f.select :service, options_for_select(Service.all.map{|item| [item.longname,item.shortname,{"data-format-helper" =>item.service_url_example}]}, selected: @outlet.service),{include_blank: "Select"}, {:class => "form-control formwidth"} %>
  </div>
  <div class="field"> 
    <%= f.label :service_url %> format(<span id="format-help">pick a service for format help</span>)</br>
    <%= f.text_field :service_url, :class => "form-control formwidth" %>
  </div>
  <div class="field">
    <%= f.label :account %> </br>
    <%= f.text_field :account, {:class => "form-control formwidth" } %>
  </div>
  <div class="field">
    <%= f.label :organization, "Social Media Account Name" %> </br>
    <%= f.text_field :organization, :class => "form-control formwidth" %>
  </div>
  <div class="field">
    <%= f.label :short_description %> </br>
    <%= f.text_field :short_description, :class => "form-control formwidth" %>
  </div>
  <div class="field">
    <%= f.label :long_description %> </br>
    <%= f.text_area :long_description, :class => "form-control formwidth" %>
  </div>
  <div class="field">
    <%= f.label :language %> </br>
    <%= f.select :language, options_for_select([["English","English"],["Spanish","Spanish"]], @outlet.language), {include_blank: "Select"}, {:class => "form-control formwidth"} %>
  </div>
  <div class="field">
    <%= f.label :agency_tokens, "Sponsoring Agencies" %> </br>
    <%= f.text_field :agency_tokens, {:class => "form-control formwidth", :value => ""} %>
  </div>
  <div class="field">
    <%= f.label :tag_tokens, "Tags" %> </br>
    <%= f.text_field :tag_tokens, {:class => "form-control formwidth", :value => "" }%>
  </div>
  <div class="field">
    <%= f.label :user_tokens, "Contacts" %> </br>
    <%= f.text_field :user_tokens, {:class => "form-control formwidth", :value => "" }%>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
    <%= link_to 'Back', admin_outlets_path, {:class=>"btn btn-default", role: "button"} %>
  </div>

<% end %>

<% content_for :additional_javascript do %>
  <script>
    $("#outlet_agency_tokens").tokenInput("/admin/agencies/tokeninput.json", {
      crossDomain: false,
      prePopulate: <%= raw @outlet.agencies.map(&:attributes).to_json %>
    });

    var tags = [];
    var official_tags = <%= raw @outlet.official_tags.to_json %>;
    for(var i =0; i< official_tags.length; i++){
      tags.push({id: official_tags[i]["id"], name: official_tags[i]["tag_text"]})
    }
    $("#outlet_tag_tokens").tokenInput("/admin/official_tags/tokeninput.json", {
      crossDomain: false,
      prePopulate: tags
    });
    <% user_json = [] 
      @outlet.users.each do |user|
        user_json << {id: user.id, name: user_list_format(user)}
      end
    %>
    $("#outlet_user_tokens").tokenInput("/admin/users/tokeninput.json", {
      crossDomain: false,
      prePopulate: <%= raw user_json.to_json %>
    });

    $('#outlet_service').on("change",function(item){
      if(typeof $('#outlet_service option:selected').data("format-helper") === 'undefined'){
        $('#format-help').html("Pick a service for format help");
      }else{
        $('#format-help').html($('#outlet_service option:selected').data("format-helper"));
      }
    });
  </script>
<% end %>
