<h1>Dashboard</h1>
<div class="col-sm-3 col-md-2 sidebar">
	<%= render partial: "sidebar" %>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Versions</h1>

  <div class="row placeholders">
  	<table class="table table-condensed table-responsible table-striped">
  		<tr>
        <th>Service</th>
        <th>Account</th>
        <th>Agency</th>
        <th>Updated by</th>
        <th>Updated at</th>
        <th>Actions</th>
  		</tr>
  		<% @versions.each do |version| %>
  			<% outlet = version.reify %>
  			<tr>
  				<td><%= outlet.service %></td>
  				<td><%= outlet.account %></td>
          <td><%= outlet.organization %></td>
          <td><%= outlet.updated_by %></td>
          <td><%= outlet.updated_at.strftime("%B %e, %Y %H:%M") %></td>
          <td>
            <ul>
              <li><%= link_to "Restore", restore_admin_outlet_path({id: outlet.id, version_id: version.id}) %></li>
            </ul>
          </td>   
  			</tr>
  		<% end %>
  	</table>
  </div>
</div>