<div class="row">  
  <h1 class="page-header">Versions</h1>
  </br>
  <% @versions.each do |version| %>
    <% outlet = version.reify(:has_one=> true, :has_many => true) %>
      <div class = "panel panel-default">
        <div class = "panel-heading">
          <p style = "display:inline">
            <h3 class = "panel-title">Changes made by: <%= User.find(version.whodunnit).email%> </h3>
            <%= link_to "Restore", restore_admin_outlet_path({id: outlet.id, version_id: version.id}), :class => "pull-right" %>
          </p>
        </div>
        <div class = "panel-body">
          <p>
            <strong>Agencies:</strong>
            <%= outlet.agencies.map(&:to_s).join(', ') %>
          </p>
          <p>
            <strong>Organization:</strong>
            <%= outlet.organization %>
          </p>

          <p>
            <strong>Service:</strong>
            <%= outlet.service %>
          </p>

          <p>
            <strong>Service URL:</strong>
            <%= outlet.service_url %>
          </p>

          <p>
            <strong>Tags:</strong>
            <%= outlet.tags.map(&:to_s).join(', ') %>
          </p>

          <p>
            <strong>Updated at:</strong>
            <%= outlet.updated_at.strftime("%B %e, %Y %H:%M") %>
          </p>
        </div>
      </div>
  <% end %> 
</div>