<div class="col-sm-3 col-md-2 sidebar">
  <%= render partial: "sidebar" %>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Outlets</h1>

  <div class="row placeholders">
  	<table class="table table-condensed table-responsible table-striped">
  		<tr class = "outlet_row">
        <th>Service</th>
        <th>Service URL</th>
        <th>Account</th>
        <th>Agency</th>
        <th>Updated at</th>
        <th>Tags</th>
        <th>Actions</th>
  		</tr>
  		<% @outlets.each do |outlet| %>
  			<tr class = "outlet_row">
  				<td><%= outlet.service %></td>
          <td><%= outlet.service_url %></td>
  				<td><%= outlet.account %></td>
          <td><%= outlet.organization %></td>
          <td><%= outlet.updated_at.strftime("%B %e, %Y %H:%M") %></td>
          <td><%= outlet.tags[1] %></td>
          <td>
            <ul>
              <li><%= link_to "Show", admin_outlet_path(outlet) %> </li>
              <li><%= link_to "Edit", edit_admin_outlet_path(outlet) %></li>
              <li><%= link_to "Delete", admin_outlet_path(outlet), method: :delete, confirm: 'Are you certain you want to delete this?'%></li>
              <li><%= link_to "History", history_admin_outlet_path(outlet) %></li>
            </ul>
          </td>   
  			</tr>
  		<% end %>
  	</table>
  </div>
</div>