<div class="row">
  <div class="col-sm-6 col-md-6">
    <h3><i class="fa fa-clock-o fa-fw"></i> Social Media Account Info</h3>
		<div class="panel panel-default">
	  	<div class="panel-body">
	  		<%= render partial: "outlet_details", locals: {outlet: @outlet} %>
	  	</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6">
    <h3><i class="fa fa-clock-o fa-fw"></i> Published Social Media Account Info</h3>
		<div class="panel panel-default">
	  	<div class="panel-body">
	  		<% if @outlet.published_outlet %>
	  		<%= render partial: "outlet_details", locals: {outlet: @outlet.published_outlet} %>
	  		<% else %>
	  			<p>No information is currently published for this social media account</p>
	  		<% end %>
	    </div>
	  </div>
	</div>
</div>
<div class="row">
	<div class="buttonRow">
		<%= link_to 'Back to Social Media', admin_outlets_path, {:class => "fa fa-angle-double-left"} %>
		<%= link_to 'Edit', edit_admin_outlet_path(@outlet), {:class => "fa fa-pencil"} %> 
		<%= link_to 'History', history_admin_outlet_path(@outlet), {:class=> "fa fa-history"} %>
		<%= link_to 'Publish', publish_admin_outlet_path(@outlet), {:class => "fa fa-bullhorn"} %> 
		<% if @outlet.published_outlet%>
		<%= link_to 'Archive', archive_admin_outlet_path(@outlet), {:class=> "fa fa-archive"} %>  
		<% end %>
	</div>
</div>
<div class = "row">
	<div class="col-lg-4 col-sm-12 col-md-4">
    <h3><i class="fa fa-user"></i> Contacts</h3>
		<div class="panel panel-default">
	  	<div class="panel-body">
	  		<p>This list comprises everyone listed either as a contact on this account, or as a contact for a connected agency</p>
	  		<ul class="list-group">
	  			<% @outlet.all_contacts.each do |contact| %>
	  					<li class="list-group-item"><%= user_list_format(contact) %></li>
	  			<% end %>
	  		</ul>
	  	</div>
		</div>
	</div>
	<div class="col-lg-8 col-sm-12 col-md-8">
    <h3><i class="fa fa-clock-o fa-fw"></i> Recent timeline for this Social Media Account</h3>
		<div class="panel panel-default">
	  	<div class="panel-body">
	  		<ul class="timeline">
	  			<%= render partial: "admin/shared/activities_feed", locals: {activities: @outlet.activities.order("created_at DESC").first(5)} %>
	  		</ul>
	  	</div>
		</div>
	</div>
</div>