<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <h3><i class="fa fa-clock-o fa-fw"></i> Social Media Account Info</h3>
		<div class="panel panel-default">
	  	<div class="panel-body">
	  		<p>
			  	<strong>Agencies:</strong>
				  <%= @outlet.agencies.map(&:name).join(', ') %>
				</p>
				<p>
				  <strong>Organization:</strong>
				  <%= @outlet.organization %>
				</p>

				<p>
				  <strong>Service:</strong>
				  <%= @outlet.service %>
				</p>

				<p>
				  <strong>Service URL:</strong>
				  <%= @outlet.service_url %>
				</p>

				<p>
				  <strong>Tags:</strong>
				  <%= @outlet.official_tags.map(&:tag_text).join(', ') %>
				</p>

				<p>
				  <strong>Updated at:</strong>
				  <%= @outlet.updated_at.strftime("%B %e, %Y %H:%M") %>
				</p>

				<p>
				  <strong>Status:</strong>
				  <%= @outlet.status %>
				</p>
				<div class="buttonRow">
					<%= link_to 'Back to Social Media', admin_outlets_path, {:class => "fa fa-angle-double-left"} %>
					<%= link_to 'Edit', edit_admin_outlet_path(@outlet), {:class => "fa fa-pencil"} %> 
					<%= link_to 'History', history_admin_outlet_path(@outlet), {:class=> "fa fa-history"} %>
					<% if !@outlet.published? %>
					<%= link_to 'Publish', publish_admin_outlet_path(@outlet), {:class => "fa fa-bullhorn"} %> 
					<% end %>
					<% if !@outlet.archived? %>
					<%= link_to 'Archive', archive_admin_outlet_path(@outlet), {:class=> "fa fa-archive"} %>  
					<% end %>
	    	</div>
	  	</div>
		</div>
	</div>
</div>
<div class = "row container col-sm-12 col-md-12">
	<div class="col-lg-4 col-sm-12 col-md-4">
    <h3><i class="fa fa-user"></i> Contacts</h3>
		<div class="panel panel-default">
	  	<div class="panel-body">
	  		<p>This list comprises everyone listed either as a contact on this account, or as a contact for a connected agency</p>
	  		<ul class="list-group">
	  			<% @outlet.all_contacts.each do |contact| %>
	  					<li class="list-group-item"><%= user_list_format(contact) %></li>
	  			<% end %>
	  		</ul>
	  	</div>
		</div>
	</div>
	<div class="col-lg-8 col-sm-12 col-md-8">
    <h3><i class="fa fa-clock-o fa-fw"></i> Recent timeline for this Social Media Account</h3>
		<div class="panel panel-default">
	  	<div class="panel-body">
	  		<ul class="timeline">
	  			<%= render partial: "admin/shared/activities_feed", locals: {activities: @outlet.activities.order("created_at DESC").first(5)} %>
	  		</ul>
	  	</div>
		</div>
	</div>
</div>