    <% if @outlet %>
    
    <% if flash[:notice] %>
    <div class="alert-error">
        <p>
            <strong><%= flash[:shortnotice] %></strong> <%= flash[:notice] %>
        </p>
    </div>
    <% end %>

    <% if @outlet.verified? %>
    <div id="verified-account">
        <p>
            <strong>&iexcl;S&iacute;!</strong> <a href="<%= @outlet.service_url %>" target="_top"><%= @outlet.service_url %></a> es una cuenta administrada por el Gobierno federal de los Estados Unidos.
        </p>
    </div>

	<div role="search" id="verify-another">
		<p><label for="service-url">Para verificar si otra cuenta de redes sociales es administrada por el Gobierno federal de los Estados Unidos, por favor ingrese el URL completo aqu&iacute;:<br><br>
			<span class="quiet">Ejemplo: http://twitter.com/lacasablanca</span>
		</label></p>
	</div>
		
    <%= form_tag({:action => "verify"}, :method => :get) do %>
		<input id="service-url" name="service_url" class="verify-url-field" type="text" value="">
        <button class="verify-button" type="submit">Verificar</button>
    <% end %>
	
    <div class="quiet" id="howto-cta">
        <p>Si tiene un e-mail que termine en .gov o .mil, usted puede <a href="http://www.howto.gov/social-media/social-media-registry/register-accounts" target="_top">hacer cambios al registro de redes sociales en HowTo.gov</a> (en ingl&eacute;s).</p>
    </div>
    


    <% else %>

    <div id="not-verified-account">
        <p>
            <a href="<%= @outlet.service_url %>" target="_top"><%= @outlet.service_url %></a> <strong>no</strong> ha sido registrada como una cuenta administrada por el Gobierno federal de los Estados Unidos.
        </p>
    </div>

	<div role="search" id="verify-another">
		<p><label for="service-url"><strong>Para verificar si otra cuenta de redes sociales es administrada por el Gobierno federal de los Estados Unidos, por favor ingrese el URL completo aqu&iacute;:</strong><br><br>
		<span class="quiet">Ejemplo: http://twitter.com/lacasablanca</span>
		</label></p>
	</div>
		
    <%= form_tag({:action => "verify"}, :method => :get) do %>
		<input id="service-url" name="service_url" class="verify-url-field" type="text" value="">
        <button class="verify-button" type="submit">Verificar</button>
    <% end %>

    
    <div class="quiet" id="howto-cta">
        <p>Si sabe que <em><%= @outlet.service_url %></em> es una cuenta de redes sociales administrada por el Gobierno de Estados Unidos y tiene un e-mail que termina en .gov o .mil, puede <a href="http://www.howto.gov/social-media/social-media-registry/register-accounts" target="_top">agregarla al registro de redes sociales en HowTo.gov</a> <strong>(en ingl&eacute;s)</strong>.</p>

    </div>
<% end %>

<% else %>

<% if flash[:alert] %>
<div class="alert-error">
  <p>
    <%= flash[:alert] %>
  </p>
</div>
<% end %>
<p>El Gobierno utiliza cada vez m&aacute;s las redes sociales (como Twitter, Facebook y YouTube) para comunicarse con el p&uacute;blico y dar a conocer informaci&oacute;n oficial. Por eso es importante saber si una cuenta es realmente administrada por el Gobierno.
</p>
<p>Este servicio tiene como objetivo facilitar la verificaci&oacute;n de las cuentas de redes sociales para saber si son cuentas administradas por el Gobierno federal de los Estados Unidos.</p>   
<p>Usted puede buscar cuentas de redes sociales administradas por agencias federales, funcionarios p&uacute;blicos, directores de agencias y miembros del Gabinete del Presidente.</p>

		
		<div role="search">
			<p><label for="service-url"><strong>Para verificar si una cuenta de redes sociales es administrada por el Gobierno federal de los Estados Unidos, por favor ingrese el URL completo aqu&iacute;:</strong><br><br>
			<span class="quiet">Ejemplo: http://twitter.com/lacasablanca</span>
			</label></p>
		</div>
		
        <%= form_tag({:action => "verify"}, :method => :get) do %>
			<input id="service-url" name="service_url" class="verify-url-field" type="text" value="<%= params[:service_url] %>">
            <button class="verify-button" type="submit">Verificar</button>
        <% end %>
        <h3>Tipos de cuentas que verificamos:</h3>
        <%= render "shared/services_list" %>

<% end %>
