<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Agencies</h1>
    <div class="row placeholders">
      <%= form_tag admin_agencies_path, method: :get, class: 'form-inline' do %>
        <div class="form-group">
          <label>Items per page: </label>
          <%= select_tag :per_page, options_for_select([10, 25, 50, 100], selected: cookies[:per_page_count_agencies] || 25) %>
          <%= submit_tag "Update", class: 'per-page-submit form-group-btn' %>    
        </div>    
      <% end %>       
      <%=paginate @agencies%>
      <%= page_entries_info @agencies %> 
      <table id="agency" class="table table-striped" >
    		<thead>
          <tr class = "agency_row">
            <th><%= sortable "name", "Agency Name" %></th>=
            <th><%= sortable "draft_outlets_count", "# of Social Accounts (published)" %></th>
            <th><%= sortable "draft_mobile_apps_count", "# of Apps (published)" %></th>
            <th><%= sortable "draft_galleries_count", "# of Galleries (published)" %></th>
            <th class = "lastlinks">Actions</th>
      		</tr>
        </thead>

        <tbody>
      		<% @agencies.each do |agency| %>
      			<tr class = "tablerow">
      				<td class = "tabledata midWidth"><%= agency.name %></td>
              <td class="center"><%= agency.draft_outlet_count %> (<%= agency.published_outlet_count %>)</td>
              <td class="center"><%= agency.draft_mobile_app_count %> (<%= agency.published_mobile_app_count %>)</td>
              <td class="center"><%= agency.draft_gallery_count %> (<%= agency.published_gallery_count %>)</td>
              <td class = "table_data lastlinks">
                <%= link_to admin_agency_path(agency) do %> <i class = "glyphicon glyphicon-info-sign"></i> <% end %>
                <!-- <%#= link_to history_admin_agency_path(agency) do %><i class = "glyphicon glyphicon-book"></i> <#% end %>  -->
              </td>   
      			</tr>
      		<% end %>
        </tbody>
    	</table>
      <%= paginate @agencies %>
    </div>
  </div>
</div>

