<h1 class="page-header">Agencies</h1>
<div class = "container">
  <div class="row placeholders">
  	<table id = "agency" >
  		<thead>
        <tr class = "agency_row">
          <th>Agency Name</th>
          <th>Info URL</th>
          <th>Updated at</th>
          <th>Actions</th>
    		</tr>
      </thead>

      <tbody>
    		<% @agencies.each do |agency| %>
    			<tr class = "outlet_row">
    				<td><%= agency.name %></td>
            <td><%= agency.info_url %></td>
            <td><%= agency.updated_at.strftime("%B %e, %Y %H:%M") %></td>
            <td>
              <ul>
                <li><%= link_to "Show", admin_agency_path(agency) %> </li>
                <li><%= link_to "Edit", edit_admin_agency_path(agency) %></li>
                <li><%= link_to "Delete", admin_agency_path(agency), method: :delete, confirm: 'Are you certain you want to delete this?'%></li>
                <li><%#= link_to "History", history_admin_agency_path(agency) %></li>
              </ul>
            </td>   
    			</tr>
    		<% end %>
      </tbody>
  	</table>
  </div>
</div>