<div class = "row">
	<div class="col-sm-12 col-md-12">

    <%= content_for :page_title do %>Agency Info<% end %>
		<h1 class="page-header">Agency Info</h1>
		<div class = "panel panel-default">
			<div class = "panel-body">
				<p>
				  <strong>Agency Name:</strong>
				  <%= @agency.name %>
				</p>
        <p>
          <strong>OMB Max Name:</strong>
          <%= @agency.omb_name %>
        </p>
				<p>
				  <strong>Acronym:</strong>
				  <%= @agency.shortname %>
				</p>
				<p>
				  <strong>Info URL:</strong>
				  <%= @agency.info_url %>
				</p>

				<dl class="dl-horizontal">

          <dt>Social Media</dt>
          <dd><%= @agency.draft_outlet_count%> (<%= @agency.published_outlet_count%> published)</dd>
          <dt>Mobile Products</dt>
          <dd><%= @agency.draft_mobile_app_count%> (<%= @agency.published_mobile_app_count%> published)</dd>
          <dt>Galleries</dt>
          <dd><%= @agency.draft_gallery_count%> (<%= @agency.published_gallery_count%> published)</dd>

        </dl>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12">
		<div class="buttonRow">
			<%= link_to 'Back to Agencies', admin_agencies_path,{:class => "fa fa-angle-double-left"} %>
			<%= link_to 'Edit', edit_admin_agency_path(@agency), {:class => "fa fa-pencil"} %> 
		</div>
	</div>
</div>
<div class = "row">
	<div class="col-lg-3 col-sm-12 col-md-3">
    <h3><i class="fa fa-user"></i> Contacts</h3>
		<div class="panel panel-default">
	  	<div class="panel-body">
	  		<p>This list comprises everyone listed as a contact for this agency.</p>
	  		<ul class="list-group">
	  			<% @agency.users.each do |user| %>
	  					<li class="list-group-item"><%= user_list_format(user) %></li>
	  			<% end %>
	  		</ul>
	  	</div>
		</div>
	</div>
	<div class="col-lg-3 col-sm-12 col-md-3">
    <h3>Social Media Accounts</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="list-group">
          <% @agency.outlets.where(draft_id: nil).each do |outlet| %>
            <li class="list-group-item">
              <%= link_to outlet.organization, admin_outlet_path(outlet) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-12 col-md-3">
    <h3>Mobile Apps</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="list-group">
          <% @agency.mobile_apps.where(draft_id: nil).each do |mobile_app| %>
            <li class="list-group-item">
              <%= link_to mobile_app.name, admin_mobile_app_path(mobile_app) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-12 col-md-3">
    <h3>Galleries</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="list-group">
          <% @agency.galleries.where(draft_id: nil).each do |gallery| %>
            <li class="list-group-item">
              <%= link_to gallery.name, admin_gallery_path(gallery) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
