<div class = "row">
  <div class="col-sm-12 col-md-12">

    <%= content_for :page_title do %>Agency Stats<% end %>
    <h1 class="page-header">Agency Stats</h1>
    <div class = "panel panel-default">
      <div class = "panel-body">
        <p>
          <strong>Agency Name:</strong>
          <%= @agency.name %>
        </p>
        <p>
          <strong>Info URL:</strong>
          <%= @agency.info_url %>
        </p>

        <dl class="dl-horizontal">

          <dt>Social Media</dt>
          <dd><%= @agency.draft_outlet_count%> (<%= @agency.published_outlet_count%> published)</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Mobile Products</dt>
          <dd><%= @agency.draft_mobile_app_count%> (<%= @agency.published_mobile_app_count%> published)</dd>

          <% @agency.mobile_apps.joins(:mobile_app_versions).where("mobile_apps.draft_id IS NOT NULL").group(:platform).distinct("mobile_app_version_id, platform").count.each do |key, value| %>
          <dt><%= key %> (published)</dt>
          <dd><%= value %></dd>
          <% end %>

          <dt>Galleries</dt>
          <dd><%= @agency.published_gallery_count%> (<%= @agency.published_gallery_count%> published)</dd>


        </dl>
      </div>
    </div>
  </div>
</div>

<div class = "row">
  <div class="col-sm-12 col-md-12">
    <h2>Agency Facebook Accounts (<%= @agency.outlets.where(service: "facebook").where("draft_id IS NOT NULL").count %> total)</h2>
    <div class = "panel panel-default">
      <div class = "panel-body">
        <div class="row">
          <div class="col-sm-6">
            <p>Total Followers: <%=  number_with_delimiter(@agency.outlets.where(service: "facebook").where("draft_id IS NOT NULL").sum(:facebook_followers), :delimiter => ',') %> </p>
          </div>
          <div class="col-sm-6">
            <p>Average Followers: <%=  number_with_delimiter(@agency.outlets.where(service: "facebook").where("draft_id IS NOT NULL").average(:facebook_followers), :delimiter => ',') %> </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h3>Most Followers</h3>
            <ul class="list-group smaller">
              <% index = 1
               @agency.outlets.where(service: "facebook").where("draft_id IS NOT NULL").order('facebook_followers desc').first(5).each do |outlet| %>
              <li class="list-group-item"><%= "#{index}. #{outlet.organization} - #{outlet.facebook_followers}" %></li>
              <% index = index + 1
              end %>
            </ul>
            
          </div>
          <div class="col-sm-6">
            <h3>Least Followers</h3>
            <ul class="list-group smaller">
              <% index = 1
               @agency.outlets.where(service: "facebook").where("draft_id IS NOT NULL").order('facebook_followers asc').first(5).each do |outlet| %>
              <li class="list-group-item"><%= "#{index}. #{outlet.organization} - #{outlet.facebook_followers}" %></li>
              <% index = index + 1
              end %>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table id="facebook-data">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Facebook Followers</th>
              <!--     <th>Facebook Likes</th> -->
                 <!--  <th>Facebook Posts</th>
                  <th> Facebook Interactions</th>-->
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Facebook Followers</th>
                  <!-- <th>Facebook Likes</th>
                  <th>Facebook Posts</th>
                  <th>Facebook Interactions</th> -->
                </tr>
              </tfoot>
              <tbody>
                <% @agency.outlets.where(service: "facebook").where("draft_id IS NOT NULL").all.each do |outlet| %>
                <tr>
                  <td><%= link_to outlet.organization, outlet.service_url, :target => "_blank" %></td>
                  <td><%= outlet.facebook_followers %></td>
                <!--   <td><%= outlet.facebook_likes %></td>
                  <td><%= outlet.facebook_posts %></td>
                  <td><%= outlet.facebook_interactions %></td> -->
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "row">
  <div class="col-sm-12 col-md-12">
    <h2>Agency Twitter Accounts (<%= @agency.outlets.where(service: "twitter").where("draft_id IS NOT NULL").count %> total)</h2>
    <div class = "panel panel-default">
      <div class = "panel-body">
        <div class="row">
          <div class="col-sm-6">
            <p>Total Followers: <%=  number_with_delimiter(@agency.outlets.where(service: "twitter").where("draft_id IS NOT NULL").sum(:twitter_followers), :delimiter => ',') %> </p>
          </div>
          <div class="col-sm-6">
            <p>Average Followers: <%=  number_with_delimiter(@agency.outlets.where(service: "twitter").where("draft_id IS NOT NULL").average(:twitter_followers), :delimiter => ',') %> </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p>Total Posts: <%=  number_with_delimiter(@agency.outlets.where(service: "twitter").where("draft_id IS NOT NULL").sum(:twitter_posts), :delimiter => ',') %> </p>
          </div>
          <div class="col-sm-6">
            <p>Average Posts: <%=  number_with_delimiter(@agency.outlets.where(service: "twitter").where("draft_id IS NOT NULL").average(:twitter_posts), :delimiter => ',') %> </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h3>Most Followers</h3>
            <ul class="list-group smaller">
              <% index = 1
               @agency.outlets.where(service: "twitter").where("draft_id IS NOT NULL").order('twitter_followers desc').first(5).each do |outlet| %>
              <li class="list-group-item"><%= "#{index}. #{outlet.organization} - #{outlet.twitter_followers}" %></li>
              <% index = index + 1
              end %>
            </ul>
            
          </div>
          <div class="col-sm-6">
            <h3>Least Followers</h3>
            <ul class="list-group smaller">
              <% index = 1
               @agency.outlets.where(service: "twitter").where("draft_id IS NOT NULL").order('twitter_followers asc').first(5).each do |outlet| %>
              <li class="list-group-item"><%= "#{index}. #{outlet.organization} - #{outlet.twitter_followers}" %></li>
              <% index = index + 1
              end %>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table id="twitter-data">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Twitter Followers</th>
                  <th>Twitter Posts</th>
                  <!-- <th>Twitter Interactions</th> -->
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Twitter Followers</th>
                  <th>Twitter Posts</th>
                  <!-- <th>Twitter Interactions</th> -->
                </tr>
              </tfoot>
              <tbody>
                <% @agency.outlets.where(service: "twitter").where("draft_id IS NOT NULL").all.each do |outlet| %>
                <tr>
                  <td><%= link_to "#{outlet.organization.blank? ? "https://twitter.com/#{outlet.account}" : outlet.organization}" , "https://twitter.com/#{outlet.account}", :target=> "_blank" %></td>
                  <td><%= outlet.twitter_followers %></td>
                  <td><%= outlet.twitter_posts %></td>
                  <!-- <td><%= outlet.twitter_interactions %></td> -->
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "row">
  <div class="col-sm-12 col-md-12">
    <h2>Agency YouTube Accounts  (<%= @agency.outlets.where(service: "youtube").where("draft_id IS NOT NULL").count %> total)</h2>
    <div class = "panel panel-default">
      <div class = "panel-body">
        <div class="row">
          <div class="col-sm-6">
            <p>Total Subscribers: <%=  number_with_delimiter(@agency.outlets.where(service: "youtube").where("draft_id IS NOT NULL").sum(:youtube_subscribers), :delimiter => ',') %> </p>
          </div>
          <div class="col-sm-6">
            <p>Average Subscribers: <%=  number_with_delimiter(@agency.outlets.where(service: "youtube").where("draft_id IS NOT NULL").average(:youtube_subscribers), :delimiter => ',') %> </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p>Total Videos: <%=  number_with_delimiter(@agency.outlets.where(service: "youtube").where("draft_id IS NOT NULL").sum(:youtube_video_count), :delimiter => ',') %> </p>
          </div>
          <div class="col-sm-6">
            <p>Average Videos: <%=  number_with_delimiter(@agency.outlets.where(service: "youtube").where("draft_id IS NOT NULL").average(:youtube_video_count), :delimiter => ',') %> </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p>Total Views: <%=  number_with_delimiter(@agency.outlets.where(service: "youtube").where("draft_id IS NOT NULL").sum(:youtube_view_count), :delimiter => ',') %> </p>
          </div>
          <div class="col-sm-6">
            <p>Average Views: <%=  number_with_delimiter(@agency.outlets.where(service: "youtube").where("draft_id IS NOT NULL").average(:youtube_view_count), :delimiter => ',') %> </p>
          </div>
        </div> 
        <div class="row">
          <div class="col-sm-6">
            <p>Total Comments: <%=  number_with_delimiter(@agency.outlets.where(service: "youtube").where("draft_id IS NOT NULL").sum(:youtube_comment_count), :delimiter => ',') %> </p>
          </div>
          <div class="col-sm-6">
            <p>Average Comments: <%=  number_with_delimiter(@agency.outlets.where(service: "youtube").where("draft_id IS NOT NULL").average(:youtube_comment_count), :delimiter => ',') %> </p>
          </div>
        </div> 
        <div class="row">
          <div class="col-sm-6">
            <h3>Most Followers</h3>
            <ul class="list-group smaller">
              <% index = 1
               @agency.outlets.where(service: "youtube").where("draft_id IS NOT NULL").order('youtube_subscribers desc').first(5).each do |outlet| %>
              <li class="list-group-item"><%= "#{index}. #{outlet.organization} - #{outlet.youtube_subscribers}" %></li>
              <% index = index + 1
              end %>
            </ul>
            
          </div>
          <div class="col-sm-6">
            <h3>Least Followers</h3>
            <ul class="list-group smaller">
              <% index = 1
               @agency.outlets.where(service: "youtube").where("draft_id IS NOT NULL").order('youtube_subscribers asc').first(5).each do |outlet| %>
              <li class="list-group-item"><%= "#{index}. #{outlet.organization} - #{outlet.youtube_subscribers}" %></li>
              <% index = index + 1
              end %>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table id="youtube-data">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>YouTube Subscribers</th>
                  <th>YouTube Videos</th>
                  <th>YouTube Views</th>
                  <th>YouTube Comments</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Name</th>
                  <th>YouTube Subscribers</th>
                  <th>YouTube Videos</th>
                  <th>YouTube Views</th>
                  <th>YouTube Comments</th>
                </tr>
              </tfoot>
              <tbody>
                <% @agency.outlets.where(service: "youtube").where("draft_id IS NOT NULL").all.each do |outlet| %>
                <tr>
                  <td><%= link_to outlet.organization, "https://youtube.com/#{outlet.account}", :target=> "_blank" %></td>
                  <td><%= outlet.youtube_subscribers %></td>
                  <td><%= outlet.youtube_video_count %></td>
                  <td><%= outlet.youtube_view_count %></td>
                  <td><%= outlet.youtube_comment_count %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "row">
  <div class="col-sm-12 col-md-12">
    <h2>Agency Mobile Apps  (<%= @agency.published_mobile_app_count %> total)</h2>
    <div class = "panel panel-default">
      <div class = "panel-body">
        <div class="row">
          <div class="col-sm-12">
            <table id="mobile-data">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Platform</th>
                  <th>Average Rating</th>
                  <th>Total Ratings</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Platform</th>
                  <th>Average Rating</th>
                  <th>Total Ratings</th>
                </tr>
              </tfoot>
              <tbody>
                <% Agency.find(2021).mobile_apps.includes(:mobile_app_versions).where("mobile_apps.draft_id IS NOT NULL").each do |ma| 
                    ma.mobile_app_versions.each do |mav| %>
                  <tr>
                    <td><%= ma.name %></td>
                    <td><%= mav.platform %></td>
                    <td><%= mav.average_rating %></td>
                    <td><%= mav.number_of_ratings %></td>
                  </tr>
                <% end
                end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :additional_javascript do %>
  <script type="text/javascript">
  $(document).ready(function() {
      $('#facebook-data').DataTable( {
        "order": [[ 1, "desc" ]]
    } );
  } );
  $(document).ready(function() {
      $('#twitter-data').DataTable( {
        "order": [[ 1, "desc" ]]
    } );
  } );
  $(document).ready(function() {
      $('#youtube-data').DataTable( {
        "order": [[ 1, "desc" ]]
    } );
  } );
  $(document).ready(function() {
      $('#mobile-data').DataTable( {
        "order": [[ 0, "asc" ]]
    } );
  } );
</script>
<% end %>