<%= content_for :page_title do  %> U.S. Digital Registry <% end %>
<section class="usa-section" id="resources_featured">
  <div class="tablet-lg:grid-container tablet-lg:grid-container-desktop">
    <div class="grid-row tablet-lg:grid-gap-4">

      <div class="grid-col-12 tablet-lg:grid-col-4">
        <div class="box">
          <h2>U.S. Digital Registry</h2>
          <p style="border: 0px">Help prevent exploitation from unofficial sources, phishing scams, or malicious entities.
          <p>
            <a href="https://www.gsa.gov/" title="U.S. General Services Administration">
              <img class="org-img" src="/assets/gsa-logo-w100.png" alt="GSA Logo">
              <span>A product of the U.S. General Services Administration</span>
            </a>
          </p>
        </div>
      </div>

      <div class="grid-col-12 tablet-lg:grid-col-8">
        <div class="collection">
          <p>Verify the official status of social media and public-facing collaboration accounts, mobile apps, and mobile websites that represent U.S. government agencies, organizations, or programs. </p>
          <p>Accounts are managed by federal agencies, heads of agencies, or members of the President’s Cabinet. For customer service on accounts, please contact their programs directly. </p>
           <p>Need help? Email the registry at <a href="mailto:usdigitalregistry@gsa.gov">usdigitalregistry@gsa.gov</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="news_featured" class="stream">
  <div class="paper">
    <div class="grid-container grid-container-desktop">
      <div class="grid-row">
        <div class="grid-col-12">
          <header class="page-head page-head-page">
            <h2>Search the Registry</h2>
           <!--  <div class="join-buttons">
              <a href="#search_social" aria-controls="home" role="tab" data-toggle="tab">Search Social Media Accounts</a>
              <a href="#search_mobile" aria-controls="messages" role="tab" data-toggle="tab">Search Mobile Products</a>
            </div> -->
          </header>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col-12">
          <section class="stream">
            <div class="card card-article card-linked">
              <div class="grid-row tablet:grid-gap-4">
                <div class="grid-col-12">
                  <form class="navbar-form grid-row" role="search" id="social-media-search">
                    <div class="grid-col-12">
                      <div class="grid-row form-inner">
                        <div class="grid-col-12">
                          <h3>Social Media Accounts</h3>
                        <label for="search-social-box">Agency: </label>
                        <%= select_tag "agency", options_from_collection_for_select(Agency.where("published_outlet_count > 0").order(name: :asc), "id", "name_and_social_media_count"), include_blank: 'Select an Agency', class: "test usa-input" , id: "social-media-agency" %>
                        </div>
                      </div>
                      <div class="grid-row form-inner">
                        <div class="grid-col-3">
                          <label for="search-social-language">Language: </label>
                          <%= select_tag "language", options_for_select(language_select_options, nil), include_blank: "Select a Language",  class: "usa-input"  %>
                        </div>
                        <div class="grid-col-3 grid-offset-1">
                          <label for="search-social-platform">Platforms: </label>
                          <%= select_tag "service", options_from_collection_for_select(Admin::Service.where(archived: :false).order(longname: :asc), :shortname, :longname), include_blank: 'Select a Platform', class: "usa-input", id: "social-media-service" %>
                           </div>
                        <div class="grid-col-4 grid-offset-1">
                          <label for="search-social-tags">Tags: </label>
                          <%= select_tag "tags", options_from_collection_for_select(OfficialTag.where("published_outlet_count > 0").order(published_outlet_count: :desc), :id, :text_and_social_count), :class => "usa-input grid-col-9", :prompt => "Select a Tag" %>
                        </div>
                      </div>
                      <div class="grid-row form-inner">
                        <div class="grid-col-2">
                          <label for="search-social-page-size">Page Size: </label>
                          <input type="number" class="usa-input" id="search-social-page-size" placeholder="10" value="10">
                        </div>
                        <div class="grid-col-2 grid-offset-1">
                          <label for="search-social-page">Page: </label>
                          <input type="number" class="usa-input" id="search-social-page" placeholder="1" value="1">
                        </div>
                      </div>
                      <div class="grid-row form-inner">
                        <div class="grid-col-12 inset-results">
                          <div class="inset-buttons">
                            <button class="previous-page usa-button usa-button--outline">Previous Page</button>
                            <button class="next-page usa-button usa-button--outline">Next Page</button>
                          </div>
                          <div id="metadata-results">
                          </div>
                          <table class="table table-striped" style="margin-top:15px">
                            <thead>
                              <tr>
                                <th style="width: 15%;">Agency</th>
                                <th style="width: 13%;">Account Platform</th>
                                <th style="width: 12%;"> Account Name</th>
                                <th style="width: 50%;">Description</th>

                                <th style="width: 10%;">Last Updated</th>
                              </tr>
                            </thead>
                            <tbody id="social-media-collection">
                              <td colspan="12"><p style="text-align:center;">Use the form above to find social media accounts.</p></td>
                            </tbody>
                          </table>
                          <div class="inset-buttons">
                            <button class="previous-page usa-button usa-button--outline">Previous Page</button>
                            <button class="next-page usa-button usa-button--outline">Next Page</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="card card-article card-linked">
              <div class="grid-row tablet:grid-gap-4">
                <div class="grid-col-12">
                  <form class="navbar-form navbar-left grid-row" role="search" id="mobile-search">
                    <div class="grid-col-12">
                      <div class="grid-row form-inner">
                        <div class="grid-col-12">
                        <h3>Mobile Applications</h3>
                        <label for="search-mobile-box">Agency: </label>
                        <%= select_tag "agency", options_from_collection_for_select(Agency.where("published_mobile_app_count > 0").order(name: :asc), "id", "name_and_mobile_count"), include_blank: 'Select an Agency', class: "usa-input" , id: "app-agency", :autocomplete => "off" %>
                        </div>
                      </div>
                      <div class="grid-row form-inner">
                        <div class="grid-col-3">
                          <label for="search-mobile-language">Language: </label>
                          <%= select_tag "mobile-language", options_for_select([ ["Select a Language", ""], ["English", "English"], ["Spanish", "Spanish"]] ),  class: "usa-input", id: "mobile-language"  %>
                        </div>
                        <div class="grid-col-4 grid-offset-1">
                          <label for="search-app-tags">Tags: </label>
                          <%= select_tag "app-tags", options_from_collection_for_select(OfficialTag.where("published_mobile_app_count > 0").order(published_mobile_app_count: :desc), :id, :text_and_mobile_count), :class => "usa-input grid-col-9", :prompt => "Select a Tag", :autocomplete => "off" %>
                        </div>
                      </div>
                      <div class="grid-row form-inner">
                        <div class="grid-col-2">
                          <label for="search-mobile-page-size">Page Size: </label>
                          <input type="text" class="usa-input" id="mobile-page-size" placeholder="10" value="10">
                        </div>
                        <div class="grid-col-2 grid-offset-1">
                          <label for="search-mobile-page">Page: </label>
                          <input type="text" class="usa-input" id="mobile-page" placeholder="1" value="1">
                        </div>
                      </div>
                      <div class="grid-row form-inner">
                        <div class="grid-col-12 inset-results">
                          <div class="inset-buttons">
                            <button class="mobile-previous-page usa-button usa-button--outline">Previous Page</button>
                            <button class="mobile-next-page usa-button usa-button--outline">Next Page</button>
                          </div>
                          <div id="mobile-metadata-results">
                          </div>
                          <table class="table table-striped" style="margin-top:15px">
                          <thead>
                            <tr>
                              <th style="width: 15%;">Agency</th>
                              <th style="width: 15%;">Platforms</th>
                              <th style="width: 30%;">Name</th>
                              <th style="width: 45%;">Description</th>
                              <th style="width: 15%;">Last Updated</th>
                            </tr>
                          </thead>
                          <tbody id="mobile-collection">
                            <tr>
                              <td colspan="5"><p style="text-align: center;">Use the form above to find mobile products.</p></td>
                            </tr>
                          </tbody>
                        </table>
                          <div class="inset-buttons">
                            <button class="mobile-previous-page usa-button usa-button--outline">Previous Page</button>
                            <button class="mobile-next-page usa-button usa-button--outline">Next Page</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="card card-article card-linked">
              <div class="grid-row tablet:grid-gap-4">
                <div class="grid-col-12">
                  <form class="navbar-form navbar-left grid-row" role="search" id="government-urls-search">
                    <div class="grid-col-12">
                      <div class="grid-row form-inner">
                        <div class="grid-col-12">
                          <h3>Government Domains:</h3>
                          <p>Government Domains that do not end in .gov or .mil</p>
                          <label for="government-urls-text">Search: </label>
                          <input type="text" class="usa-input" id="government-urls-text" placeholder="Search" value="">
                        </div>
                      </div>
                      <div class="grid-row form-inner">
                        <div class="grid-col-2">
                          <label for="search-government-urls-page-size">Page Size: </label>
                          <input type="text" class="usa-input" id="government-urls-page-size" placeholder="10" value="10">
                        </div>
                        <div class="grid-col-2 grid-offset-1">
                          <label for="search-government-urls-page">Page: </label>
                          <input type="text" class="usa-input" id="government-urls-page" placeholder="1" value="1">
                        </div>
                      </div>
                      <div class="grid-row form-inner">
                        <div class="grid-col-12 inset-results">
                          <div class="inset-buttons">
                            <button class="government-urls-previous-page usa-button usa-button--outline">Previous Page</button>
                            <button class="government-urls-next-page usa-button usa-button--outline">Next Page</button>
                          </div>
                          <div id="government-urls-metadata-results">
                          </div>
                          <table class="table table-striped" style="margin-top:15px;table-layout:fixed; width:100%">
                          <thead>
                            <tr>
                              <th style="max-width: 20%;width: 20%;">URL</th>
                              <th style="max-width: 20%;width: 20%;">Government Org.</th>
                              <th style="max-width: 40%;width: 40%;">Location / Notes</th>
                              <th style="max-width: 20%;width: 20%;">Last Updated</th>
                            </tr>
                          </thead>
                          <tbody id="government-urls-collection">
                            <tr>
                              <td colspan="5"><p style="text-align: center;">Use the form above to find government urls.</p></td>
                            </tr>
                          </tbody>
                        </table>
                          <div class="inset-buttons">
                            <button class="government-urls-previous-page usa-button usa-button--outline">Previous Page</button>
                            <button class="government-urls-next-page usa-button usa-button--outline">Next Page</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="card card-article card-linked">
              <div class="grid-row tablet:grid-gap-4">
                <div class="grid-col-3 grid-offset-3">
                  <h3>Federal Agencies</h3>
                 <a href="/federal-agencies" class="usa-button">Register and Manage Accounts</a>
                  <p>Help prevent exploitation from unofficial sources, phishing scams, or malicious entities.</p>
                </div>
                <div class="grid-col-3">
                  <h3>Developers</h3>
                 <a href="/developers" class="usa-button">Use and Improve the API</a>
                 <p>Access the <a href="https://open.gsa.gov/api/digital-registry/">U.S. Digital Registry API</a> or its <a href="https://github.com/GSA/us-digital-registry" onclick="__gaTracker('send', 'event', 'outbound-article', 'https://github.com/GSA/us-digital-registry', 'GitHub repo');">GitHub repo</a> to test, evaluate, improve and use it.
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>


<% content_for :additional_javascript do %>
  <style>
    .tab-pane{
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }
    .metadata-results{
      min-height: 20px;
    }
    .inset-buttons{
      margin: 15px 0px 15px 0px ;
    }
  </style>

<script id="social-media-template" type="text/x-handlebars-template">
  <tr>
    <td>{{#each agencies}}
        {{name}}
      {{/each}}</td>
    <td>{{service_display_name}}</td>
    <td><a href="{{service_url}}" target="_">
      {{#if organization}}
        {{organization}}
      {{else}}
        {{service_display_name}}:{{service_url}}
      {{/if}}
      </a></td>
    <td>{{short_description}}{{#if short_description}}<br/><br/>{{/if}}{{#if tags}}Tags: {{#tagoutput}}{{tags}}{{/tagoutput}}{{/if}}</td>
    <td>{{#formatDate}}{{updated_at}}{{/formatDate}}</td>
  </tr>
</script>

<script id="mobile-template" type="text/x-handlebars-template">
  <tr>
    <td>{{#each agencies}}
        {{name}}&nbsp;
      {{/each}}</td>
    <td>{{#each versions}}
        <a href="{{store_url}}" target="_">{{platform}}</a>
      {{/each}}</td>
    <td>{{name}}</td>
    <td>{{short_description}}{{#if short_description}}<br/><br/>{{/if}}{{#if tags}}Tags: {{#tagoutput}}{{tags}}{{/tagoutput}}{{/if}}</td>
    <td>{{#formatDate}}{{updated_at}}{{/formatDate}}</td>
  </tr>
</script>

<script id="government-urls-template" type="text/x-handlebars-template">
  <tr>
    <td>URL: {{url}}{{#if link}}<br/>Link: {{link}}{{/if}} </td>
    <td>{{level_of_government}}{{#if federal_agency}}<br/>Federal Agency: {{federal_agency}}{{/if}}</td>
    <td>
      Notes: {{note}}
      {{#if location}}
        Location: {{location}}
      {{/if}}
    </td>
    <td>Date Added: {{date_added}}
    <br/>Updated At: {{#formatDate}}{{updated_at}}{{/formatDate}}</td>
  </tr>
</script>
<script id="metadata-template" type="text/x-handlebars-template">
  <div class="metadata-results">
    <p>Displaying {{page_size}} results on page {{page}} of {{pages}} total pages. Total results: {{ count}}</p>
  </div>
</script>


  <script>
  Handlebars.registerHelper('formatDate', function(date){
    if(date.data.root){
      var d = new Date(date.data.root.updated_at);
      return (d.getUTCMonth()+1)+"/"+ d.getUTCDate() +"/"+ d.getUTCFullYear();
    }
    return '';
  });

  Handlebars.registerHelper('tagoutput', function(item){
    var array_of_text = []
    if(item.data.root){
      for(var i = 0 ; i<item.data.root.tags.length; i++){
        array_of_text.push(item.data.root.tags[i].tag_text);
      }
    }
    return array_of_text.join(", ");
  });

  var source_social_media_template   = $("#social-media-template").html();
  var social_media_template = Handlebars.compile(source_social_media_template);


  var source_mobile_template   = $("#mobile-template").html();
  var mobile_template = Handlebars.compile(source_mobile_template);

  var source_government_urls_template   = $("#government-urls-template").html();
  var government_urls_template = Handlebars.compile(source_government_urls_template);

  var source_metadata_template = $('#metadata-template').html();
  var metadata_template = Handlebars.compile(source_metadata_template);


  $(document).ready(function(){
    $('.previous-page').hide();
    $('.next-page').hide();
    $('.mobile-previous-page').hide();
    $('.mobile-next-page').hide();
    $('.government-urls-previous-page').hide();
    $('.government-urls-next-page').hide();
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      $('.flex-active').toggleClass('flex-active');
      e.currentTarget.className = "flex-active";
    });

    $('#social-media-agency').selectize({
        sortField: 'text'
    });

    $('#app-agency').selectize({
        sortField: 'text',
        autocomplete: 'off'
    });


    $('#tags').selectize({
        sortField: 'text'
    });

    $('#app-tags').selectize({
        sortField: 'text',
        autocomplete: 'off'
    });

    $('#social-media-search').submit(function(e){
      e.preventDefault();
      submit_social_media_form();

    });

    $('#social-media-search input, #social-media-search select').on('change', function(){
      submit_social_media_form();

    });


    $('.previous-page').click(function(e){
      e.preventDefault();
      page_int = parseInt($('#search-social-page').val(),10);
      if(page_int > 1){
        $('#search-social-page').val(page_int - 1);
      }else{
        $('#search-social-page').val(1)
      }
      submit_social_media_form();
    });
    $('.next-page').click(function(e){
      e.preventDefault();
      var page_int = parseInt($('#search-social-page').val(),10);
      if(page_int){
        $('#search-social-page').val(page_int + 1);
      }else{
        $('#search-social-page').val(1)
      }
      submit_social_media_form();
    });


    $('.mobile-next-page').click(function(e){
      e.preventDefault();
      var page_int = parseInt($('#mobile-page').val(),10);
      if(page_int){
        $('#mobile-page').val(page_int + 1);
      }else{
        $('#mobile-page').val(1)
      }
      submit_mobile_form();
    });
    $('.mobile-previous-page').click(function(e){
       e.preventDefault();
      var page_int = parseInt($('#mobile-page').val(),10);
      if(page_int){
        $('#mobile-page').val(page_int - 1);
      }else{
        $('#mobile-page').val(1)
      }
      submit_mobile_form();
    });


    $('#mobile-search input, #mobile-search select').on('change', function(){
      submit_mobile_form();
    });

    $('.government-urls-next-page').click(function(e){
      e.preventDefault();
      var page_int = parseInt($('#government-urls-page').val(),10);
      if(page_int){
        $('#government-urls-page').val(page_int + 1);
      }else{
        $('#government-urls-page').val(1)
      }
      submit_government_url_form();
    });
    $('.government-urls-previous-page').click(function(e){
       e.preventDefault();
      var page_int = parseInt($('#government-urls-page').val(),10);
      if(page_int){
        $('#government-urls-page').val(page_int - 1);
      }else{
        $('#government-urls-page').val(1)
      }
      submit_government_url_form();
    });


    $('#government-urls-search input, #government-urls-search select').on('change', function(){
      submit_government_url_form();
    });
  });

    function submit_social_media_form(){
      $.get("https://api.gsa.gov/systems/digital-registry/v1/social_media.json",{
        agencies: $('#social-media-agency').val(),
        services: $('#social-media-service').val(),
        language: $('#language').val(),
        page_size: $('#search-social-page-size').val(),
        page: $('#search-social-page').val(),
        tags: $('#tags').val()
      }, function(data){

        $('#social-media-collection').empty();
        $('#metadata-results').html(metadata_template(data.metadata));

        if(data.results.length > 0){
          $('.previous-page').show();
          $('.next-page').show();

        }else{
          $('.previous-page').hide();
          $('.next-page').hide();
        }
        for(var i =0; i<data.results.length; i++){
          $('#social-media-collection').append(social_media_template(data.results[i]));
        }
      });
    }

    function submit_government_url_form(){
      $.get("https://api.gsa.gov/systems/digital-registry/v1/government_urls.json",{
        q: $('#government-urls-text').val(),
        page_size: $('#government-urls-page-size').val(),
        page: $('#government-urls-page').val()
      }, function(data){

        $('#government-urls-collection').empty();
        $('#government-urls-metadata-results').html(metadata_template(data.metadata));

        if(data.results.length > 0){
          $('.government-urls-previous-page').show();
          $('.government-urls-next-page').show();

        }else{
          $('.government-urls-previous-page').hide();
          $('.government-urls-next-page').hide();
        }
        for(var i =0; i<data.results.length; i++){
          $('#government-urls-collection').append(government_urls_template(data.results[i]));
        }
      });
    }

    function submit_mobile_form(){

      $.get("https://api.gsa.gov/systems/digital-registry/v1/mobile_apps.json",{
        agencies: $('#app-agency').val(),
        language: $('#mobile-language').val(),
        page_size: $('#mobile-page-size').val(),
        page: $('#mobile-page').val(),
        tags: $('#app-tags').val()
      }, function(data){
        $('#mobile-metadata-results').html(metadata_template(data.metadata));

        $('#mobile-collection').empty();
        if(data.results.length > 0){
          $('.mobile-previous-page').show();
          $('.mobile-next-page').show();
        }else{
          $('.mobile-previous-page').hide();
          $('.mobile-next-page').hide();
        }
        for(var i =0; i<data.results.length; i++){
          $('#mobile-collection').append(mobile_template(data.results[i]));
        }
      });
    }


    // submit_social_media_form();
    // submit_mobile_form();
  </script>

<% end %>
