<h1 class="page-header">Users</h1>

<div class="row placeholders">
  <%= paginate @emails %>     
  <table class=" table table-striped">
    <thead>
      <tr = "users_row">
        <th>Email To</th>
        <th>Email From</th>
        <th>Subject</th>
        <th>Body</th>
        <th>Time</th>
        <th class = "lastlinks">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @emails.each do |email| %>
        <tr class = "tablerow">
          <td class = "table_data"><%= email.to %></td>
          <td class = "table_data"><%= user_list_format(email.user) %></td>
          <td class = "table_data"><%= email.subject %> </td>
          <td class = "table_data"><%= email.body.first(75) %> </td>
          <td class = "table_data"><%= email.created_at.strftime("%B %e, %Y %H:%M") %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @emails %>
</div>
