<h1 class = "page-header"> Email Registered User </h1>

<%= form_for ([:admin,@email]) do |f| %>
	<% if @email.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@email.errors.count, "error") %> prohibited this chapter from being saved:</h2>

			<ul>
			<% @email.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class = "field">
		<%= f.label :to  %> </br>
		<%= f.text_field :to,  :class => "form-control formwidth" %>
	</div>	
	<div class = "field">
		<%= f.label :subject  %> </br>
		<%= f.text_field :subject, :class => "form-control formwidth", autofocus: true %>
	</div>
	<div class = "field">
		<%= f.label :body  %> </br>
		<%= f.text_area :body, :class => "form-control formwidth", :rows => "8" %>
	</div>
	</br>
	<div class="actions">
		<%= f.submit "Send", :class => "btn btn-default" %>
	</div>
<% end %>

