<div class="row">
  <div class="col-sm-12 col-md-12 main">

    <%= content_for :page_title do %>Show Email<% end %>
    <h1 class = "page-header"> #Show</h1>
    <div class = "field">
      <p>To: <%= @email.to %></p>
    </div>  
    <div class = "field">
      <p>Subject: <%= @email.subject %></p>
    </div>
    <div class = "field">
     <p>Body:</p>
     <p><%= @email.body%></p>
    </div>
    <div class = "buttonRow">
      <%= link_to 'About', admin_about_path,{:class => "glyphicon glyphicon-info-sign"} %>
      <%= link_to 'Dashboard', admin_path(), {:class => "fa fa-home"} %> 
    </div>
  </div>
</div>
