<div class="row">
  <div class="col-sm-12 entry widget-wrap">
    <h1 class=""> Search pages</h1>
    <p>These are widgets performing search against the API.  Social Media Search, Social Media Verification, and Mobile Apps Search are included</p>
    <div class="featured-tabs clearfix" role="tabpanel">
      <ul class="flextabs-custom-controls clearfix" role="tablist">
        <li role="presentation" class="tab-pop firstab"><a href="#search_social" aria-controls="home" role="tab" data-toggle="tab" class="flex-active">Search Social Media Accounts</a></li>
        <li role="presentation"><a href="#verify_social" aria-controls="profile" role="tab" data-toggle="tab">Verify Social Media</a></li>
        <li role="presentation"><a href="#search_mobile" aria-controls="messages" role="tab" data-toggle="tab">Search Mobile Applications</a></li>
        <li role="presentation"><a href="#code_examples" aria-controls="messages" role="tab" data-toggle="tab">Code Examples</a></li>
      </ul>
      <div class="tab-content flextabs clearfix">
        <div role="tabpanel" class="tab-pane fade in active" id="search_social">
          <%= render partial: "public/search/social_media/search_html" %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="verify_social">
          <%= render partial: "public/search/social_media/verify_html" %>

        </div>
        <div role="tabpanel" class="tab-pane fade" id="search_mobile">
          <%= render partial: "public/search/mobile_apps/search_html" %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="code_examples">
          <div class="row">
            <div class="col-sm-12">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h2 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Social Media Search
                      </a>
                    </h2>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <h3>HTML Markup</h3>
                      <div class="well">
                        <pre>
<%= "#{render(partial: "public/search/social_media/search_html")}" %>
                        </pre>
                      </div>
                      <h3>Javascript</h3>
                      <div class="well">
                        <pre>
<%= "#{render(partial: "public/search/social_media/search_js")}" %>
                        </pre>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h2 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Verify Social Media
                      </a>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                       <h3>HTML Markup</h3>
                      <div class="well">
                        <pre>
<%= "#{render(partial: "public/search/social_media/verify_html")}" %>
                        </pre>
                      </div>
                      <h3>Javascript</h3>
                      <div class="well">
                        <pre>
<%= "#{render(partial: "public/search/social_media/verify_js")}" %>
                        </pre>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h2 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Search Mobile
                      </a>
                    </h2>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      <div class="well">
                        <pre>
<%= "#{render(partial: "public/search/mobile_apps/search_html")}" %>
                        </pre>
                      </div>
                      <h3>Javascript</h3>
                      <div class="well">
                        <pre>
<%= "#{render(partial: "public/search/mobile_apps/search_js")}" %>
                        </pre>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :additional_javascript do %>
  <script>  
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      $('.flex-active').toggleClass('flex-active');
      e.currentTarget.className = "flex-active";
    })
  </script>
  <%= render partial: "public/search/social_media/search_js" %>
  <%= render partial: "public/search/social_media/verify_js" %>
  <%= render partial: "public/search/mobile_apps/search_js" %>
<% end %>
