<% activities.each do |activity| %>  

  	<div class="panel panel-default">
  	  
	  <div class="panel-body">
		<% case activity.trackable_type %>
		  	<% when "Outlet" %>
		  	  	<i class="fa fa-share-alt"></i>
		  	  	Social Media Account: 
		  	  	<%= link_to activity.trackable.organization, admin_outlet_path(activity.trackable) %>
		  	  	<% case activity.key %>
		  	  		<% when "outlet.restored" %>
		  	  		restored to an earlier verison
		  	  		<% when "outlet.update" %>
		  	  		updated
		  	  		<% when "outlet.created" %>
		  	  		created by
		  	  	<% end %>
		  		on <%= activity.created_at.strftime("%m/%d/%Y at %I:%M:%S %p") %> by <%= link_to " #{activity.owner.email}".html_safe, admin_user_path(activity.owner) if activity.owner %>  
		  	<% when "User"%>
		  		<i class="fa fa-user"></i>
		  	  	User: 
		  	  	<% if activity.trackable %>
		  	  	<%= link_to activity.trackable.email, admin_user_path(activity.trackable) %>
		  	  	<% else %>
		  	  		Deleted User
		  	  	<% end %>
		  	  	<% case activity.key %>
		  	  		<% when "user.restored" %>
		  	  		restored to an earlier verison
		  	  		<% when "user.update" %>
		  	  		updated
		  	  		<% when "user.created" %>
		  	  		created by
		  	  	<% end %>
		  		on <%= activity.created_at.strftime("%m/%d/%Y at %I:%M:%S %p") %> by <%= link_to " #{activity.owner.email}".html_safe, admin_user_path(activity.owner) if activity.owner %>  
		  	<% else %>
			   <%= activity.inspect %>
  		<% end %>
  	  </div>
	</div>
<% end %>  