<div class="row dashboard">
	<div class="col-sm-12 col-md-12 main">
	  <!-- <h1 class="page-header">Dashboard</h1> -->

<div class="row">
  <div class="col-sm-12">
    <h2>Dashboard</h2>
    <div class="row">
	  	<div class="col-sm-12 col-md-6">
        <div class="activity-trackers">
		  		<h3><i class="fa fa-sitemap"></i> Asset Breakdown</h3>
		  		<div class="panel panel-default">	
				  	<div class="panel-body">
							<p>Social Media Accounts (<%= @outlet_count %> accounts)</p>
					    <div class="progress">
					  	  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= @outlet_count.to_f / @max_count * 100%>%">
						    <span class="sr-only"><%= @outlet_count %> accounts</span>
							  </div>
							</div>
							<p>Mobile Applications (<%= @app_count %> applications)</p>
					    <div class="progress">
					  	  <div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= @app_count.to_f / @max_count * 100%>%">
							    <span class="sr-only"><%= @app_count%> applications</span>
							  </div>
							</div>
							<p>Galleries (<%= @gallery_count %> galleries)</p>
					    <div class="progress">
					  	  <div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= @gallery_count.to_f / @max_count * 100%>%">
							    <span class="sr-only"><%= @gallery_count %> galleries</span>
							  </div>
							</div>
					  	<p>Tags (<%= @tag_count %> tags)</p>
							<div class="progress">
							  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: <%= @tag_count.to_f / @max_count * 100%>%">
							    <span class="sr-only"><%= @tag_count %> tags</span>
							  </div>
							</div>
							<p>Agencies (<%= @agency_count %> agencies)</p>
							<div class="progress">
							  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @agency_count.to_f / @max_count * 100%>%">
							    <span class="sr-only"><%= @agency_count %> agencies</span>
							  </div>
							</div>
							<p>Users (<%= @user_count %> users)</p>
							<div class="progress">
							  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: <%= @user_count.to_f / @max_count * 100%>%">
							    <span class="sr-only"><%= @user_count %> users</span>
							  </div>
							</div>
				  	</div>
				  </div>
        </div>
			</div>
			<div class="col-sm-12 col-md-6">
        <div class="activity-trackers">
	        <h3><i class="fa fa-sitemap"></i> Social/Mobile Breakdown</h3>
	        <div class="row">
	            <div class="col-sm-6 col-md-12">
	                <div id="socialchart" style="height: 250px;"></div>
	            </div>
	            <div class="col-sm-6 col-md-12">
	                <div id="mobilechart" style="height: 250px;"></div>
	            </div>
	        </div>
        </div>
			</div>
		</div>    
	</div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="activity-trackers">  
      <h3><i class="fa fa-clock-o fa-fw"></i> Popular Tags</h3>
	  	<div class="panel panel-default">
		  	<div class="panel-body">
		  		<div id="tags" style="height:200px; width:100%;">

		  		</div>
		  	</div>
	  	</div>
    </div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
    <div class="activity-trackers">
		 <h3><i class="fa fa-tasks"></i> Activity Breakdown</h3>
  		<div class="panel panel-default">
	  		<div class="panel-body activityChart">
					<div class="col-md-4"><div id="piechart" style="height: 300px;"></div></div>
					<div class="col-md-8"><div id="areachart" style="height: 300px;"></div></div>
		  	</div>
	  	</div>
    </div>
	</div>
</div>
<% content_for :additional_javascript do %>
	<script>
	Morris.Donut({
	    element: 'mobilechart',
	    resize: true,
	    data: <%= raw @mobile_chart.to_json %>,
	    formatter: function (y) { return y + " apps" }
	  });

		Morris.Donut({
	    element: 'socialchart',
	    resize: true,
	    data: <%= raw @social_chart.to_json %>,
	    formatter: function (y) { return y + " accounts" }
	  });
	
		
		Morris.Area({
	    element: 'areachart',
	    data: <%= raw @activites_graph_json.to_json %>,
	    xkey: 'period',
	    ykeys: ['activities'],
	    labels: ['activities'],
	    pointSize: 2,
	    resize: true,
	    hideHover: 'auto'
	  });

		Morris.Donut({
		    element: 'piechart',
	    	resize: true,
		    data: <%= raw @activities_pie_json.to_json %>,
		    formatter: function (y) { return y + " accounts" }
		});

		var word_cloud = <%= raw @tag_cloud.to_json %>;
		$('#tags').jQCloud(word_cloud);
		var rtime = new Date(1, 1, 2000, 12,00,00);
		var timeout = false;
		var delta = 500;
		$(window).resize(function() {
		    rtime = new Date();
		    if (timeout === false) {
	        timeout = true;
	        setTimeout(resizeend, delta);
		    }
		});

		function resizeend() {
	    if (new Date() - rtime < delta) {
	        setTimeout(resizeend, delta);
	    } else {
	        timeout = false;
					$('#tags').css("width", "100%");
					$('#tags').empty();
					$('#tags').jQCloud(word_cloud);
	    }               
		}
	</script>
<% end %>
</div>