<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <%= content_for :page_title do %>U.S. Digital Registry<% end %>
    <h1 class="page-header">U.S. Digital Registry</h1>
    <div class="row">
      <div class="col-sm-12">
        <div style="margin: 10px; padding: 10px; border: 1px solid black;">
  <p><b>Notice:</b> As of April 19, 2018, all entries that have not been updated by agencies since <b>January 1, 2017</b> have been archived. Archived accounts will not appear in the public facing list and API of official, active accounts. This was done to help ensure that users can trust that accounts listed in the U.S. Digital Registry as official are still active.

<p>Federal agencies are directed to update these account by OMB Memo M-17-06, “Policies for Federal Agency Public Websites and Digital Services,” which states “To help confirm the validity of official U.S. Government digital platforms, within 60 days of the publication date of this Memorandum, agencies must register their public-facing digital services such as social media, collaboration accounts, mobile apps and mobile websites, with the U.S. Digital Registry at: <a href="http://www.digitalgov.gov/services/u-s-digital-registry/">http://www.digitalgov.gov/services/u-s-digital-registry/</a>.”</p>

<p style="margin-bottom: 0px;">If your federal agency account has been archived but is still active, you can easily log-in and update these accounts to make them active again. In the meantime, GSA will continue to help agencies fulfill this need by providing support and guidance.
</p></div>
      </div>
    </div> 
    <div class="row">
	  	<div class="col-sm-6 col-md-6">
        <div class="activity-trackers">
		  		<h2>Social Media</h2>
		  		<div class="panel panel-default">
				  	<div class="panel-body">
              <ul class="table_list">
                <li><%= link_to "Add a Social Media Account", new_admin_outlet_path, class: "btn btn-default" %></li>
                <li>&nbsp;</li>
                <li><%= link_to "View Social Media Accounts", admin_outlets_path, class: "btn btn-default" %></li>
              </ul>
				  	</div>
				  </div>
        </div>
			</div>
			<div class="col-sm-6 col-md-6">
        <div class="activity-trackers">
	        <h2>Mobile Products</h2>
          <div class="panel panel-default">
				  	<div class="panel-body">
              <ul class="table_list">
                <li><%= link_to "Add a Mobile Product", new_admin_mobile_app_path, class: "btn btn-default" %></li>
                <li>&nbsp;</li>
                <li><%= link_to "View Mobile Products", admin_mobile_apps_path, class: "btn btn-default" %></li>
              </ul>
				  	</div>
				  </div>
        </div>
			</div>
		</div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="activity-trackers">
          <h3>Social Media Activity</h3>
          <div class="panel panel-default">
            <div class="panel-body">
              <ul class="table_list">
                <li>Created last 30 Days: <%=  Outlet.where("draft_id IS NULL").where("created_at > ?", 30.days.ago).count %></li>
                <li>Created last 90 Days: <%=  Outlet.where("draft_id IS NULL").where("created_at > ?", 90.days.ago).count %></li>
                <li>Created last 180 Days: <%=  Outlet.where("draft_id IS NULL").where("created_at > ?", 180.days.ago).count %></li>
              </ul>
              <ul class="table_list">
                <li>Updated last 30 days: <%=  Outlet.where("draft_id IS NULL").where("updated_at > ?", 30.days.ago).count %></li>
                <li>Updated last 90 days: <%=  Outlet.where("draft_id IS NULL").where("updated_at > ?", 90.days.ago).count %></li>
                <li>Updated last 180 days: <%=  Outlet.where("draft_id IS NULL").where("updated_at > ?", 180.days.ago).count %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="activity-trackers">
          <h3>Mobile Apps Activity</h3>
          <div class="panel panel-default">
            <div class="panel-body">
              <ul class="table_list">
                <li>Created last 30 Days: <%=  MobileApp.where("draft_id IS NULL").where("created_at > ?", 30.days.ago).count %></li>
                <li>Created last 90 Days: <%=  MobileApp.where("draft_id IS NULL").where("created_at > ?", 90.days.ago).count %></li>
                <li>Created last 180 Days: <%=  MobileApp.where("draft_id IS NULL").where("created_at > ?", 180.days.ago).count %></li>
              </ul>
              <ul class="table_list">
                <li>Updated last 30 days: <%=  MobileApp.where("draft_id IS NULL").where("updated_at > ?", 30.days.ago).count %></li>
                <li>Updated last 90 days: <%=  MobileApp.where("draft_id IS NULL").where("updated_at > ?", 90.days.ago).count %></li>
                <li>Updated last 180 days: <%=  MobileApp.where("draft_id IS NULL").where("updated_at > ?", 180.days.ago).count %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>
</div>
