<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <%= content_for :page_title do %>Social Media and Mobile Products Registry<% end %>
    <h1 class="page-header">Social Media and Mobile Products Registry</h1>
    <div class="row">
	  	<div class="col-sm-6 col-md-6">
        <div class="activity-trackers">
		  		<h2>Social Media</h2>
		  		<div class="panel panel-default">
				  	<div class="panel-body">
              <ul class="table_list">
                <li><%= link_to "Add a Social Media Account", new_admin_outlet_path, class: "btn btn-default" %></li>
                <li>&nbsp;</li>
                <li><%= link_to "View Social Media Accounts", admin_outlets_path, class: "btn btn-default" %></li>
              </ul>
				  	</div>
				  </div>
        </div>
			</div>
			<div class="col-sm-6 col-md-6">
        <div class="activity-trackers">
	        <h2>Mobile Products</h2>
          <div class="panel panel-default">
				  	<div class="panel-body">
              <ul class="table_list">
                <li><%= link_to "Add a Mobile Product", new_admin_mobile_app_path, class: "btn btn-default" %></li>
                <li>&nbsp;</li>
                <li><%= link_to "View Mobile Products", admin_mobile_apps_path, class: "btn btn-default" %></li>
              </ul>
				  	</div>
				  </div>
        </div>
			</div>
		</div>
	</div>
</div>
</div>
