<%= form_for([:admin,@user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, :class => 'form-control formwidth'%>
  </div>
  </br>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, :class => 'form-control formwidth'%>
  </div>
  </br>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user, :class => 'form-control formwidth'%>
  </div>
  </br>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :class => 'form-control formwidth'%>
  </div>
  </br>
  <div class = "field">
    <%= f.label :agency %></br>
    <%= f.text_field :agency, :class => 'form-control formwidth', :disabled => true %> 
  </div>
  </br>
  <div class = "field">
    <%= f.label :groups %></br>
    <%= f.text_field :groups, :class => "form-control formwidth", :disabled => true %>
  </div>
  </br>
  <div class = "field">
    <%= f.label :phone %></br>
    <%= f.text_field :phone, :class => "form-control formwidth"%>
  </div>
  </br>
  <div class="actions">
    <%= f.submit :class => "btn btn-default" %>
  </div>
<% end %>
