<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Users</h1>
    <div class="bg-info">
        <p>Notice: Users are managed through OMB Max.  Please contact the administrators of the OMB Max groups <%= "#{ENV['REGISTRY_ADMIN_GROUP']} & #{ENV['REGISTRY_ADMIN_GROUP']}" %>.</p>

        <p>If a users information has been updated in OMB Max and they are still having issues, tell them to log out and back in, as this triggers the system to pull their data from OMB Max again</p>
      </div>
    <div class="placeholders">
      <%= form_tag admin_users_path, method: :get, class: 'form-inline' do %>
        <div class="form-group">
          <%= select_tag :agency, content_tag(:option, "Select an Agency", value: "")+options_from_collection_for_select(Agency.all,:id,:name,params[:agency]) %>
        </div>
        <div class="form-group">
          <label>Items per page: </label>
          <%= select_tag :per_page, options_for_select([10, 25, 50, 100], selected: cookies[:per_page_count_users] || 25) %>
          <%= submit_tag "Update", class: 'per-page-submit form-group-btn' %>    
        </div>    
      <% end %>      
    <%= paginate @users %>  
    <%= page_entries_info @users %>   
  	<table class=" table table-striped">
      <thead>
    		<tr class="users_row">
    			<th><%= sortable "email", "Email" %></th>
          <th><%= sortable "agency_id", "Agency" %></th>
          <th><%= sortable "role", "Role" %></th>
          <th><%= sortable "sign_in_count", "sign-in Count" %></th>
          <th><%= sortable "Last Sign-in" %> </th>
    			<th class="lastlinks">Actions</th>
    		</tr>
      </thead>
      <tbody>
    		<% @users.each do |user| %>
    			<tr class="tablerow">
    				<td class="table_data"><%= link_to user.email, new_admin_email_message_path(:param1 => user.email) %></td>
            <td class="table_data"><%= user.agency.name if user.agency %> </td>
            <td class="table_data"><%= user.role.titleize if user.role %> </td>
            <td class="table_data"><%= user.sign_in_count %> </td>
            <td class="table_data"><%= user.last_sign_in_at.strftime("%B %e, %Y %H:%M") if user.last_sign_in_at? %> </td>
    				<td class="table_data lastlinks">
             <%= link_to admin_user_path(user) do %> <i class="glyphicon glyphicon-info-sign"></i> <%end %>
             <%= link_to edit_admin_user_path(user) do %> <i class="glyphicon glyphicon-pencil"> </i> <% end %>
           </td>
    			</tr>
    		<% end %>
      </tbody>
  	</table>
    <%= paginate @users %>
    </div>
  </div>
</div>
