<section class="usa-section" id="resources_featured">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row">

      <div class="grid-col-12">
		    <h1 class="page-header">User Info</h1>
		    <div class="panel panel-default">
		      <div class="panel-body">
						<p>
						  <strong>First name</strong>
						  <%= @user.first_name %>
						</p>

						<p>
						  <strong>Last name:</strong>
						  <%= @user.last_name %>
						</p>

						<p>
						  <strong>User name:</strong>
						  <%= @user.user %>
						</p>

						<p>
						  <strong>Email:</strong>
						  <%= @user.email %>
						</p>

						<p>
						  <strong>Agency:</strong>
						  <%= @user.try(:agency).try(:name) %>
						</p>
						<p>
						  <strong>Role</strong>
						  <%= @user.role.titleize if @user.role %>
						</p>
						<p>
						  <strong>Phone:</strong>
						  <%= @user.phone %>
						</p>
		      </div>
		  	</div>
			</div>
		</div>
		<div class="grid-row">
			<div class="grid-col-12 main">
				<div class="buttonRow">
					<%= link_to 'Back', admin_users_path, {:class => "usa-button"} %>
					<% if current_user.admin? %>
					<%= link_to 'Delete (ADMIN ONLY)', admin_user_path(@user), { :method => :delete, :class => "usa-button"} %>
					<% end %>
					<%= link_to 'Edit', edit_admin_user_path(@user), {:class => "usa-button"}  %>
			  </div>
			</div>
		</div>
    <div class="grid-row">
			<div class="grid-col-6">
				<h3>Social Media Accounts</h3>
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="list-group">
              <% @user.outlets.each do |outlet| %>
                <li class="list-group-item">
                  <%= link_to "#{outlet.organization} - #{Admin::Service.find_by_shortname(outlet.service).longname}", admin_outlet_path(outlet), target: "_blank" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
			</div>
			<div class="grid-col-6">
        <h3>Mobile Apps</h3>
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="list-group">
              <% @user.mobile_apps.each do |mobile_app| %>
                <li class="list-group-item">
                  <%= link_to "#{mobile_app.name}", admin_mobile_app_path(mobile_app), target: "_blank" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
			</div>
		</div>
	</div>
</section>
