<div class="row">
	<div class="col-sm-12 col-md-12 main">
    <h3><i class="fa fa-clock-o fa-fw"></i> User Info</h3>
    <div class="panel panel-default">
      <div class="panel-body">
				<p id="notice"><%= notice %></p>

				<p>
				  <strong>First name</strong>
				  <%= @user.first_name %>
				</p>

				<p>
				  <strong>Last name:</strong>
				  <%= @user.last_name %>
				</p>

				<p>
				  <strong>User name:</strong>
				  <%= @user.user %>
				</p>

				<p>
				  <strong>Email:</strong>
				  <%= @user.email %>
				</p>

				<p>
				  <strong>Agency:</strong>
				  <%= @user.agency %>
				</p>

				<p>
				  <strong>Groups:</strong>
				  <%= @user.groups %>
				</p>
				<p>
				  <strong>Groups:</strong>
				  <%= @user.role.titleize if @user.role %>
				</p>
				<p>
				  <strong>Phone:</strong>
				  <%= @user.phone %>
				</p>
      </div>
  	</div>
	  <div class="buttonRow">
	    <%= link_to 'Back', admin_users_path, {:class => "fa fa-angle-double-left"} %>
			<%= link_to 'Edit', edit_admin_user_path(@user), {:class => "fa fa-pencil"}  %> 
	  </div>
	</div>
</div>