<%= paginate activities %>
<%= page_entries_info activities %>  
  <div class="activities">
  	<div class="panel panel-default">
	  	<table class="table table-striped">
	  		<tr>
	  			<th>Item</th>
	  			<th>Action</th>
	  			<th>User</th>
	  			<th>Date/Time</th>
	  		</tr>
	  		<% activities.each do |activity| %>
	  		<tr>
	  			<td>
	  				<% if activity.trackable %>
		  				<% case activity.trackable_type %>
		  				<% when "Outlet" %>
					  	  	<%= link_to activity.trackable.organization, admin_outlet_path(activity.trackable) %>
					  	<% when "User" %>
					  	  	<%= link_to activity.trackable.email, admin_user_path(activity.trackable) %>
					  	<% when "MobileApp" %>
					  	  	<%= link_to activity.trackable.name, admin_mobile_app_path(activity.trackable) %>
					  	<% when "Gallery" %>
					  	  	<%= link_to activity.trackable.name, admin_gallery_path(activity.trackable) %>
			  			<% end %>
			  		<% else %>
			  			Deleted
		  			<% end %>
	  			</td>
	  			<td><%= activity.key.split(".").last.titleize %></td>
	  			<td>
	  				<% if activity.owner %>
	  				<%= link_to activity.owner.email, admin_user_path(activity.owner.id) %>
	  				<% else %>
	  				system
	  				<% end %>
	  			</td>
	  			<td><%= activity.created_at.strftime("%m/%e/%Y %H:%M %Z") %></td>
	  		</tr>
	  		<% end %>
	  	</table>
	  </div>
  </div>
<%= paginate activities %>