<%= paginate activities %>
  <div class="activities">
  	<div class="panel panel-default">
	  	<table class="table table-striped">
	  		<tr>
	  			<th>Item</th>
	  			<th>Action</th>
	  			<th>User</th>
	  			<th>Date/Time</th>
	  		</tr>
	  		<% activities.each do |activity| %>
	  		<tr>
	  			<td>
	  				<% case activity.trackable %>
	  				<% when Outlet %>
	  					<i class="fa fa-share-alt"></i>Social Media Account: 
				  	  	<%= link_to activity.trackable.organization, admin_outlet_path(activity.trackable) %>
				  	<% when User %>
					  	<i class="fa fa-user"></i>User: 
				  	  	<%= link_to activity.trackable.email, admin_user_path(activity.trackable) %>
		  			<% end %>
	  			</td>
	  			<td><%= activity.key.split(".").last.titleize %></td>
	  			<td>
	  				<% if activity.owner %>
	  				<%= link_to activity.owner.email, admin_user_path(activity.trackable) %>
	  				<% else %>
	  				system
	  				<% end %>
	  			</td>
	  			<td><%= activity.created_at.strftime("%m/%d/%Y at %I:%M:%S %p") %></td>
	  		</tr>
	  		<% end %>
	  	</table>
	  </div>
  </div>
<%= paginate activities %>