<html>
<head>
	<%= render "layouts/html_head" %>
</head>
<body>
	
    <nav class="navbar">
    	<div class="usa-banner gov-banner">
  <div class="usa-accordion container ">
    <header class="usa-banner__header">
      <div class="usa-banner__inner ">
        <div class="grid-col-auto"><img class="usa-banner__header-flag" src="/assets/us_flag_small.png" alt="A U.S. flag">
        </div>
        <div class="grid-col-fill tablet:grid-col-auto">
          <p class="usa-banner__header-text">An official website of the United States government</p>
          <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
        </div>
        <button class="usa-accordion__button usa-banner__button" aria-expanded="false" aria-controls="gov-banner">
          <span class="usa-banner__button-text">Here’s how you know</span>
        </button>
      </div>
    </header>
    <div class="usa-banner__content usa-accordion__content container" id="gov-banner" hidden="">
      <div class="row">
        <div class="col-sm-6 col-xs-12"><img class="usa-banner__icon usa-media-block__img" src="/assets/icon-dot-gov.svg" alt="Dot gov">
          <div class="usa-media-block__body">
            <p>
              <strong>The .gov means it’s official.</strong>
              <br>
              Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12"><img class="usa-banner__icon usa-media-block__img" src="/assets/icon-https.svg" alt="Https">
          <div class="usa-media-block__body">
            <p>
              <strong>The site is secure.</strong>
              <br>
              The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
	  	<div id="navbar-container" class="container">
        <div class="navBrand">
        <a class="brandImg" href="/admin"></a>
    	</div>
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>

	    </div>
	    <div id="navbar" class="navbar-collapse collapse">
	      <ul class="nav navbar-nav">
	        <li class="<%= "active" if request.path == "/admin" %>">
	        	<a href="/admin/">Home</a>
	        </li>

	        <li class="<%= "active" if request.original_url.include? "admin/social_media" %>">
	        	<a href="#" class = "dropdown-toggle" data-toggle = "dropdown" aria-expanded = "false">Social Media <span class = "caret"></span></a>
	        	<ul class="dropdown-menu" role="menu">
		            <li><%= link_to "Social Media Accounts List", admin_outlets_path %></li>
		             <li><%= link_to "Social Media Accounts Review",  admin_review_social_media_path %></li>
		            <% if current_user.admin? %>
		            <li><%= link_to "Social Media Accounts Activity", activities_admin_outlets_path %></li>
		            <% end %>
		            <li><%= link_to "Add a Social Media Account", new_admin_outlet_path %></li>
		        </ul>
	        </li>
	        <li class = "<%= "active" if request.original_url.include? "admin/mobile_apps" %>">
	        	<a href="#" class = "dropdown-toggle" data-toggle = "dropdown" aria-expanded = "false">Mobile Products<span class = "caret"></span></a>
	        	<ul class="dropdown-menu" role="menu">
		            <li><%= link_to "Mobile Products List", admin_mobile_apps_path %> </li>
		            <li><%= link_to "Mobile Products Review",  admin_review_mobile_apps_path %></li>
		            <% if current_user.admin? %>
		            <li><%= link_to "Mobile Products Activity", activities_admin_mobile_apps_path %></li>
		            <% end %>
		            <li><%= link_to "Add a Mobile Product", new_admin_mobile_app_path %></li>
		        </ul>
	        </li>
	        <% if current_user.admin? %>
		        <li class = "<%= "active" if request.original_url.include?("admin/agencies") ||
		        		request.original_url.include?("admin/users") ||
		        		request.original_url.include?("admin/official_tags") ||
		        		request.original_url.include?("admin/email_messages") %>">
		        	<a href="#" class = "dropdown-toggle" data-toggle = "dropdown" aria-expanded = "false">Admin<span class = "caret"></span></a>
		        	<ul class="dropdown-menu" role="menu">
			            <li><%= link_to "Agencies List", admin_agencies_path %> </li>
			            <li><%= link_to "Tags List", admin_official_tags_path %> </li>
			            <li><%= link_to "New Tag", new_admin_official_tag_path %> </li>
			            <li><%= link_to "Users List", admin_users_path %> </li>
			            <li><%= link_to "Emails Sent", admin_email_messages_path %> </li>
			            <li><%= link_to "Services List", admin_services_path %> </li>
			        </ul>
		        </li>
	        <% end %>
	         <li class = "<%= "active" if request.original_url.include?("stats") %>">
		        	<a href="#" class = "dropdown-toggle" data-toggle = "dropdown" aria-expanded = "false">Stats<span class = "caret"></span></a>
		        	<ul class="dropdown-menu" role="menu">
		        		<% if current_user.agency %>
			        		<% if current_user.agency.stats_enabled?  %>
			        		<li class="<%= "active" if request.path == "agency/#{current_user.agency.id}/stats" %>">
				            <%= link_to "Agency Stats", stats_admin_agency_path(current_user.agency.id) %>
				          	</li>
				          	<% end %>
				        <% end %>
	        	    <li class="<%= "active" if request.path == "/stats/twitter" %>">
			            <%= link_to "Twitter Stats", stats_twitter_url %>
			          </li>
			          <li class="<%= "active" if request.path == "/stats/facebook" %>">
			            <%= link_to "Facebook Stats", stats_facebook_url %>
			          </li>
			          <li class="<%= "active" if request.path == "/stats/youtube" %>">
			            <%= link_to "Youtube Stats", stats_youtube_url %>
			          </li>
			        </ul>
			     </li>
	      </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
	        	<a href="#" class = " user-dropdown dropdown-toggle" data-toggle = "dropdown" aria-expanded = "false">
	        			<span class="username"><%= current_user.email %></span>
	        			
	        			<span class = "caret"></span>
	        	</a>
	        	<ul class="dropdown-menu" role="menu">
	            <!-- <li><%= link_to "Profile", edit_admin_user_path(current_user) %></li> -->
	          
	            <li><%= link_to "Email Admins", new_admin_email_message_path(include_admins: true) %></li>
	            <li><%= link_to "Edit Profile", edit_admin_user_path(current_user) %></li>
	            <li><%= link_to "Logout", destroy_user_session_path %></li>
	            <% if Rails.env.development?  %>
	            	<li role="presentation" class="dropdown-header">Impersonate</li>
	            	<% User.roles.each do |k,v|
	            		  user = User.where(role: v).first
	            		  if user %>
			                <li><%= link_to k.humanize, admin_impersonate_path(user_id: user.id) %></li>
			            <% end %>
	            	<% end %>
	            <% end %>
		        </ul>
	        </li>

        </ul>
	    </div>
	  </div>
	</nav>

	<div class="container wrapping">
		</br>
		<% if notice %>
  		<p class="alert alert-success" role="alert"><%= notice %><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>
		<% end %>
		<% if alert %>
			<% unless alert.start_with?("Your session") || alert.start_with?("You need to") %>
	 		<p class="alert alert-danger"><%= alert %></p>
	 		<% end %>
		<% end %>
    <%= yield %>
  </div>

<section class="anchor" data-uswds="1.0">
  <div class="component-anchor">
    <div class="usa-accordion">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="org-short">
              <div class="org-copy">
                <a href="https://www.gsa.gov" title="U.S. General Services Administration"><img class="org-img" src="/assets/gsa-logo-w100.png" style="width: 48px;" alt="U.S. General Services AdministrationLogo"></a>
                <p><a href="#" title="usdigitalregistry.;digitalgov.gov">USDigitalRegistry.Digital.gov</a> is a product of GSA’s <a href="https://www.gsa.gov/tts/" title="Technology Transformation Services">Technology Transformation Services</a>, and managed by the <a href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services/tts-solutions" title="Office of Solutions">Office of Solutions</a>.</p>
                 <button class="btn-learn-more usa-button usa-button--outline usa-button--inverse usa-accordion__button" aria-hidden="false" aria-expanded="false" aria-controls="org-details">
                <span>Learn&nbsp;more</span>
              </button>
              </div>

             
            </div>
          </div>
        </div>

        <div class="org-expanded" id="org-details" hidden="">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="org-copy">
                  <p>As part of GSA’s Technology Transformation Services (TTS), we apply modern methodologies and technologies to improve the public’s experience with government. We help agencies make their services more accessible, efficient, and effective with modern applications, platforms, processes, personnel, and software solutions. <a class="more" href="https://www.gsa.gov/tts/" title="Learn more aboutTechnology Transformation Services">Read more</a></p>
                  <p>TTS Solutions is a portfolio of products and services that help agencies improve delivery of information and services to the public. <a class="more" href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services/tts-solutions" title="Learn more aboutOffice of Solutions">Read more</a></p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
              <div class="org-links">
                <p><i class="fa fa-envelope" aria-hidden="true"></i> For questions about this website, email <a href="mailto:usdigitalregistry@gsa.gov">usdigitalregistry@gsa.gov</a>.</p>

                <p>Additional information about the U.S. General Services Administration (GSA) can be found at <a href="https://www.gsa.gov/about" title="More about theGSA">https://www.gsa.gov/about</a></p>
                <ul>
                  <li><a href="https://www.gsaig.gov/" title="Report fraud, waste, or abuse to the Office of the Inspector General">Report fraud, waste, or abuse to the Office of the Inspector General</a></li>
                  <li><a href="https://www.gsa.gov/reference/freedom-of-information-act-foia" title="Submit a Freedom of Information Act (FOIA) request">Submit a Freedom of Information Act (FOIA) request</a></li>
                  <li><a href="https://www.gsa.gov/reference/reports/budget-performance" title="View budget and performance reports">View budget and performance reports</a></li>
                  <li><a href="https://www.gsa.gov/website-information/accessibility-aids" title="View accessiblity statement">View accessiblity statement</a></li>
                  <li><a href="https://www.gsa.gov/about-us/organization/office-of-civil-rights/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002" title="View No FEAR Act data">View No FEAR Act data</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-anchor-support">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="usagov">
            <p><i class="fa fa-comment fa-flip-horizontal" aria-hidden="true"></i> <span>Have a question about government services?</span>&nbsp;&nbsp;<a class="usa-button usa-button-sm" href="https://www.usa.gov/contact?ref=Digital.gov">Contact USA.gov</a></p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
	
  <%= javascript_include_tag 'admin' %>
  <%= yield :additional_javascript %>

  <!-- We participate in the US government's analytics program. See the data at analytics.usa.gov. -->
<script async type="text/javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA" id="_fed_an_ua_tag"></script>
</body>
</html>
