<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="http://schema.org/WebSite" prefix="og: http://ogp.me/ns#">
<head profile="http://gmpg.org/xfn/11">
  <%= render "layouts/html_head" %>
</head>
<body class="page home">
  <div class="paper">
    <%= render "layouts/dg_banner" %>
    <%= render "layouts/public_header" %>
    
    <main aria-label="Content" role="main" id="main-content">
      <% #should move the notices/alerts to their own "section header" most likely when they do appear %>
      <% if notice %>
        <p class="alert alert-success" role="alert"><%= notice %><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>
        <% end %>
      <% if alert %>
        <% unless alert.start_with?("Your session") || alert.start_with?("You need to") %>
        <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      <% end %>
      <% # YIELD ACTUAL CONTENT PAGES %>
      <%= yield %>
    </main>
    

    <%= render "layouts/dg_footer" %>
    <%= javascript_include_tag "public" %>
    
    <%= javascript_include_tag "jquery.tokeninput" %>
    <%= yield :additional_javascript %>


    
  </div> <!-- End Paper -->
  <% if !Rails.env.development? %>
    <!-- We participate in the US government's analytics program. See the data at analytics.usa.gov. -->
  <script async type="text/javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA" id="_fed_an_ua_tag"></script>
  <% end %>
</body>
</html>
