<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %> | HowTo.gov</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <style type="text/css">
    /* Override some bootstrap defaults */
    html, body {
      background-color: #fff;
    }
    body {
      padding-top: 0px;
    }
    .container > footer p {
      text-align: center; /* center align it with the container */
    }
    .container {
      width: 460px; 
    }

    /* The white background content wrapper */
    .content {
      background-color: #fff;
    }

    /* Page header tweaks */
    .page-header {
      background-color: #f5f5f5;
      padding: 20px 20px 10px;
      margin: -20px -20px 20px;
    }

    /* Give a quick and non-cross-browser friendly divider */
    .content .span4 {
      margin-left: 0;
      padding-left: 19px;
      border-left: 1px solid #eee;
    }

    .topbar .btn {
      border: 0;
    }

    /* Form default text tweaks */
    input::-webkit-input-placeholder {
      color:    gray;
    }
    input:-moz-placeholder {
      color:    gray;
    }
    
  </style>
</head>
<body>

<div class="container">

  <div class="content">
    <div class="row">

<%= yield %>

    </div>
  </div>

</div> <!-- /container -->


<!-- <%= debug(params) if Rails.env.development? %> -->

</body>
</html>
