how<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %> | HowTo.gov</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= stylesheet_link_tag    "howto" %>
  <%= javascript_include_tag "application" %>

</head>
	<body>
		<div id="container">
			<header>
				<div id="header-inner" class="clearfix">
					<a href="#skip-to-content-destination" id="skip-to-content-link-home" tabindex="1" name="skip-to-content-link-home">Skip to main content</a>
					<div id="logo-title" role="banner">
						<div id="site-name">
							<a href="http://digitalgov.gov" title="Home" rel="home">HowTo.gov</a>
						</div>
					</div><!-- close logo-title -->
					<!-- <div id="header-nav">
						<ul class="menu level-1" role="navigation">
							<li class="facebook">
								<a href="http://www.facebook.com/pages/Washington-DC/Web-Content-Managers-Forum/102988744944" title="Facebook" class=" menu-mlid-657 level-depth-1">Facebook</a>
							</li>
							<li class="twitter">
								<a href="http://twitter.com/govnewmedia" title="Twitter" class=" menu-mlid-658 level-depth-1">Twitter</a>
							</li>
							<li>
								<a href="http://www.digitalgov.gov/contact-us/">Contact Us</a>
							</li>
							<li>
								<a href="https://www.digitalgov.gov/about/">About Us</a>
							</li>
							<li class="last">
								<a href="http://www.digitalgov.gov/about/policies/" title="Site Policies">Site Policies</a>
							</li>
						</ul>
					</div>
				</div> -->				
			</header>
			<section id="form">
				<div class="page-header">
					<h2><%= @page_title %></h2>
				</div>

				<%= yield %>
				
			</section>
			<footer>
					<p>

						An Official Website of the US Government<br />

						Sponsored by <a href="http://www.gsa.gov/portal/category/25729">GSA&#39;s Office of Citizen Services &amp; Innovative Technologies</a><br />

						Managed by the <a href="http://www.usa.gov/webcontent/about/council.shtml">Federal Web Managers Council</a></p>
						<p></p>
				
			</footer>
		</div>
		
		<%= render "shared/webtrends" %>

	</body>
</html>
