how<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %> | DigitalGov.gov</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= stylesheet_link_tag    "howto" %>
  <%= javascript_include_tag "application" %>

</head>
	<body>
		<div id="container">
			<header>
				<div id="header" class="clearfix">
					<div id="head-content" class="clearfix">
						<!-- SITE-TITLE/LOGO -->
						<div id="sitetitle">
							<a href="http://www.digitalgov.gov" title="DigitalGov"><img src="https://digitalgov.sites.usa.gov/files/2014/01/logo2.png" alt="DigitalGov" /></a>
						</div>
					</div>
				</div><!-- close logo-title -->
					<!-- <div id="header-nav">
						<ul class="menu level-1" role="navigation">
							<li class="facebook">
								<a href="http://www.facebook.com/pages/Washington-DC/Web-Content-Managers-Forum/102988744944" title="Facebook" class=" menu-mlid-657 level-depth-1">Facebook</a>
							</li>
							<li class="twitter">
								<a href="http://twitter.com/govnewmedia" title="Twitter" class=" menu-mlid-658 level-depth-1">Twitter</a>
							</li>
							<li>
								<a href="http://www.digitalgov.gov/contact-us/">Contact Us</a>
							</li>
							<li>
								<a href="https://www.digitalgov.gov/about/">About Us</a>
							</li>
							<li class="last">
								<a href="http://www.digitalgov.gov/about/policies/" title="Site Policies">Site Policies</a>
							</li>
						</ul>
					</div>
				</div> -->				
			</header>
			<section id="form">
				<div class="page-header">
					<h2><%= @page_title %></h2>
				</div>

				<%= yield %>
				
			</section>
			<footer>
				<div class="textwidget"><a href="http://www.gsa.gov" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://www.gsa.gov']);"><img src="http://www.digitalgov.gov/files/2013/11/logo_footer_gsa.png" alt="GSA Service Mark"></a>
					<br>
						U.S. General Services Administration
					<br>
						an official site of the U.S. Government
					<br>
						| <a href="http://www.digitalgov.gov/about">About</a> | <a href="http://www.digitalgov.gov/about/policies/">Site Policies</a> | <a href="http://www.digitalgov.gov/contact-us/">Contact Us</a> | 
				</div>
				
			</footer>
		</div>
		
		<%= render "shared/webtrends" %>

	</body>
</html>
