<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %> | Social Media Registry Admin</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
 <style type="text/css">
    /* Override some bootstrap defaults */
    html, body {
      background-color: #eee;
    }
    body {
      font-family: Verdana, sans-serif;
      padding-top: 40px;
    }

    input,
    button,
    select,
    textarea {
      font-family: Verdana, sans-serif;
    }

    table {
      table-layout: fixed; width: 100%;
    }

    .col1 {width:40%;}

    td {
      overflow:hidden; 
      text-overflow: ellipsis; 
    }

    .container > footer p {
      text-align: center; /* center align it with the container */
    }

    /* The white background content wrapper */
    .content {
      background-color: #fff;
      padding: 20px;
      margin: 0 -20px;  negative indent the amount of the padding to maintain the grid system 
      -webkit-border-radius: 0 0 6px 6px;
         -moz-border-radius: 0 0 6px 6px;
              border-radius: 0 0 6px 6px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
         -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
              box-shadow: 0 1px 2px rgba(0,0,0,.15);
    }

    /* Page header tweaks */
    .page-header {
      background-color: #f5f5f5;
      padding: 20px 20px 10px;
      margin: -20px -20px 20px;
    }

    /* Give a quick and non-cross-browser friendly divider */
    .content .span4 {
      margin-left: 0;
      padding-left: 19px;
      border-left: 1px solid #eee;
    }

    .navbar-inverse a.brand {
      color:#FFF;
      font-size: 1.3em;
    }

    /* Form default text tweaks */
    input::-webkit-input-placeholder {
      color:    gray;
    }
    input:-moz-placeholder {
      color:    gray;
    }
    
    /* Pagination tweaks */
    .pagination em, .pagination span {
      /*float: left;*/
      padding: 0 14px;
      line-height: 34px;
      border-right: 1px solid;
      border-right-color: rgba(0,0,0,0.15);
      /*text-decoration: none;*/
    }
    
    .pagination span.last {
      border-right: none;
    }

  </style>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="<%=raw ENV['REGISTRY_DOCS_URL'] %>">U.S. Government Social Media Registry API</a>
      </div>
    </div>
  </div>


<div class="container">

  <div class="content">
    <div class="page-header">
      <h1>Admin<%= @page_title ? ": #{@page_title}" : '' %></h1>
    </div>
    <div class="row">

<%= yield %>

    </div>
  </div>

</div> <!-- /container -->

</body>
</html>
