<!DOCTYPE html>
<html>
<head>
  <title>DigitalGov Registry Examples</title>
  <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
  <%= stylesheet_link_tag    "public" %>
  <%= yield :additional_css %>
</head>
<body>
  <%= render partial: "layouts/shared_public_header" %>
  <div class="container">
    <%= yield %>
  </div>
  <%= javascript_include_tag "public" %>
  <%= yield :additional_javascript %>
</body>
</html>
