<!DOCTYPE html>
<html>
<head>
  <title>DigitalGov Registry Examples</title>
  <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
  <%= stylesheet_link_tag    "public" %>
  <%= yield :additional_css %>
</head>
<body class="home page page-id-472 page-template page-template-page-widgetized-php fwidth unboxed hidetitle centercatnav bodybg1" data-twttr-rendered="true">
  <div id="fixednav">
    <div class="limit clearfix">
      <!-- FIXED NAVIGATION MENU -->
      <ul class="fixednav">
        <li class="<%= "active" if request.path == "/" || request.path.include?("swagger") %>">
          <%= link_to "Swagger Docs", swagger_path %>
        </li>
        <li class="<%= "active" if request.path.include?("search") %>">
          <%= link_to "Search Examples", search_path %>
        </li>
        <li class="<%= "active" if request.path.include?("widgets") %>">
          <%= link_to "Widget Examples", widgets_path %>
        </li>
        <?php wp_nav_menu(array('container'=>false,'theme_location'=>'fixednav','fallback_cb'=>'','items_wrap'=>'%3$s')); ?>
      </ul>
      <!-- SOCIAL MEDIA ICONS -->
      <?php get_template_part('sub-icons'); ?>
    </div>
  </div>
  <div id="outer-wrap">
    <div id="wrap">
      <%= yield %>
    </div>
  </div>
  <%= render partial: "layout/digital_gov_static_footer" %>
  <%= javascript_include_tag "public" %>
  <%= yield :additional_javascript %>
</body>
</html>
