<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %> | USA.gov</title>
  <%= stylesheet_link_tag    "usagov" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<%= yield %>

<%= render "shared/webtrends" %>

</body>
</html>
